.page__header .bar {
  background: #420754;
}

.header {
  background: #6e2585;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  color: white;
  display: block; }
  .header::before {
    content: none; }

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%; }
  @media only screen and (min-width: 740px) {
    .header__container {
      padding-top: 1rem;
      padding-bottom: 1rem; } }

.header__logo {
  margin-bottom: 0;
  margin-right: auto; }
  @media only screen and (min-width: 36em) {
    .header__logo {
      -webkit-box-flex: 0;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none; } }
  .header__logo img {
    width: 7rem;
    vertical-align: top; }
    @media only screen and (min-width: 500px) {
      .header__logo img {
        width: 10rem; } }
    @media only screen and (min-width: 740px) {
      .header__logo img {
        width: auto; } }

.header__btn {
  text-align: right;
  line-height: 1;
  color: white;
  margin: 0 0 0 2rem;
  width: auto; }
  @media only screen and (min-width: 300px) and (max-width: 500px) {
    .header__btn {
      font-size: 0.8rem;
      padding: 0.3rem 0.5rem !important; } }

.header__help {
  padding: 0;
  background: #501b61;
  overflow: hidden;
  -webkit-transition: max-height 300ms ease-in;
  -o-transition: max-height 300ms ease-in;
  transition: max-height 300ms ease-in;
  height: auto; }
  .has-js .header__help {
    max-height: 40rem; }
    .has-js .header__help.is-closed {
      max-height: 0;
      -webkit-transition: max-height 200ms ease-out;
      -o-transition: max-height 200ms ease-out;
      transition: max-height 200ms ease-out; }
  @media only screen and (min-width: 300px) and (max-width: 500px) {
    .header__help .mars,
    .header__help .venus {
      font-size: 0.8rem; } }
  .header__help a {
    color: white;
    text-decoration: underline; }
    .header__help a:hover {
      color: white;
      text-decoration: none; }
  .header__help .header__container {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }
    @media only screen and (min-width: 740px) {
      .header__help .header__container {
        padding-top: 1rem;
        padding-bottom: 1rem; } }

.header__title {
  display: none; }

.header__nav {
  margin-left: auto; }
  .footer--census {
    margin: 0 !important; }
    .footer--census .nav--horizontal {
      display: none !important; }
    .footer--census .footer__help {
      display: none !important; }


.footer {
  display: none;
}
.footer--census {
  background: white;
  height: auto;
  padding: 0;
  margin: 1.5rem 0 0;
  background-color: transparent;
  position: relative;
  color: #222; }
  .footer--census .footer__container {
    overflow: hidden; }
  .footer--census .footer__logo {
    display: block;
    margin: 0 0 1rem;
    width: 150px; }
    .footer--census .footer__logo img {
      display: block;
      height: auto;
      width: 100%; }
    @media only screen and (min-width: 740px) {
      .footer--census .footer__logo {
        width: 190px; } }
  .footer--census .footer__help {
    background: #6e2585;
    color: white;
    padding: 0.5rem 0; }
    @media only screen and (min-width: 300px) and (max-width: 500px) {
      .footer--census .footer__help {
        height: 4px;
        padding: 0;
        overflow: hidden; } }
    @media only screen and (min-width: 500px) {
      .footer--census .footer__help {
        padding: 0.5rem 0; } }
    @media only screen and (min-width: 740px) {
      .footer--census .footer__help {
        padding: 1rem 0; } }
    .footer--census .footer__help a {
      color: white;
      text-decoration: underline; }
  .footer--census .footer__nav {
    border-top: 1px solid #999;
    margin: 0 0 0.5rem;
    padding: 0.5rem 0;
    width: 100%;
    list-style: none; }
    @media only screen and (min-width: 300px) and (max-width: 500px) {
      .footer--census .footer__nav .nav__item {
        font-size: 14px;
        margin: 0;
        padding: 0 0.5rem; }
        .footer--census .footer__nav .nav__item:first-child {
          padding-left: 0; }
        .footer--census .footer__nav .nav__item:last-child {
          padding-right: 0; }
      .footer--census .footer__nav .nav__link {
        letter-spacing: -0.01rem; } }
    @media only screen and (min-width: 740px) {
      .footer--census .footer__nav {
        margin: 0 0 1rem; } }
  .footer--census .footer__helpnav {
    display: inline-block;
    vertical-align: bottom; }
  .footer--census .footer__back {
    float: right;
    position: relative;
    top: -0.1rem;
    width: auto;
    display: block; }
.footer2 {
  padding: 90px 0;
  padding: 2rem 0;
  margin-top: 36px;
  margin-top: 2rem;
  background-color: #595959;
  color: #e4e8eb; }

.footer2_container {
  width: 1080px;
  margin: -20px;
  padding: 0px; }

a {
  color: #4263c2; }

.footer2__link {
  color: #e4e8eb; }

.footer2__link:focus {
  color: white; }

.footer2__link:hover {
  color: #e4e8eb; }

.footer2 ul li {
  list-style-type: none; }

.footer2 .venus {
  margin: 2rem 0 1rem 0; }

.footer2-nav {
  padding: 0 0 2rem 0; }

.footer2 .dl__data {
  padding-left: 15px; }

.panel--neutral {
  background: #faf4fc; }
  .panel--neutral .panel__header {
    background: #6e2585; }

.panel--simple.panel--neutral {
  border-color: #6e2585; }

.header--census .btn--light.btn--border:hover, .btn--light.btn--border:focus {
    color: #6e2585;
}