---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html.prototypes-home {
  font-size: 18px;
  body {
    background: white;
  }

  h1 {
    font-size: 1.2rem;
  }
}

.site-header {
  background: #222;
  color: white;
  padding: 0.3rem 0;
  margin-bottom: 3rem;
  a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}

.prototype-list {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 1rem 0;
    border-bottom: 1px solid #efefef;
  }

  a {
    text-decoration: none;
  }
}
