---
title: Household Questionnaire v2
subtitle: England
project: 2017 Census wave 2
globalcss: false
---

{% include survey-header-census.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="">Previous</a><br/><br/>
        <form action="../section-8" class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="hidden-form">
          </div>
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number question__title__number--census venus">2</span>Household</h2>
                <div class="question">
                  <h3 class="question__title neptune"><span class="question__title__number venus">2.5</span>How is <strong class="strong-census"><span class="first-person"></span></strong> related to <strong class="strong-census"><span class="second-person"></span></strong>?</h3>
                  <div class="question__description mars" id="description-6cc86b54-330c-4465-99b2-34cc7073dc2c">
                    <p class="mars">If they are not related, select the ‘unrelated’ option</p>
                  </div>
                  <div class="question__responses">
                    <div class="response response--radio">
                      <div class="field field--multi field--radio">
                        <div class="field__item field__item--census">
                          <input class="input input--radio" type="radio" name="q6" id="form-input-1" value="husband or wife" title="Husband or wife">
                          <label class="label label--inline" for="form-input-1"><span class="label__inner">Husband or wife</span></label>
                        </div>
                        <div class="field__item field__item--census">
                          <input class="input input--radio" type="radio" name="q6" id="form-input-7" value="partner" title="Partner">
                          <label class="label label--inline" for="form-input-7"><span class="label__inner">Partner</span></label>
                        </div>
                        <div class="field__item field__item--census">
                          <input class="input input--radio" type="radio" name="q6" id="form-input-2" value="mother or father" title="Mother or father">
                          <label class="label label--inline" for="form-input-2"><span class="label__inner">Mother or father</span></label>
                        </div>
                        <div class="field__item field__item--census">
                          <input class="input input--radio" type="radio" name="q6" id="form-input-8" value="son or daughter" title="Son or daughter">
                          <label class="label label--inline" for="form-input-8"><span class="label__inner">Son or daughter</span></label>
                        </div>
                        <div class="field__item field__item--census">
                          <input class="input input--radio" type="radio" name="q6" id="form-input-3" value="step-mother or step-father" title="Step-mother or step-father">
                          <label class="label label--inline" for="form-input-3"><span class="label__inner">Step-mother or step-father</span></label>
                        </div>
                        <div class="field__item field__item--census">
                          <input class="input input--radio" type="radio" name="q6" id="form-input-9" value="step-child" title="Step-child">
                          <label class="label label--inline" for="form-input-9"><span class="label__inner">Step-child</span></label>
                        </div>
                        <div class="field__item field__item--census">
                          <input class="input input--radio" type="radio" name="q6" id="form-input-4" value="brother or sister" title="Brother or sister">
                          <label class="label label--inline" for="form-input-4"><span class="label__inner">Brother or sister</span></label>
                        </div>
                        <div class="field__item field__item--census">
                          <input class="input input--radio" type="radio" name="q6" id="form-input-10" value="step–brother or step–sister" title="Step–brother or step–sister">
                          <label class="label label--inline" for="form-input-10"><span class="label__inner">Step–brother or step–sister</span></label>
                        </div>
                        <div class="field__item field__item--census">
                          <input class="input input--radio" type="radio" name="q6" id="form-input-5" value="grandparent" title="Grandparent">
                          <label class="label label--inline" for="form-input-5"><span class="label__inner">Grandparent</span></label>
                        </div>
                        <div class="field__item field__item--census">
                          <input class="input input--radio" type="radio" name="q6" id="form-input-11" value="grandchild" title="Grandchild">
                          <label class="label label--inline" for="form-input-11"><span class="label__inner">Grandchild</span></label>
                        </div>
                        <div class="field__item field__item--census">
                          <input class="input input--radio" type="radio" name="q6" id="form-input-6" value="same sex civil-partner" title="Same sex civil-partner">
                          <label class="label label--inline" for="form-input-6"><span class="label__inner">Same sex civil-partner</span></label>
                        </div>
                        <div class="field__item field__item--census">
                          <input class="input input--radio" type="radio" name="q6" id="form-input-12" value="relation - other" title="Relation - other">
                          <label class="label label--inline" for="form-input-12"><span class="label__inner">relation - other</span></label>
                        </div>
                        <div class="field__item field__item--census">
                          <input class="input input--radio" type="radio" name="q6" id="form-input-13" value="unrelated" title="Unrelated">
                          <label class="label label--inline" for="form-input-13"><span class="label__inner">Unrelated</span></label>
                        </div>
                      </div>
                    </div>
                    <h2 class="neptune"><span class="first-person"></span> is <strong class="strong-census"><span class="relationship">…</span></strong> of <span class="second-person"></span> </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--census qa-btn-get-started venus" type="submit" name="">Save and continue</button><br/><br/>
          <a class="mars" href="">Save and complete later</a><br/><br/>
          <a class="mars" href="">Previous</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% include footer-census.html %}

<script>

$( document ).ready(function() {
  $('input').on('change', function() {
    $( '.relationship' ).html($(this).val());
  });

  // Create person objects in array on first load
  var numberOfEntities = sessionStorage.getItem('numberOfEntities');
  if (sessionStorage.getItem('object') == null) {
    var personObject = [];
    var counter = 0;
    for (var i = 0; i < numberOfEntities; i++) {
      personObject[i] = {};
      for (var y = 0; y < numberOfEntities; y++) {
        if (y != counter) {
          personObject[i][sessionStorage.getItem('firstName' + y)] = "";
        }
      }
      ++counter;
    };
  } else {
    var personObject = JSON.parse(sessionStorage.object);
  }

  // Add first and second person to form question
  function addPeopleToQuestion(relValue) {
    var count = 0;
    for (var i = 0; i < numberOfEntities; i++) {
      for (var z = 0; z < numberOfEntities; z++) {
        if (personObject[i][sessionStorage.getItem('firstName' + z)] == "") {
          if (count == 0) {
            $( '.first-person' ).html(sessionStorage.getItem('firstName' + i) + " " + sessionStorage.getItem('lastName' + i));
            $( '.second-person' ).html(sessionStorage.getItem('firstName' + z) + " " + sessionStorage.getItem('lastName' + z));
            if (relValue) {
              personObject[i][sessionStorage.getItem('firstName' + z)] = relValue;
              personObject[z][sessionStorage.getItem('firstName' + i)] = relValue;
              var penultimateEntity = numberOfEntities - 2;
              var ultimateEntity = numberOfEntities - 1;
              // 2 3
              if (i == penultimateEntity && ultimateEntity) {
                window.location.href = "../section-9";
              } else {
                window.location.href = "../section-8";
              }
            }
          }
          ++count;
        }
      }
    }
  }
  addPeopleToQuestion();
  $('.qa-btn-get-started').click(function(e) {
    e.preventDefault();
    var relValue = $("input[name='q6']:checked").val();
    addPeopleToQuestion(relValue);
    sessionStorage.setItem('object', JSON.stringify(personObject));
  });

});

</script>
