---
title:  Mutually exclusive - none with validation (Social example)
project: Checkboxes (mutually exclusive)
globalcss: false
---

<link rel="stylesheet" href="{{ '/css/census-header-footer.css' | prepend: site.baseurl }}" />
<style>
    .hide {
        display : none;
    }
</style>

<header class="page__header">
    {% include bar.html %}
    {% include header-census.html %}
</header>

<div class="page__subheader">
    <div class="container">
        <a class="mars" href="../index">Previous</a>
    </div>
</div>

<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
        </div>
        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">

                <div id="error-panel" class="hide">
                    <div class="panel panel--error">
                        <div class="panel__header">
                            <div class="venus">This page has 1 error</div>
                        </div>
                        <div class="panel__body">
                            <p>This <strong>must be corrected</strong> to continue.</p>
                            <ul class="list list--bare">
                                <li class="list__item mars">
                                    <a id="piped-error-message"
                                       class="js-inpagelink"
                                       href="#container-mandatory-checkbox-answer"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>

                <form action="../../../thankyou/index.html" class="form qa-questionnaire-form" role="form" autocomplete="off" novalidate="">
                    <div class="group">
                        <div class="block" id="central-heating">

                            <section class="section" id="central-heating-section">

                                <div class="question" id="heating-type">
                                    <h1 class="question__title saturn">What type of vehicle do you have access to?</h1>

                                    <div class="question__answers">
                                        <div class="question__answer">
                                            <div class="answer" id="container-mandatory-checkbox-answer">

                                                <div class="answer__fields js-fields" id="central-heating-answer-fields">
                                                    <div class="field field--checkbox field--multiplechoice">
                                                        <label class="label venus">
                                                            <div class="label__inner">Select all that apply:</div>
                                                        </label>
                                                        <div class="field__item js-focusable-box">
                                                            <input class="input input--checkbox js-focusable" value="private-car" name="question-type" type="checkbox" id="checkbox1">
                                                            <label class="label label--inline venus js-label" for="checkbox1">Private car</label>
                                                        </div>
                                                        <div class="field__item js-focusable-box">
                                                            <input class="input input--checkbox js-focusable" value="company-car" name="question-type" type="checkbox" id="checkbox2">
                                                            <label class="label label--inline venus js-label" for="checkbox2">Company car</label>
                                                        </div>
                                                        <div class="field__item js-focusable-box">
                                                            <input class="input input--checkbox js-focusable" value="van" name="question-type" type="checkbox" id="checkbox3">
                                                            <label class="label label--inline venus js-label" for="checkbox3">Van</label>
                                                        </div>
                                                        <div class="field__item js-focusable-box">
                                                            <input class="input input--checkbox js-focusable" value="motorbike" name="question-type" type="checkbox" id="checkbox4">
                                                            <label class="label label--inline venus js-label" for="checkbox4">Motorbike</label>
                                                        </div>
                                                        <div class="field__item js-focusable-box">
                                                            <input class="input input--checkbox js-focusable" value="minibus" name="question-type" type="checkbox" id="checkbox5">
                                                            <label class="label label--inline venus js-label" for="checkbox5">Minibus</label>
                                                        </div>
                                                        <div class="field__item js-focusable-box">
                                                            <input class="input input--checkbox js-focusable" value="none" name="question-type" type="checkbox" id="checkbox6">
                                                            <label class="label label--inline venus js-label" for="checkbox6">I don’t have access to a vehicle</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <aside class="panel panel--simple panel--error hide" data-qa="error" id="error-panel-container">
                                                    <div class="panel__header">
                                                        <ul class="list list--bare list--errors">
                                                            <li class="list__item mars" data-ga="error"
                                                                id="error-panel-container-message"
                                                                data-ga-category="Error"
                                                                data-ga-label="mandatory-checkbox-question"
                                                                data-ga-action="Select all that apply to continue.">
                                                                Select all that apply to continue.
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="panel__body" data-qa="error-body" id="central-heating-answer-fields-container"></div>
                                                </aside>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <button class="btn btn--primary btn--lg qa-btn-submit venus" type="submit" name="">Save and continue</button>
                    <div class="u-mb-m">
                        <button class="btn btn--link mars js-btn-save" type="submit" name="action[save_sign_out]">Save and complete later</button>
                    </div>
                </form>
                <a class="page__previous page__previous--bottom js-previous-link" href="../index" id="bottom-previous">Previous</a>
            </main>
        </div>
    </div>
</div>

<script src='/js/compiled/standard-bundle.js'></script>

<script>

    $(document).ready(function () {

    	var nameGroup = 'question-type';

    	function onSubmit (e) {
            var showError = false,
                checkboxErrorLabelArr = [],
                errorMessageTemplate = 'Uncheck ${otherLabels} <strong>or</strong> "I don\’t have access to a vehicle" to continue.',

                $noneCheckbox = $('input:checkbox[name=' + nameGroup + '][value=none]'),
                $noneCheckboxChecked = $('input:checkbox[name=' + nameGroup + '][value=none]:checked'),
                $otherCheckboxesChecked = $('input:checkbox[name=' + nameGroup + ']:checked').not($noneCheckbox);

            if ($otherCheckboxesChecked.length && $noneCheckboxChecked.length) {
                e.preventDefault();
                showError = true;

                $otherCheckboxesChecked.each(function () {
                  checkboxErrorLabelArr.push($(this).next('.js-label').text());
                });
            }

            toggleError_handler({
              showError: showError,
              errorMessage: formatErrorMessage(checkboxErrorLabelArr, errorMessageTemplate)
            });
        }

        function formatErrorMessage (labels, template) {

            return template.replace('${otherLabels}',
                ' ' +
                labels
                    .map(function (item) {
                        return '"' + item + '"';
                    })
                    .join(' and ') +
                ' ');
        }

        function toggleError_handler (opts) {
    		window.scrollTo(0, 0);
    		opts.showError ? showError(opts.errorMessage) : hideError();
        }

        function showError (errorMessage) {
    	    $('#piped-error-message').html(errorMessage);
            $('#error-panel-container-message').html(errorMessage);
    	    $('#error-panel').removeClass('hide');
            $('#central-heating-answer-fields-container').append($('#central-heating-answer-fields'));
            $('#error-panel-container').removeClass('hide');
        }

        function hideError () {
            $('#piped-error-message').html('');
            $('#error-panel-container-message').html('');
            $('#error-panel').addClass('hide');
            $('#container-mandatory-checkbox-answer').append($('#central-heating-answer-fields'));
            $('#error-panel-container').addClass('hide');
        }

        $('.qa-questionnaire-form').on('submit', onSubmit);
    });
</script>
