---
title: Monthly Business Survey
project: MBS 0111
globalcss: false
---

<header class="page__header">
{% include survey-header.html %}
{% include bar.html %}
</header>

<div class="page__subheader">
  <div class="container">
    <a class="mars" href="../section-4/">Previous</a>
  </div>
</div>

<div class="page__container container">
  <div class="grid grid--reverse">
    <div class="grid__col col-4@m">
    </div>
    <div class="grid__col col-7@m pull-1@m">
      <main role="main" id="main" class="page__main">
        <form action="../" class="form qa-questionnaire-form" role="form" autocomplete="off" novalidate="">
          <div class="group" id="rsi">
            <div class="block" id="total-retail-turnover">
              <section class="section" id="total-retail-turnover-section">
                <h2 class="section__title neptune">Changes in total turnover</h2>
                <!-- <div class="section__description mars">
                  <p>1 April 2016 to 31 March 2017</p>
                  <p>- You should enter figures for the reporting period stated above
                </br>- Include VAT and internet sales</p>
                </div> -->
                <div class="question" id="total-retail-turnover-question">
                  <h1 class="question__title saturn">
                    Please describe the changes in total turnover for <span class="config1"></span> in more detail.
                  </h1>
                  <div class="question__description mars" id="description-total-retail-turnover-question">
                    <p>We rely on your commentary to ‘tell the story’ behind changes in figures.  By commenting here it will reduce the need for us to call you.</p>
                  </div>
                  <div class="question__answers">
                    <div class="question__answer">
                      <div class="answer answer--textarea  " id="container-answer">
                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label id="label-answer" class="label venus " for="answer">
                              <div class="label__inner">Enter your comments</div>
                            </label>
                            <textarea aria-describedby="description-question guidance-answer-trigger" rows="8" id="comments" class="input input--textarea js-charlimit-input" maxlength="200" name="answer" cols="60" data-maxlength="20"></textarea>
                            <div id="answer-remaining" class="input__limit u-mt-xs mercury">Characters remaining: <span>200</span></div>
                          </div>
                        </div>
                      </div>

                      <div class="guidance js-details" data-show-label="Show further guidance" data-hide-label="Hide further guidance">
                        <a class="guidance__link js-details-trigger js-details-label mars" href="#guidance-permanent-or-family-home-answer" aria-expanded="false" data-guidance-trigger="true" aria-controls="guidance-permanent-or-family-home-answer-body" id="guidance-permanent-or-family-home-answer-trigger" data-ga-category="Help" data-ga-label="permanent-or-family-home-answer" data-ga="click" data-ga-action="Guidance click">Show examples of commentary on changes to total turnover</a>
                          <div class="guidance__main js-details-body" id="guidance-permanent-or-family-home-answer-body" aria-hidden="true">
                            <div class="guidance__content mars">
                            <h3 class="venus">‘Special Events e.g (sporting events)’</h3>
                              <p>"This is the month before the Euro 2016 (football) championships and we recorded an increase in orders for manufactured food products."</p>
                            <h3 class="venus">‘Weather’</h3>
                              <p>"Bad weather caused a flood at one of our manufacturing sites, this reduced the amount of manufacturing we could undertake and affected sales."</p>
                            <h3 class="venus">‘Calendar events e.g. Christmas, Easter, Bank Holiday.’</h3>
                              <p>"We closed the business for two weeks over the Christmas period. This has led to a reduction in total sales this month."</p>
                            <h3 class="venus">‘Prices’</h3>
                              <p>"We have increased the prices of our products/ services. We do this every January, hence our sales figures appear higher."</p>
                            <h3 class="venus">‘Currency Effects (appreciation or depreciation)’</h3>
                              <p>"The depreciation of sterling in June 2016 resulted in more online sales from overseas."</p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
              </section>
            </div>
          </div>
          <button class="btn btn--primary btn--lg qa-btn-submit venus" type="submit" name="">Save and continue</button>
          <div class="u-mb-m">
            <button class="btn btn--link mars js-btn-save" type="submit" name="action[save_sign_out]">Save and complete later</button>
          </div>
        </form>
        <a class="page__previous page__previous--bottom js-previous-link" href="../section-4/" id="bottom-previous">Previous</a>
      </main>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
  if ($('.q1').length > 0) {
    var q1var = sessionStorage.getItem('q1r1');
    $('.q1').text(q1var);
  }
  if ($('.config1').length>0){
    var config1 = sessionStorage.getItem('config1');
    $('.config1').html(config1);
  }

  var config2 = sessionStorage.getItem('config2');
  if(config2!==''){
    $('.config2').html(config2);
  }
  //var comments = sessionStorage.getItem('significantChangesComment');
  $('#comments').val((sessionStorage.getItem('significantChangesComment')));

  console.info(sessionStorage);

  $('.qa-btn-submit').click(function(e) {
    e.preventDefault();

    var significantChangesComment = $('#comments').val();
    sessionStorage.setItem('significantChangesComment',significantChangesComment);

      window.location.href = "../summary/"; // Answers turnover

  });

  $('.js-details-trigger').click(function(e) {
    var text = $(this).text();
    if ($('.js-details').hasClass('is-expanded')){
      $(this).text(text.replace('Hide', 'Show'));
    } else {
      $(this).text(text.replace('Show', 'Hide'));
    }
    e.preventDefault();
    $('.js-details').toggleClass('is-expanded');

  });

});
</script>
