---
title: Totals v1 (replay inputs)
project: Totals
globalcss: false

---

<header class="page__header">
{% include survey-header.html %}
{% include bar.html %}
</header>
<style>
.hidden {display: none;}
</style>
<div class="page__subheader">
  <div class="container">
    <a class="mars" href="../playback">Previous</a>
  </div>
</div>

<div class="page__container container">
  <div class="grid grid--reverse">
    <div class="grid__col col-4@m">
    </div>
    <div class="grid__col col-7@m pull-1@m">
      <main role="main" id="main" class="page__main">
        <!-- Error head start -->
            <div class="panel panel--error u-mb-s hidden" data-qa="error">
              <div class="panel__header">
                <h1 class="panel__title venus">This page has 1 error</h1>
              </div>
              <div class="panel__body" data-qa="error-body">
                <p class="mars">These <strong>must be corrected</strong> to continue.</p>
                <ul class="list list--bare">

                    <li class="list__item mars">
                      1) <a class="js-inpagelink" id="errorLink" href="#q4r1">Please amend this answer to continue.</a>
                    </li>

                  </ul>
                </div>
              </div>
        <!-- End error head -->

        <form action="../thankyou" class="form qa-questionnaire-form" role="form" autocomplete="off" novalidate="">
          <div class="group" id="rsi">
            <div class="block" id="total-retail-turnover">
              <section class="section" id="total-retail-turnover-section">
                <h1 class="section__title neptune">
                  Commodities Retail Turnover
                </h1>
                <div class="question" id="total-retail-turnover-question">
                  <h2 class="question__title saturn">
                    Of your total retail turnover, <span class="highlight"><span class="q3r6"></span></span>, how much was from <span class="highlight">internet sales</span>?
                  </h2>
                  <div class="question__description mars" id="description-total-retail-turnover-question">
                    <p>Round your figures to the nearest whole pound (£). Even if your figures are zero, please still complete.</p>
                  </div>
                  <!-- <aside class="question__guidance">
                    <div class="panel panel--simple panel--info" id="question-guidance-total-retail-turnover-question">
                      <h3 class="venus">Include</h3>
                      <ul class="mars">
                        <li>VAT</li>
                        <li>internet sales</li>
                      </ul>
                      <h3 class="venus">Exclude</h3>
                      <ul class="mars">
                        <li>revenue from mobile phone network commission and top up </li>
                        <li>sales from catering facilities used by customers</li>
                        <li>lottery sales and commission from lottery sales</li>
                        <li>sales of car accessories and motor vehicles</li>
                        <li>NHS receipts</li>
                      </ul>
                    </div>
                  </aside> -->
                  <div class="question__answers">
                    <div class="question__answer">
                      <div class="answer answer--currency" id="total-retail-turnover-answer">
                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label for="q4r1" id="label-total-retail-turnover-answer" class="label venus ">
                              <div class="label__inner">
                                Internet sales total
                              </div>
                            </label>
                            <div class="input-type input-type--currency">
                              <span class="input-type__type" id="total-retail-turnover-answer-type">£</span>
                              <input id="q4r1" value="" data-qa="input-text" name="q4r1" class="input input--text input-type__input">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </section>
            </div>
          </div>
          <button class="btn btn--primary btn--lg qa-btn-submit venus" type="submit" name="">Save and continue</button>
          <div class="u-mb-m">
            <button class="btn btn--link mars js-btn-save" type="submit" name="action[save_sign_out]">Save and complete later</button>
          </div>
        </form>
        <a class="page__previous page__previous--bottom js-previous-link" href="../playback" id="bottom-previous">Previous</a>
      </main>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
  console.info(sessionStorage);

  if ($('.q3r6').length > 0) {
    var retailTotal = sessionStorage.getItem('retailTotal');
    $('.q3r6').text(retailTotal);
  }

  var q4r1_answer = sessionStorage.getItem('q4r1');

  if(q4r1_answer!==""){
    $('#q4r1').val(q4r1_answer);
  }

  $('.qa-btn-submit').click(function(e) {
    var q4r1_answer = $('#q4r1').val();

    var errorPrep = '<div class="panel__header"><ul class="list list--bare list--errors"><li class="list__item mars" data-ga-action="Please correct an answer to continue." data-ga-label="single-date-question" data-ga="error" data-ga-category="Error"><p>Your answer, <strong>£'+q4r1_answer+'.00</strong>, must be less than the total retail turnover,&nbsp;<strong>'+retailTotal+'</strong>.</p><h3 class="venus">Amend an answer to continue.</h3><p><a href="../playback/">I need to amend the total retail turnover</a><br/>or<br /><a href="#q4r1">I need to amend the internet sales value</a></p></li></ul></div>';

    var t = retailTotal.replace(/,/g,'');
    var t = Number(t.slice(1));

    if( ($("#q4r1").val()) > t ) {

      $(".panel--error").toggleClass("hidden");
      $('#errorLink').attr('href','#total-retail-turnover-answer');
      $('#total-retail-turnover-answer .answer__fields').wrap('<div class="panel__body" data-qa="error-body">').prepend(errorPrep);
      $('#total-retail-turnover-answer').wrap('<div class="answer answer--date js-has-errors" id="errorq2r1"><aside class="panel panel--simple panel--error" data-qa="error">');
      $(window).scrollTop(0); // faux submission behaviour - top of page.

      e.preventDefault();

    } else {
      window.location.href = "../feedback/"; // target of save and continue
    }

    //window.location.href = "../feedback/"; // target of save and continue

        if ("text" === "text") {
          var inputValue = $("input[name='q4r1']").val();
          sessionStorage.setItem('q4r1', inputValue);
        } else {
          var inputValue = $("input[name='q4r1']:checked").val();
          sessionStorage.setItem('q4r1', inputValue);
        }

    e.preventDefault();
  });

// Experiment #1
  if($('#q4r2').length>0){
   console.log('found £1k field');
   $(this).keyup(function(){
                console.log('value:'+$(this).attr.val());
            });
  };
});
</script>
