---
title: Totals v2 (replay inputs)
project: Totals
globalcss: false

---

<header class="page__header">
{% include survey-header.html %}
{% include bar.html %}
</header>

<div class="page__subheader">
  <div class="container">
    <a class="mars" href="../section-4">Previous</a>
  </div>
</div>

<div class="page__container container">
  <div class="grid grid--reverse">
    <div class="grid__col col-4@m">
    </div>
    <div class="grid__col col-7@m pull-1@m">
      <main role="main" id="main" class="page__main">
        <form action="../thankyou" class="form qa-questionnaire-form" role="form" autocomplete="off" novalidate="">
          <div class="group" id="rsi">
            <div class="block" id="total-retail-turnover">
              <section class="section" id="total-retail-turnover-section">
                <h2 class="section__title neptune">Commodities Retail Turnover</h2>
                <div class="section__description mars">
                  <p>1 April 2016 to 31 March 2017</p>
                  <p>- You should enter figures for the reporting period stated above
                </br>- Include VAT and internet sales</p>
                </div>
                <div class="question" id="total-retail-turnover-question">
                  <h1 class="question__title saturn">
                    What was the value of the business&rsquo;s total sales of <span class="highlight">other goods</span>?
                  </h1>
                  <!-- <div class="question__description mars" id="description-total-retail-turnover-question">
                    <p>Include VAT and internet sales.</p>
                  </div> -->
                  <!-- <aside class="question__guidance">
                    <div class="panel panel--simple panel--info" id="question-guidance-total-retail-turnover-question">
                      <h3 class="venus">Include</h3>
                      <ul class="mars">
                        <li>Include VAT and internet sales</li>
                        <li>all fresh food</li>
                        <li>other food for human consumption (except chocolate and sugar confectionery)</li>
                        <li>soft drinks</li>
                      </ul>
                      <h3 class="venus">Exclude</h3>
                      <ul class="mars">
                        <li>sales from catering facilities used by customers</li>
                        <li>National lottery</li>
                      </ul>
                    </div>
                  </aside> -->
                  <div class="question__answers">
                    <div class="question__answer">
                      <div class="answer answer--currency" id="total-retail-turnover-answer">
                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label for="q3r1" id="label-total-retail-turnover-answer" class="label venus ">
                              <div class="label__inner">
                                Total value of other goods
                              </div>
                              <div class="question__description mars" id="description-reason-for-change-question">Round to the nearest pound. Do not include pence.</div>
                            </label>
                            <div class="input-type input-type--currency">
                              <span class="input-type__type" id="total-retail-turnover-answer-type">£</span>
                              <input id="q3r5" value="" data-qa="input-text" name="q3r5" class="input input--text input-type__input">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="guidance js-details" data-show-label="Show further guidance" data-hide-label="Hide further guidance">
                        <!--div class="panel panel--simple panel--info"-->  <a class="guidance__link js-details-trigger js-details-label mars" href="#guidance-permanent-or-family-home-answer" aria-expanded="false" data-guidance-trigger="true" aria-controls="guidance-permanent-or-family-home-answer-body" id="guidance-permanent-or-family-home-answer-trigger" data-ga-category="Help" data-ga-label="permanent-or-family-home-answer" data-ga="click" data-ga-action="Guidance click">Show further guidance</a>
                          <div class="guidance__main js-details-body" id="guidance-permanent-or-family-home-answer-body" aria-hidden="true">
                            <div class="guidance__content mars">
                            <h3 class="venus">Include</h3>
                            <ul>
                              <li>toiletries and medications (except NHS receipts)</li>
                              <li>newspapers and periodicals</li>
                              <li>books, stationery and office supplies</li>
                              <li>photographic and optical goods</li>
                              <li>spectacles, contact lenses and sunglasses</li>
                              <li>toys and games</li>
                              <li>cycles and cycle accessories</li>
                              <li>sport and camping equipment</li>
                              <li>jewellery</li>
                              <li>silverware and plate, clocks and watches</li>
                              <li>household cleaning products and kitchen paper products</li>
                              <li>pets, pets’ requisites and pet foods</li>
                              <li>cut flowers, plants, seeds and other garden sundries</li>
                              <li>other new and second hand goods</li>
                              <li>Mobile phones</li>
                            </ul>
                            <h3 class="venus">Exclude</h3>
                            <ul>
                              <li>revenue from mobile phone network commission and top up</li>
                              <li>lottery sales and commission from lottery sales</li>
                              <li>sales of car accessories and motor vehicles</li>
                              <li>NHS receipts</li>
                            </ul>
                          </div>
                        </div>
                      <!-- </div> -->
                    </div>
                    <!-- <div class="question__answer">
                      <div class="answer answer--currency" id="total-retail-turnover-answer">
                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label for="q3r5" id="label-total-retail-turnover-answer" class="label venus ">
                              <div class="label__inner">
                                Wages
                              </div>
                              <div class="question__description mars" id="description-reason-for-change-question">Round to the nearest pound. Do not include pence.</div>
                            </label>
                            <div class="input-type input-type--currency">
                              <span class="input-type__type" id="total-retail-turnover-answer-type">£</span>
                              <input id="q3r5" value="" data-qa="input-text" name="q3r5" class="input input--text input-type__input">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="question__answer">
                      <div class="answer answer--currency" id="total-retail-turnover-answer">
                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label for="q3r5" id="label-total-retail-turnover-answer" class="label venus ">
                              <div class="label__inner">
                                Motor vehicles
                              </div>
                              <div class="question__description mars" id="description-reason-for-change-question">Round to the nearest pound. Do not include pence.</div>
                            </label>
                            <div class="input-type input-type--currency">
                              <span class="input-type__type" id="total-retail-turnover-answer-type">£</span>
                              <input id="q3r5" value="" data-qa="input-text" name="q3r5" class="input input--text input-type__input">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="question__answer">
                      <div class="answer answer--currency" id="total-retail-turnover-answer">
                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label for="q3r4" id="label-total-retail-turnover-answer" class="label venus ">
                              <div class="label__inner">
                                Rent / property charges
                              </div>
                              <div class="question__description mars" id="description-reason-for-change-question">Round to the nearest pound. Do not include pence.</div>
                            </label>
                            <div class="input-type input-type--currency">
                              <span class="input-type__type" id="total-retail-turnover-answer-type">£</span>
                              <input id="q3r4" value="" data-qa="input-text" name="q3r4" class="input input--text input-type__input">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="question__answer">
                      <div class="answer answer--currency" id="total-retail-turnover-answer">
                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label for="q3r5" id="label-total-retail-turnover-answer" class="label venus ">
                              <div class="label__inner">
                                Purchases
                              </div>
                              <div class="question__description mars" id="description-reason-for-change-question">Round to the nearest pound. Do not include pence.</div>
                            </label>
                            <div class="input-type input-type--currency">
                              <span class="input-type__type" id="total-retail-turnover-answer-type">£</span>
                              <input id="q3r5" value="" data-qa="input-text" name="q3r5" class="input input--text input-type__input">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="question__answer">
                      <div class="answer answer--currency" id="total-retail-turnover-answer">
                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label for="q3r6" id="label-total-retail-turnover-answer" class="label venus ">
                              <div class="label__inner">
                                Other items
                              </div>
                              <div class="question__description mars" id="description-reason-for-change-question">Round to the nearest pound. Do not include pence.</div>
                            </label>
                            <div class="input-type input-type--currency">
                              <span class="input-type__type" id="total-retail-turnover-answer-type">£</span>
                              <input id="q3r6" value="" data-qa="input-text" name="q3r6" class="input input--text input-type__input">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <!-- <div class="question__answer question__total">
                      <div class="answer answer--currency" id="total-retail-turnover-answer">
                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label for="q3r6" id="label-total-retail-turnover-answer" class="label venus ">
                              <div class="label__inner">
                                Total retail turnover
                                <p class="mars field__description">Round to the nearest pound (£).</p>
                              </div>
                            </label>
                            <div class="input-type input-type--currency">
                              <span class="input-type__type" id="total-retail-turnover-answer-type">£</span>
                              <input id="q3r6" value="" data-qa="input-text" name="q3r6" class="input input--text input-type__input">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </section>
            </div>
          </div>
          <button class="btn btn--primary btn--lg qa-btn-submit venus" type="submit" name="">Save and continue</button>
          <div class="u-mb-m">
            <button class="btn btn--link mars js-btn-save" type="submit" name="action[save_sign_out]">Save and complete later</button>
          </div>
        </form>
        <a class="page__previous page__previous--bottom js-previous-link" href="../section-4" id="bottom-previous">Previous</a>
      </main>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
  if ($('.q1').length > 0) {
    var q1var = sessionStorage.getItem('q1r1');
    $('.q1').text(q1var);
  }
  if ($('.config1').length>0){
    var config1 = sessionStorage.getItem('config1');
    $('.config1').html(config1);
  }

  var q3r5_answer = sessionStorage.getItem('q3r5');
  // var q3r5_answer = sessionStorage.getItem('q3r5');
  // var q3r5_answer = sessionStorage.getItem('q3r5');
  // var q3r4_answer = sessionStorage.getItem('q3r4');
  // var q3r5_answer = sessionStorage.getItem('q3r5');
  // var q3r6_answer = sessionStorage.getItem('q3r6');

  if(q3r5_answer!==""){
    $('#q3r5').val(q3r5_answer);
  }
  // if(q3r5_answer!==""){
  //   $('#q3r5').val(q3r5_answer);
  // }
  // if(q3r5_answer!==""){
  //   $('#q3r5').val(q3r5_answer);
  // }
  // if(q3r4_answer!=""){
  //   $('#q3r4').val(q3r4_answer);
  // }
  // if(q3r5_answer!=""){
  //   $('#q3r5').val(q3r5_answer);
  // }
  // if(q3r6_answer!=""){
  //   $('#q3r6').val(q3r6_answer);
  // }

  console.info(sessionStorage);
  // $('.qa-btn-get-started').click(function(e) {
  $('.qa-btn-submit').click(function(e) {
    e.preventDefault();

    var editing = sessionStorage.getItem('editing');
    if(editing=='true'){
      window.location.href="../playback/";
    } else {
      window.location.href = "../playback"; // target of save and continue
    }

        if ("text" === "text") {
          var inputValue = $("input[name='q3r5']").val();
          sessionStorage.setItem('q3r5', inputValue);
          // var inputValue = $("input[name='q3r5']").val();
          // sessionStorage.setItem('q3r5', inputValue);
          // var inputValue = $("input[name='q3r5']").val();
          // sessionStorage.setItem('q3r5', inputValue);
          // var inputValue = $("input[name='q3r4']").val();
          // sessionStorage.setItem('q3r4', inputValue);
          // var inputValue = $("input[name='q3r5']").val();
          // sessionStorage.setItem('q3r5', inputValue);
          // var inputValue = $("input[name='q3r6']").val();
          // sessionStorage.setItem('q3r6', inputValue);
          // var inputValue = $("input[name='q3r6']").val();
          // sessionStorage.setItem('q3r6', inputValue);

        } else {
          var inputValue = $("input[name='q3r5']:checked").val();
          sessionStorage.setItem('q3r5', inputValue);
        }
  });

  $('.js-details-trigger').click(function(e) {
    var text = $(this).text();
    if ($('.js-details').hasClass('is-expanded')){
      $(this).text(text.replace('Hide', 'Show'));
    } else {
      $(this).text(text.replace('Show', 'Hide'));
    }
    e.preventDefault();
    $('.js-details').toggleClass('is-expanded');

  });

});
</script>
