---
title: Totals v2 (replay inputs)
project: Totals
globalcss: false
---

<header class="page__header">
{% include survey-header.html %}
{% include bar.html %}
</header>
<style>
#retailTotal {word-wrap: normal; word-break: normal;}
</style>
<div class="page__subheader">
  <div class="container">
    <!-- <a class="mars" href="../section-4">Previous</a> -->
  </div>
</div>

<div class="page__container container">
  <div class="grid grid--reverse">
    <div class="grid__col col-4@m">
    </div>
    <div class="grid__col col-7@m pull-1@m">
      <main role="main" id="main" class="page__main">
        <h2 class="section__title neptune">Summary</h2>
      <div>
  <h1 class="saturn">Your answers</h1>
  <!-- <div class="print__message panel panel--simple panel--error">
    <h2 class="saturn">Please remember to submit these responses.</h2>
  </div> -->
  <div class="print__hidden panel panel--simple panel--warn">
    <h2 class="neptune">Please check your answers carefully before submitting.</h2>
  </div>
</div>
<!-- <div class="download u-mb-s u-mb-m@s">
  <div class="venus download__text">You will have the opportunity to download your answers after submitting this questionnaire.</div>
</div> -->
<div>
  <div class="summary">

      <h2 class="summary__title saturn" id="mci">Elements of total retail turnover</h2>
      <div class="summary__block">

        <div class="summary__items">
                <div class="summary__question" id="total-sales-food-question">
                   What was the value of the business's total sales of food?
                </div>
                  <div class="summary__answer">
                    <div class="summary__answer-text" id="q3r1-answer"></div>
                    <div class="summary__edit">
                      <a href="../section-1" class="summary__edit-link" aria-describedby="total-sales-food total-sales-food-answer" data-qa="total-sales-food-edit" data-ga-category="Summary" data-ga-action="Edit click" data-ga="click">Edit <span class="u-vh">your answer</span></a>
                    </div>
                  </div>

                <div class="summary__question" id="total-sales-alcohol-question">
                   What was the value of the business's total sales of alcohol, confectionery and tobacco?
                </div>

                  <div class="summary__answer">
                    <div class="summary__answer-text" id="q3r2-answer"></div>
                    <div class="summary__edit">
                      <a href="../section-2" class="summary__edit-link" aria-describedby="total-sales-alcohol total-sales-alcohol-answer" data-qa="total-sales-alcohol-edit" data-ga-category="Summary" data-ga-action="Edit click" data-ga="click">Edit <span class="u-vh">your answer</span></a>
                    </div>
                  </div>

                <div class="summary__question" id="total-sales-clothing-question">
                   What was the value of the business's total sales of clothing and footwear?
                </div>

                  <div class="summary__answer">
                    <div class="summary__answer-text" id="q3r3-answer"></div>
                    <div class="summary__edit">
                      <a href="../section-3" class="summary__edit-link" aria-describedby="total-sales-clothing total-sales-clothing-answer" data-qa="total-sales-clothing-edit" data-ga-category="Summary" data-ga-action="Edit click" data-ga="click">Edit <span class="u-vh">your answer</span></a>
                    </div>
                  </div>

                <div class="summary__question" id="total-sales-household-goods-question">
                   What was the value of the business's total sales of household goods?
                </div>
                  <div class="summary__answer">
                    <div class="summary__answer-text" id="q3r4-answer"></div>
                    <div class="summary__edit">
                      <a href="../section-4" class="summary__edit-link" aria-describedby="total-sales-household-goods total-sales-household-goods-answer" data-qa="total-sales-household-goods-edit" data-ga-category="Summary" data-ga-action="Edit click" data-ga="click">Edit <span class="u-vh">your answer</span></a>
                    </div>
                  </div>

                <div class="summary__question" id="total-sales-other-goods-question">
                   What was the value of the business’s total sales of other goods?
                </div>
                  <div class="summary__answer">
                    <div class="summary__answer-text" id="q3r5-answer"></div>
                    <div class="summary__edit">
                      <a href="../section-5" class="summary__edit-link" aria-describedby="total-sales-other-goods total-sales-other-goods-answer" data-qa="total-sales-other-goods-edit" data-ga-category="Summary" data-ga-action="Edit click" data-ga="click">Edit <span class="u-vh">your answer</span></a>
                    </div>
                  </div>

        </div> <!-- Summary items -->
      </div> <!-- Summary block -->

      <h2 class="summary__title saturn" id="mci">Calculated total retail turnover</h2>
      <div class="summary__block">
        <div class="summary__items">
                <div class="summary__question" id="total-retail-turnover-question">
                   Total retail turnover
                </div>
                  <div class="summary__answer">
                    <div class="summary__answer-text" id="retailTotal"><p>You have cofirmed that the calculated total retail turnover is&nbsp;<span class="retailTotal neptune"></span>.</p></div>
                    <div class="summary__edit">
                      <a href="../playback/" class="summary__edit-link" aria-describedby="internet-sales internet-sales-answer" data-qa="internet-sales-edit" data-ga-category="Summary" data-ga-action="Edit click" data-ga="click">Edit <span class="u-vh">your answer</span></a>
                    </div>
                  </div>
        </div>
      </div>
      <h2 class="summary__title saturn" id="mci">Internet sales</h2>
      <div class="summary__block">
        <div class="summary__items">
                <div class="summary__question" id="internet-sales-question">
                   Of your total retail turnover, how much were from internet sales?
                </div>

                  <div class="summary__answer">
                    <div class="summary__answer-text" id="q4r1-answer"></div>
                    <div class="summary__edit">
                      <a href="../of-which/" class="summary__edit-link" aria-describedby="internet-sales internet-sales-answer" data-qa="internet-sales-edit" data-ga-category="Summary" data-ga-action="Edit click" data-ga="click">Edit <span class="u-vh">your answer</span></a>
                    </div>
                  </div>

         </div>
       </div>
       <h2 class="summary__title saturn" id="mci">Comments</h2>
       <div class="summary__block">
        <div class="summary__items">
                <div class="summary__question" id="reason-for-change-question">
                   Comments
                </div>
                  <div class="summary__answer">
                    <div class="summary__answer-text" id="q5r1-answer" data-qa="reason-for-change-answer"></div>
                    <div class="summary__edit">
                      <a href="../feedback/" class="summary__edit-link" aria-describedby="reason-for-change reason-for-change-answer" data-qa="reason-for-change-edit" data-ga-category="Summary" data-ga-action="Edit click" data-ga="click">Edit <span class="u-vh">your answer</span></a>
                    </div>
                  </div>
        </div>
     </div>
  </div>
</div>


    <form class="form qa-questionnaire-form" role="form" method="POST" autocomplete="off" novalidate="">
      <input id="csrf_token" name="csrf_token" type="hidden" value="IjI5YzdhNTY2ZjgxZGZkY2ZhOGMwYzQ4MjZkYWUwZTNlODNhNDllN2Ei.C_Xwyg.JJgAPY5r93Gl0Qdj5rf7WM9MUaI">
      <div class="group" id="mci">
        <div class="block" id="summary">
        </div>
      </div>

  <button class="btn btn--primary btn--lg btn--loader qa-btn-submit" data-qa="btn-submit" data-loading-msg="Submitting…" type="submit">Submit answers</button>
  <div class="download u-mb-s u-mb-m@s">
    <div class="venus download__text">You will have the opportunity to download your answers after submitting this questionnaire.</div>
  </div>

      <div class="u-mb-m">
        <button class="btn btn--link mars js-btn-save" type="submit" name="action[save_sign_out]" data-ga-category="Navigation" data-ga-action="Save and complete later click" data-ga="click">Save and complete later</button>
      </div>
    </form>

  <a class="page__previous page__previous--bottom" data-ga-category="Navigation" data-ga-label="bottom" data-ga-action="Previous link click" data-ga="click" href="../of-which" id="bottom-previous">Previous</a>


    </main>

    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
  var editing = true;
  sessionStorage.setItem('editing', editing);
  if ($('.config1').length>0){
    var config1 = sessionStorage.getItem('config1');
    $('.config1').html(config1);
  }

  if ($('.retailTotal').length > 0) {
    var retailTotal = (Number(sessionStorage.getItem('q3r6'))+Number(sessionStorage.getItem('q3r5'))+Number(sessionStorage.getItem('q3r4'))+Number(sessionStorage.getItem('q3r3'))+Number(sessionStorage.getItem('q3r2'))+Number(sessionStorage.getItem('q3r1'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r1_answer = (Number(sessionStorage.getItem('q3r1'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r2_answer = (Number(sessionStorage.getItem('q3r2'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r3_answer = (Number(sessionStorage.getItem('q3r3'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r4_answer = (Number(sessionStorage.getItem('q3r4'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r5_answer = (Number(sessionStorage.getItem('q3r5'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r6_answer = (Number(sessionStorage.getItem('q3r6'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q4r1_answer = (Number(sessionStorage.getItem('q4r1'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q5r1_answer = sessionStorage.getItem('q5r1');

    if(q3r1_answer=='£0.00') {
      q3r1_answer = q3r1_answer+' (Nil return)';
    }
    if(q3r2_answer=='£0.00') {
      q3r2_answer = q3r2_answer+' (Nil return)';
    }
    if(q3r3_answer=='£0.00') {
      q3r3_answer = q3r3_answer+' (Nil return)';
    }
    if(q3r4_answer=='£0.00') {
      q3r4_answer = q3r4_answer+' (Nil return)';
    }
    if(q3r5_answer=='£0.00') {
      q3r5_answer = q3r5_answer+' (Nil return)';
    }
    if(q3r6_answer=='£0.00') {
      q3r6_answer = q3r6_answer+' (Nil return)';
    }
    if(q4r1_answer=='£0.00') {
      q4r1_answer = q4r1_answer+' (Nil return)';
    }
    console.info('Calc\'d total:'+retailTotal);
    $('#q3r1-answer').text(q3r1_answer);
    $('#q3r2-answer').text(q3r2_answer);
    $('#q3r3-answer').text(q3r3_answer);
    $('#q3r4-answer').text(q3r4_answer);
    $('#q3r5-answer').text(q3r5_answer);
    $('#q3r6-answer').text(q3r6_answer);
    $('#q4r1-answer').text(q4r1_answer);
    $('.retailTotal').text(retailTotal);
    $('#q5r1-answer').text(q5r1_answer);

// console.log(retailTotal.toLocaleString('en-gb',{ style: 'currency', currency: 'GBP' }));

    sessionStorage.setItem('retailTotal', retailTotal);

  }
  console.info(sessionStorage);
  // $('.qa-btn-get-started').click(function(e) {
  $('.qa-btn-submit').click(function(e) {
    e.preventDefault();
    window.location.href = "../thankyou/"; // target of save and continue

  });

});
</script>
