---
title: Totals v2 (replay inputs)
project: Totals
globalcss: false
---

<header class="page__header">
{% include survey-header.html %}
{% include bar.html %}
</header>

<div class="page__subheader">
  <div class="container">
    <!-- <a class="mars" href="../section-4">Previous</a> -->
  </div>
</div>

<div class="page__container container">
  <div class="grid grid--reverse">
    <div class="grid__col col-4@m">
    </div>
    <div class="grid__col col-7@m pull-1@m">
      <main role="main" id="main" class="page__main">
        <div class="u-mb-s">
          <h1 class="saturn">Submission Successful</h1>
          <p>Thank you for submitting this survey, your responses have been successfully received.</p>
        </div>
<div class="">
  <button class="btn btn--secondary btn--border download after"><span class="download__text">Download your responses (147kb PDF)</span><span class="download__text pluto">This link will expire in 5 minutes</span></button>
  <p class="mars">To ensure the security of your data this file will not be available to download beyond this time.</p>
</div>

        <div class="panel panel--simple panel--success panel--spacious">
          <p class="mars">Transaction ID (Please quote this reference for any support queries)</p>
          <ul class="list list--boxes">
          <li class="list__item">8E99</li><li class="list__item">37ED</li><li class="list__item">9A7B</li><li class="list__item">4C73</li>
          </ul>
          <p class="u-mb-no mars">You may wish to save or print this page for your records.</p>
        </div>
        <div class="u-mt-s">
          <div class="mars">For more information on how we use this data.</div>
          <p class="u-mb-m@s mars"><a href="https://www.ons.gov.uk/surveys">https://www.ons.gov.uk/surveys</a></p>
          <p class="mars">It is now safe to close this window.</p>
        </div>
      </main>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
  if ($('.q1').length > 0) {
    var q1var = sessionStorage.getItem('q1r1');
    $('.q1').text(q1var);

  }
  console.info(sessionStorage);

});
</script>
