---
title: UK Innovation Survey v2
project: UKIS
globalcss: false
---


{% include survey-header.html %}
{% include bar.html %}



<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="../section-78">Previous</a><br/><br/>
        <form class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="hidden-form">
          </div>
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number venus">6</span>Context for Innovation</h2>
                <div class="question">
                  <h3 class="question__title neptune"><span class="question__title__number venus">6.42</span>Did [BUSINESS NAME] co-operate on any innovation activities with:</h3>
                  <div class="question__description">
                    <p class='mars'>competitors or other businesses in your industry?</p><p class='mars'>Please select all that apply</p>
                  </div>
                  <div class="response response--checkbox">


                  <!-- Checkboxs -->
                    <div class="field field--multi field--checkbox">
                      <div class="field__item">
                        <input class="input input--checkbox" type="checkbox" name="1" id="form-input-0" value="UK Regional" title="UK Regional">
                        <label class="label label--inline" for="form-input-0"><span class="label__inner">UK Regional</span></label>
                      </div>
                      <div class="field__item">
                        <input class="input input--checkbox" type="checkbox" name="1" id="form-input-1" value="UK National" title="UK National">
                        <label class="label label--inline" for="form-input-1"><span class="label__inner">UK National</span></label>
                      </div>
                      <div class="field__item">
                        <input class="input input--checkbox" type="checkbox" name="1" id="form-input-2" value="European Countries" title="European Countries">
                        <label class="label label--inline" for="form-input-2"><span class="label__inner">European Countries</span></label>
                      </div>
                      <div class="field__item">
                        <input class="input input--checkbox" type="checkbox" name="1" id="form-input-3" value="Other Countries" title="Other Countries">
                        <label class="label label--inline" for="form-input-3"><span class="label__inner">Other Countries</span></label>
                      </div>
                    </div>



                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--secondary qa-btn-get-started venus" type="submit" name="">Save and continue</button><br/><br/>
          <a class="mars" href="../section-78">Previous</a>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
  $('.qa-btn-get-started').click(function(e) {
    e.preventDefault();
    window.location.href = "../section-80";
  });
});

</script>

