---
title: UK Innovation Survey v2
project: UKIS
globalcss: false
---


{% include survey-header.html %}
{% include bar.html %}



<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="../section-91">Previous</a><br/><br/>
        <form class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="hidden-form">
          </div>
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number venus">7</span>Public Financial Support for Innovation</h2>
                <div class="section__description">
                  <p class='mars'>3 year period 1 January 2014 to 31 December 2016.</p>
                </div>
                <div class="question">
                  <h3 class="question__title neptune"><span class="question__title__number venus">7.1</span>Did <strong><span class='business-name'>[BUSINESS NAME]</span></strong> receive public financial support for innovation activities from the following levels of government?</h3>
                  <div class="question__description">
                    <div class='box box--promo'><div class='grid'><div class='grid__col col-6@s'><h3 class='venus'>Include:</h3><ul><li>financial support via tax credits or deductions, grants, subsidised loans and loan guarantees</li></ul></div><div class='grid__col col-6@s'><h3 class='venus'>Exclude:</h3><ul><li>Research and Development and other innovations activities conducted entirely for the public sector* under contract</li><li>the public sector includes government owned organisations such as local, regional and national administrations and agencies, schools, hospitals and government providers of services such as security, transport, housing and energy etc</li></ul></div></div></div>
                  </div>
                  <div class="response response--radio">


                    <div class="field field--multi field--radio">
                      <h4 class="venus" style="margin-top: 32px;">UK local or regional authorities</h4>
                      <div class="field__item">
                        <input class="input input--radio" type="radio" name="1" id="form-input-0" value="Yes" title="Yes">
                        <label class="label label--inline" for="form-input-0"><span class="label__inner">Yes</span></label>
                      </div>
                      
                      <div class="field__item">
                        <input class="input input--radio" type="radio" name="1" id="form-input-1" value="No" title="No">
                        <label class="label label--inline" for="form-input-1"><span class="label__inner">No</span></label>
                      </div>
                      <h4 class="venus" style="margin-top: 32px;">UK central government </br><p class='pluto' style='margin-top: 8px;'>Include: UK government’s agencies or funding bodies for example Innovate UK, formerly known as TSB</p></h4>
                      <div class="field__item">
                        <input class="input input--radio" type="radio" name="2" id="form-input-2" value="Yes" title="Yes">
                        <label class="label label--inline" for="form-input-2"><span class="label__inner">Yes</span></label>
                      </div>
                      
                      <div class="field__item">
                        <input class="input input--radio" type="radio" name="2" id="form-input-3" value="No" title="No">
                        <label class="label label--inline" for="form-input-3"><span class="label__inner">No</span></label>
                      </div>
                      <h4 class="venus" style="margin-top: 32px;">European Union (EU) institutions or programmes</h4>
                      <div class="field__item">
                        <input class="input input--radio" type="radio" name="3" id="form-input-4" value="Yes" title="Yes">
                        <label class="label label--inline" for="form-input-4"><span class="label__inner">Yes</span></label>
                      </div>
                      
                      <div class="field__item">
                        <input class="input input--radio" type="radio" name="3" id="form-input-5" value="No" title="No">
                        <label class="label label--inline" for="form-input-5"><span class="label__inner">No</span></label>
                      </div>
                    </div>






                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--quaternary qa-btn-get-started venus" type="submit" name="">Save and continue</button><br/><br/>
          <a class="mars" href="../section-91">Previous</a>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

$( document ).ready(function() {
  if ($('.business-name').length > 0) {
    var businessName = sessionStorage.getItem('Business name');
    $('.business-name').html(businessName);
  }
  $('.qa-btn-get-started').click(function(e) {
    e.preventDefault();
    window.location.href = "../section-94";


      var checkedVal = $("input[value='Yes']:checked").val();
      var checkedName = $("input[value='Yes']:checked").attr("name");
      if (checkedVal == "Yes" && checkedName == "2") {
        window.location.href = "../section-93";
      }
  });
});

</script>

