---
title: UK Innovation Survey v2
project: UKIS
globalcss: false
---


{% include survey-header.html %}
{% include bar.html %}



<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="../section-23">Previous</a><br/><br/>
        <form class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="hidden-form">
          </div>
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number venus">3</span>Innovation Investment</h2>
                <div class="section__description">
                  <p class='mars'>1 year period 1 January 2016 to 31 December 2016.</p>
                </div>
                <div class="question">
                  <h3 class="question__title neptune"><span class="question__title__number venus">3.17</span>Please estimate the amount of expenditure for market introduction of innovations for the <strong>calendar year 2016 only?</strong></strong></h3>
                  <div class="question__description">
                    <div class='box box--promo'><h3 class='venus'>Include:</h3><ul><li>Internal costs and purchase from outside the business.</li></ul></div>
                  </div>
                  <div class="response response--currency">




                    <div class="response response--currency">
                      <div class="field">
                        <label class="label venus" for="form-input-0" >Total market introduction of innovations</label><br/>
                        <div class="input-type input-type--currency" data-type="£">
                        <input class="input input--text numericentry mars" pattern="\d*" id="form-input-0" name="1" type="text" value="">
                          <span class="hint pluto">Round to the nearest £ thousand, for example 100000</span>
                        </div>
                      </div>
                    </div>




                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--secondary qa-btn-get-started venus" type="submit" name="">Save and continue</button><br/><br/>
          <a class="mars" href="../section-23">Previous</a>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

$( document ).ready(function() {
  if ($('.business-name').length > 0) {
    var businessName = sessionStorage.getItem('Business name');
    $('.business-name').html(businessName);
  }
  $('.qa-btn-get-started').click(function(e) {
    e.preventDefault();
    window.location.href = "../section-25";


  });
});

</script>

