---
title: UK Innovation Survey v2
project: UKIS
globalcss: false
---


{% include survey-header.html %}
{% include bar.html %}



<div class="container">
    <div role='main' class='panel__body' id='main'><div class='header u-mb-m u-mb-l@s'><h1 class='saturn'>Thank You</h1><div class='mars'>UK innovation survey</div><div class='venus'>Successfully Received</div></div><div class='box box--confirm u-mb-s u-mb-l@s'><strong> Submitted on Wednesday 13 July 2016 at 08:32</strong><p>Transaction ID (Please quote this reference for any support queries)</p><ul class='box__list'><li class='box__list__item'>D1C5</li><li class='box__list__item'>B0AE</li><li class='box__list__item'>9A04</li><li class='box__list__item'>4E94</li></ul><p class='u-mb-no'>You may wish to save or print this page for your records.</p></div><div class=''><div>For more information on how we use this data.</div><p class='u-mb-m@s'><a href='https://www.ons.gov.uk/surveys'>https://www.ons.gov.uk/surveys</a></p><p>It is now to safe to close this window.</p></div></div>
</div>

<script>

$( document ).ready(function() {
  if ($('.business-name').length > 0) {
    var businessName = sessionStorage.getItem('Business name');
    $('.business-name').html(businessName);
  }
  $('.qa-btn-get-started').click(function(e) {
    e.preventDefault();
    window.location.href = "../";


  });
});

</script>

