.pac-container-wrapper {
    position : relative;
}

.typeahead-component {
    z-index : 10;
    position : relative;
}

.pac-container {
    position : absolute;
    width : 19.6rem;
    max-height: 265px;
    margin-top : -1px;
    margin-left : -1px;
    overflow-x : hidden;
    overflow-y : auto;
    background-color: #fff;
    border: 2px solid #4263c2;
    border-top: 0;
    color: #34384b;
    padding: 0;
}

.pac-logo:after { content: none !important; }

.pac-item {
    display : block;
    width : 100%;
    padding: .8rem .6rem;
    text-align : left;
    cursor: pointer;
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
    border : none;
    border-top: 2px solid #4263c2;
    background : none;
    border-radius : 0;
}

/**
* Item is focused
*/
.pac-item.focused {
    background-color : #4263c2;
}

.pac-item.focused .pac-matched {
    color: #fff;
}
/**
* End item is focused
*/

.pac-item:hover,
.pac-item:hover .pac-item-query,
.pac-item:hover .pac-matched {
    background-color: #4263c2;
    color: white;
}


.pac-item,
.pac-item-query {
    font-size: 17px;
    color : #999;
}

.pac-item-query {
    padding-right : 3px;
}

.pac-matched {
    color : #000;
}

.pac-item-query:after {
    content: ',';
}

.hide {
    display : none;
}
