---
title: Household prototype v4
project: your-household
globalcss: false
layout: eq-default-extras
cdn: v1.2.0
---

<link rel="stylesheet" href="../style.css"/>
<header class="page__header">
    {% include survey-header.html %}
    {% include bar.html %}
</header>

<div class="page__subheader">
    <div class="container">
        <a class="mars" href="../visitors">Previous</a>
    </div>
</div>

<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
            {% include navigation.html
            items=site.data.your-household.navigationItemsHousehold
            nav-title-id="section-address" %}
        </div>
        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">
                <form name="trav" class="form qa-questionnaire-form" role="form"
                      autocomplete="off" novalidate="">
                    <div class="group" id="rsi">
                        <div class="block" id="total-retail-turnover">
                            <section class="section"
                                     id="total-retail-turnover-section">
                                <div class="question u-mb-s"
                                     id="total-retail-turnover-question">
                                    <h1 class="question__title saturn">
                                        Survey progress
                                    </h1>
                                </div>

                                <div class="panel panel--simple panel--success"
                                     id="question-guidance-everyone-at-address-confirmation-question">
                                    <strong class="u-mb-s">You have completed
                                        the section
                                        <span class="address-text-line1"></span></strong>
                                    <ul class="mars"
                                        style="list-style: none;padding: 0; margin-bottom: 0">
                                        <li>You can check your answers below
                                        </li>
                                    </ul>
                                </div>
                                <br />

                                <h2 class="neptune">Household members</h2>
                                <ul id="household-members-summary"
                                    class="list list--records list--people u-mb-s js-records"></ul>
                                <p id="nobody-notice"
                                   style="display:none;">Nobody usually
                                    lives here</p>
                                <p class="u-mb-xl"><a href="../who-else-to-add">Add someone to this household</a></p>

                                <div class="js-visitors-people-list">
                                    <h2 class="neptune">Visitors staying
                                        overnight on 20th July 2018</h2>
                                    <ul id="visitors-summary"
                                        class="list list--records list--people u-mb-s js-records"></ul>
                                    <p class="u-mb-xl"><a
                                            href="../who-else-to-add?journey=visitors">Add someone to this household</a>
                                    </p>
                                </div>
                            </section>
                        </div>
                    </div>
                    <button class="btn btn--primary btn--lg qa-btn-submit venus"
                            type="submit" name="">Continue
                    </button>
                    <div class="u-mb-m">
                        <button class="btn btn--link mars js-btn-save"
                                type="submit" name="action[save_sign_out]">Save
                            and complete later
                        </button>
                    </div>
                </form>
                <a class="page__previous page__previous--bottom js-previous-link"
                   href="javascript:history.back()"
                   id="bottom-previous">Previous</a>
            </main>
        </div>
    </div>
</div>

<div id="modal" class="modal" style="display: none;">
    <div class="modal__window">
        <h1 class="saturn">Are you sure you want to remove <span
                class="js-person-name"></span>?</h1>
        <p class="u-mb-m">All of the data associated with this person will be
            deleted</p>

        <div class="modal__buttons">
            <button class="btn btn--toggle venus close-modal-button">Cancel
            </button>
            <button class="btn btn--primary venus remove-member-button">
                Confirm
            </button>
        </div>
    </div>
</div>

<ul style="display:none;">
    <li id="person-record-template" class="list__item">
        <span class="list__item-name js-person-name"></span>
        <div class="list__item-actions u-fr">
            <span class="list__item-action">
                <a class="js-record-edit" href="#">Change</a>
            </span>
            <span class="list__item-action">
                <button class="btn btn--toggle js-record-remove">Remove</button>
            </span>
        </div>
    </li>
</ul>

<script src='/js/compiled/your-household-v4/bundle.js'></script>
