---
title: Household prototype v4
project: your-household
globalcss: false
layout: eq-default-extras
cdn: v1.4.4
---

<header class="page__header">
    {% include survey-header.html %}
    {% include bar.html %}
</header>

<div class="page__subheader">
    <div class="container">
        <a class="mars" href="../confirm-address">Previous</a>
    </div>
</div>

<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
        </div>
        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">
                <div class="group u-mb-xl" id="rsi">
                    <div class="block" id="total-retail-turnover">
                        <section class="section"
                                 id="total-retail-turnover-section">
                            <ul class="test-data-links">
                            </ul>
                        </section>
                    </div>
                </div>

                <button class="btn btn--primary btn--lg qa-btn-submit venus btn-submit"
                        type="submit" name="">Continue
                </button>
                <div class="u-mb-m">
                    <a class="mars" href="../index">Save and complete later</a>
                </div>

                <a class="page__previous page__previous--bottom js-previous-link"
                   href="javascript:history.back()"
                   id="bottom-previous">Previous</a>
            </main>
        </div>
    </div>
</div>

<script src='/js/compiled/your-household-v4/bundle.js'></script>


