.list.list--people-plain {
  margin-bottom : 1rem;
  list-style-type : none;
}

.list.list--people-plain .list__item {
  background: url(/img/icons/person.svg) 0 .2rem no-repeat;
}

.list.list--people-plain .list__item-name {
  padding-left: 1.5rem;
}

.list.list--people-plain .list__item-actions {
  margin-top: -4px;
}

.list.list--people-plain .list__item-action + .list__item-action {
  margin-left : .5rem;
}

.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__window {
    position: relative;
    background-color: white;
    max-width: 520px;
    padding: 2rem;
    text-align: center;
}

/**
 * Pattern library fix
 */
.header {
  margin-bottom : 0;
}

.lock {
    padding-left : 1.5rem;
    background : url('../img/icons/lockicon.svg') no-repeat left top;
}

.footer {
    /* margin-top : 7rem; */
}

.btn--danger {
    background-color : #D0021B;
    border-color : #D0021B;
}

.btn--danger:hover {
    background-color : #b00015;
    border-color : #b00015;
}
