---
title: Monthly Business Survey - Retail Sales Index
project: Retail Sales Inquiry
globalcss: false
---

{% include survey-header.html %}
{% include bar.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="../section-5">Previous</a><br/><br/>
        <form action="../section-7" class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number venus">3</span> Innovation Investment</h2>
                <div class="section__description mars">
                  <p class="mars">3 year period 1 January 2012 to 31 December 2014</p>
                </div>
                <div class="question question--radios" id="def61645-c231-4522-ba2f-273b25507e53">
                  <h3 class="question__title neptune"><span class="question__title__number venus">3.2</span>Please estimate the amount of expenditure for internal research and development for the YEAR 2014 ONLY?</h3><br/>
                  <div class="question__description mars" id="description-form-input-1">
                    <h3 class="venus">Include:</h3>
                    <ul>
                      <li>Internal costs and purchase from outside the business</li>
                    </ul>
                  </div>
                  <div class="question__responses">
                    <div class="response response--currency" id="92e49d93-cbdc-4bcb-adb2-0e0af6c9a07c">
                      <div class="field">
                        <label class="label venus" for="form-input-1" id="label-92e49d93-cbdc-4bcb-adb2-0e0af6c9a07c">Internal Research and Development</label><br>
                        <div class="input-type input-type--currency" data-type="£">
                        <input class="input input--text numericentry mars" pattern="\d*" aria-describedby="description-form-input-1" id="form-input-1" name="q-1" type="text" value="">
                        <span class="hint pluto">Round to the nearest £ thousand</span><br>
                        </div>
                      </div>
                      <form action="" class="form" role="form" method="POST" novalidate="">
                        <br/><br/>
                        <button href="../section-7" class="btn btn--secondary qa-btn-get-started venus" type="submit" name="">Save and continue</button>
                        <br/><a class="mars" href="../section-5">Previous</a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
