---
title: Monthly Wages and Salaries Survey
project: MWSS
globalcss: false
---

<header class="page__header">
{% include survey-header.html %}
{% include bar.html %}
</header>

<style type="text/css">

  .date_stamp{
    font-size: 14px;font-weight: lighter;
    color: #000000;
  }
  .color{
    color: #000000;
  }
  .right_align{
    float: left;
  }
  .link_text_size{
    font-size: 18px;
  }
  .label_guide_text{
    font-size: 14px; font-weight: lighter;
    padding-bottom: 10px;
  }
  </style>

<div class="page__subheader">
  <div class="container">
    <!-- <a class="mars" href="../section-4">Previous</a> -->
  </div>
</div>

<div class="page__container container">
  <div class="grid grid--reverse">
    <div class="grid__col col-4@m">

      <nav class="nav nav--sections nav--vertical js-nav page__nav" id="section-nav">
      <p class="nav__title venus">Transaction ID</p>
        <ul class="nav__list ">

          <li class=" ">
              <span class="color">296C - 3442 - BBBA - 3442</span>
            </li>
            <li class="">
              <span class="date_stamp">Submitted: 14:05 13 September 2016</span>
            </li>
            <li class="">
              <span class="date_stamp">(Please quote for any support queries)</span>
            </li>

            </ul>
          </nav>

    </div>
    <div class="grid__col col-7@m pull-1@m">
      <main role="main" id="main" class="page__main">
        <div class="u-mb-s">
          <h1 class="saturn">Submission Successful</h1>

          <dd class="dl__data mars">Thank you for submitting this survey, your resposes have been successfully received</dd>

          <div class="panel panel--simple panel--success">
          <button class="btn btn--secondary btn--border"><a class="download__text" href="../your-responses/">View and print a copy of your responses</a><span class="download__text pluto">This link will expire in 5 minutes</span></button>
          <p class="mars link_text_size">To ensure the security of your data this link will not be available beyond this time</p>
          </div>
        </div>
          <h2 class="summary__title saturn" id="pay-pattern">Satisfaction survey</h2>

          <div class="answer answer--radio  " id="satisfaction-survey">


          <p><b>Overall, how did you feel about the service today?</b></p>

          <div class="answer__fields js-fields">

          <div class="field field--radio field--multiplechoice ">
          <fieldset>
          <div class="field__item js-focusable-box">
          <input  class="input input--radio js-focusable" type="radio" name="feel-about-service" id="feel-about-service-0" value="very-satisfied">
          <label  class="label label--inline venus" for="feel-about-service-0" id="feel-about-service-0">Very satisfied</label>

          </div>

          <div class="field__item js-focusable-box">
          <input  class="input input--radio js-focusable" type="radio" name="feel-about-service" id="feel-about-service-1" value="satisfied">
          <label  class="label label--inline venus" for="feel-about-service-1" id="feel-about-service-1">Satisfied</label>

          </div>

          <div class="field__item js-focusable-box">
          <input  class="input input--radio js-focusable" type="radio" name="feel-about-service" id="feel-about-service-2" value="neither-satisfied-or-dissatisfied">
          <label  class="label label--inline venus" for="feel-about-service-2" id="feel-about-service-2">Neither satisfied or dissatisfied</label>

          </div>

          <div class="field__item js-focusable-box">
          <input  class="input input--radio js-focusable" type="radio" name="feel-about-service" id="feel-about-service-3" value="dissatisfied">
          <label  class="label label--inline venus" for="feel-about-service-3" id="feel-about-service-3">Dissatisfied</label>

          </div>

          <div class="field__item js-focusable-box">
          <input  class="input input--radio js-focusable" type="radio" name="feel-about-service" id="feel-about-service-4" value="very-dissatisfied">
          <label  class="label label--inline venus" for="feel-about-service-4" id="feel-about-service-4">Very dissatisfied</label>

          </div>

          </fieldset>
          </div>
              </div>
            </div>
            <p><b>How could we improve this service?</b></p>

              <label  id="" class="" for="answer">
                <div class="label_guide_text label__inner">
                  Please do not include any personal information like credit card numbers or email addresses</div>
              </label>
                  <textarea  cols="60" class="input input--textarea js-charlimit-input" rows="8" aria-describedby="description-question guidance-answer-trigger" name="answer" id="answer" maxlength="20"></textarea>


                  <div  id="answer-remaining" class="input__limit u-mt-xs mercury">Characters remaining: <span>200</span></div>
              </div>
            </div>
<br>
            <p><b>If you would like us to get back to you, please complete the following:</b></p>


            <div class="question" id="feedback-name-question">
            <div class="question__answers">
            <div class="question__answer">
            <div class="answer answer--textfield  " id="feedback-name-answer">

            <div class="answer__fields js-fields">

            <div class="field">

            <label  class="label venus " for="feedback-name-answer" id="feedback-name-answer">
              <div class="label__inner">
                Name
              </div>
            </label>
            <input  class="input input--text " name="feedback-name-answer" data-qa="input-text" id="feedback-name-answer" value="" />
            </div>
                </div>
            </div>
                  </div>
                 </div>
<br>
                 <div class="question" id="feedback-email-question">
                 <div class="question__answers">
                 <div class="question__answer">
                 <div class="answer answer--textfield  " id="feedback-email-answer">

                 <div class="answer__fields js-fields">

                 <div class="field">

                 <label  class="label venus " for="feedback-email-answer" id="feedback-email-answer">
                   <div class="label__inner">
                     Email address
                   </div>
                 </label>
                 <input  class="input input--text " name="feedback-email-answer" data-qa="input-text" id="feedback-email-answer" value="" />
                 </div>
                     </div>
                 </div>
                       </div>
                      </div>

                      <br>

                      <button class="btn btn--primary btn--lg btn--loader qa-btn-submit" data-qa="btn-submit" data-loading-msg="Submitting…" type="submit">Submit feedback</button>


        <div class="u-mt-s">
          <div class="mars">For more information on how we use this data.</div>
          <p class="u-mb-m@s mars"><a href="https://www.ons.gov.uk/surveys">https://www.ons.gov.uk/surveys</a></p>

        </div>
      </main>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
  var editing = true;
  sessionStorage.setItem('editing', editing);
  if ($('.config1').length>0){
    var config1 = sessionStorage.getItem('config1');
    $('.config1').html(config1);
  }

  if ($('.retailTotal').length > 0) {
    var retailTotal = (Number(sessionStorage.getItem('q3r6'))+Number(sessionStorage.getItem('q3r5'))+Number(sessionStorage.getItem('q3r4'))+Number(sessionStorage.getItem('q3r3'))+Number(sessionStorage.getItem('q3r2'))+Number(sessionStorage.getItem('q3r1'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r1_answer = (Number(sessionStorage.getItem('q3r1'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r2_answer = (Number(sessionStorage.getItem('q3r2'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r3_answer = (Number(sessionStorage.getItem('q3r3'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r4_answer = (Number(sessionStorage.getItem('q3r4'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r5_answer = (Number(sessionStorage.getItem('q3r5'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r6_answer = (Number(sessionStorage.getItem('q3r6'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q4r1_answer = (Number(sessionStorage.getItem('q4r1'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q5r1_answer = sessionStorage.getItem('q5r1');

    if(q3r1_answer=='£0.00') {
      q3r1_answer = q3r1_answer+' (Nil return)';
    }
    if(q3r2_answer=='£0.00') {
      q3r2_answer = q3r2_answer+' (Nil return)';
    }
    if(q3r3_answer=='£0.00') {
      q3r3_answer = q3r3_answer+' (Nil return)';
    }
    if(q3r4_answer=='£0.00') {
      q3r4_answer = q3r4_answer+' (Nil return)';
    }
    if(q3r5_answer=='£0.00') {
      q3r5_answer = q3r5_answer+' (Nil return)';
    }
    if(q3r6_answer=='£0.00') {
      q3r6_answer = q3r6_answer+' (Nil return)';
    }
    if(q4r1_answer=='£0.00') {
      q4r1_answer = q4r1_answer+' (Nil return)';
    }
    console.info('Calc\'d total:'+retailTotal);
    $('#q3r1-answer').text(q3r1_answer);
    $('#q3r2-answer').text(q3r2_answer);
    $('#q3r3-answer').text(q3r3_answer);
    $('#q3r4-answer').text(q3r4_answer);
    $('#q3r5-answer').text(q3r5_answer);
    $('#q3r6-answer').text(q3r6_answer);
    $('#q4r1-answer').text(q4r1_answer);
    $('.retailTotal').text(retailTotal);
    $('#q5r1-answer').text(q5r1_answer);

// console.log(retailTotal.toLocaleString('en-gb',{ style: 'currency', currency: 'GBP' }));

    sessionStorage.setItem('retailTotal', retailTotal);

  }
  console.info(sessionStorage);
  // $('.qa-btn-get-started').click(function(e) {
  $('.qa-btn-submit').click(function(e) {
    e.preventDefault();
    window.location.href = "../confirmation-feedback-complete/"; // target of save and continue

  });

  $('.js-details-trigger').click(function(e) {
    var text = $(this).text();
    if ($('.js-details').hasClass('is-expanded')){
      $(this).text(text.replace('Hide', 'Show'));
    } else {
      $(this).text(text.replace('Show', 'Hide'));
    }
    e.preventDefault();
    $('.js-details').toggleClass('is-expanded');

  });

});
</script>
