---
title: Monthly Wages and Salaries Survey
project: MWSS
globalcss: false
---

<header class="page__header">
{% include survey-header.html %}
{% include bar.html %}
</header>
<style type="text/css">

  .date_stamp{
    font-size: 14px;font-weight: lighter;
    color: #000000;
  }
  .information_availablity{
   font-size: 14px;
  }
  .color{
    color: #000000;
  }
  .right_align{
    float: left;
  }
  .link_text_size{
    font-size: 18px;
  }
  .label_guide_text{
    font-size: 14px; font-weight: lighter;
    padding-bottom: 10px;
  }
  .print::before {
      content: /s/img/icons/ic_print_black_24dp_1x.png;
      display: inline-block;
      margin-right: 0.5rem;
    }

  .print-icon {
    margin-right: 4px;
    margin-left: 4px;
  }

  .print-page {

  }

  ul.nav__list.transaction-id {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
  }

  ul.nav__list.transaction-id li {
    margin-bottom: 0;
  }

  .transaction-id-col {
    margin-top: -45px;
  }

  .nav__title {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 740px) {
    .transaction-id-col {
      margin-top: inherit;
    }
  }

  @media print {
    .transaction-id-col {
      margin-top: inherit;
    }
  }

  </style>

<div class="page__subheader">
  <div class="container">
    <!-- <a class="mars" href="../section-4">Previous</a> -->
  </div>
</div>

<div class="page__container container">
  <div class="grid grid--reverse">
  <div class="grid__col col-12@m">
    <h1 class="saturn">Submitted responses</h1>
  </div>
    <div class="grid__col col-4@m transaction-id-col">

      <nav class="nav nav--sections js-nav page__nav" id="section-nav">
      <p class="nav__title venus">Transaction ID</p>
        <ul class="nav__list transaction-id">

          <li class=" ">
              <span class="color">296C - 3442 - BBBA - 3442</span>
            </li>
            <li class="">
              <span class="date_stamp">Submitted: 14:05 13 September 2016</span>
            </li>
            <li class="">
              <span class="date_stamp">(Please quote for any support queries)</span>
            </li>

            </ul>
          </nav>

    </div>
    <div class="grid__col col-7@m pull-1@m">
      <main role="main" id="main" class="page__main">
        <div class="u-mb-s">

  <dd class="dl__data mars">Below are your responses to the <b>Monthly Wages and Salaries Survey</b></dd>

  <dt class="dl__title mercury">Business name</dt>
  <dd class="dl__data mars">Bolts & Ratchets Ltd</dd>

    <dt class="dl__title mercury">Trading as</dt>
    <dd class="dl__data mars">Bolts & Ratchets Ltd</dd>

    <dt class="dl__title mercury">Business address</dt>
    <dd class="dl__data mars">23 Primrose Avenue, Hoddingbridge, Wessex WE11 2DO</dd>

  <dd class="dl__data mars">If you would like to retain a copy of your responses <img class="print-icon" src="{{site.baseurl}}/s/img/icons/ic_print_black_24dp_1x.png"/><a class="print-page" href="#" onclick="window.print();return false;">print this page</a></dd>

  <dd class="dl__data mars information_availablity">This information will no longer be available in 5 minutes</dd>




      <h2 class="summary__title saturn" id="pay-pattern">Pay Pattern</h2>

      <div class="summary__block">





        <div class="summary__items">



                <div class="summary__question" id="pay-pattern-frequency-question">
                  1.1 Please indicate how frequently employees are paid:
                </div>




                      <div class="summary__answer">
                        <div class="summary__answer-text" id="pay-pattern-frequency-answer-answer" data-qa="pay-pattern-frequency-answer-answer">
<ul class="u-m-no">

        <li>Weekly</li>

</ul></div>
      </div>

     </div>


      <h2 class="summary__title saturn" id="weekly-pay">Weekly Pay</h2>

      <div class="summary__block">





        <div class="summary__items">



                <div class="summary__question" id="weekly-pay-paid-employees-question">
                  2.1 What was the number of weekly paid employees paid in the last week of May 2016?
                </div>




                      <div class="summary__answer">
                        <div class="summary__answer-text" id="weekly-pay-paid-employees-answer-answer" data-qa="weekly-pay-paid-employees-answer-answer">100</div>

                      </div>




        </div>

        <div class="summary__items">



                <div class="summary__question" id="weekly-pay-gross-pay-question">
                  2.2 What was the total gross weekly pay paid to employees in the last week of May 2016?
                </div>
                      <div class="summary__answer">
                        <div class="summary__answer-text" id="weekly-pay-gross-pay-answer-answer" data-qa="weekly-pay-gross-pay-answer-answer">£100</div>

                      </div>




        </div>









        <div class="summary__items">



                <div class="summary__question" id="weekly-pay-breakdown-question">
                  2.3 Of the £100 paid to weekly paid employees in the last week of May 2016, what amount was:
                </div>



                        <div class="summary__question summary__question--sub">
                          Holiday pay, paid in advance (estimate if necessary)
                        </div>


                      <div class="summary__answer">
                        <div class="summary__answer-text" id="weekly-pay-breakdown-holiday-answer-answer" data-qa="weekly-pay-breakdown-holiday-answer-answer">£100</div>

                      </div>


                        <div class="summary__question summary__question--sub">
                          Arrears of pay owing to pay awards
                        </div>


                      <div class="summary__answer">
                        <div class="summary__answer-text" id="weekly-pay-breakdown-arrears-answer-answer" data-qa="weekly-pay-breakdown-arrears-answer-answer">£100</div>

                      </div>


                        <div class="summary__question summary__question--sub">
                          Bonuses, commissions or annual profit from profit related pay schemes
                        </div>


                      <div class="summary__answer">
                        <div class="summary__answer-text" id="weekly-pay-breakdown-prp-answer-answer" data-qa="weekly-pay-breakdown-prp-answer-answer">£100</div>

                      </div>




        </div>









        <div class="summary__items">



                <div class="summary__question" id="weekly-pay-significant-changes-paid-employees-question">
                  2.4 Did any significant changes occur to the number of weekly paid employees?
                </div>




                      <div class="summary__answer">
                        <div class="summary__answer-text" id="weekly-pay-significant-changes-paid-employees-answer-answer" data-qa="weekly-pay-significant-changes-paid-employees-answer-answer">
<ul class="u-m-no">
    <li>No</li>
</ul>

</div>

                      </div>




        </div>









        <div class="summary__items">



                <div class="summary__question" id="weekly-pay-significant-changes-gross-pay-question">
                  2.7 Did any significant changes occur to the total gross pay paid to weekly paid employees?
                </div>




                      <div class="summary__answer">
                        <div class="summary__answer-text" id="weekly-pay-significant-changes-gross-pay-answer-answer" data-qa="weekly-pay-significant-changes-gross-pay-answer-answer">
<ul class="u-m-no">
    <li>No</li>
</ul>

</div>

                      </div>




        </div>









        <div class="summary__items">



                <div class="summary__question" id="weekly-pay-significant-changes-other-question">
                  2.12 Did any other significant changes occur to the pay or number of weekly paid employees?
                </div>




                      <div class="summary__answer">
                        <div class="summary__answer-text" id="weekly-pay-significant-changes-other-answer-answer" data-qa="weekly-pay-significant-changes-other-answer-answer">
<ul class="u-m-no">
    <li>No</li>
</ul>

</div>

                      </div>




        </div>







     </div>


      <h2 class="summary__title saturn" id="general-comments-group">General Comments</h2>

      <div class="summary__block">





        <div class="summary__items">



                <div class="summary__question" id="general-comments-question">
                  7.1 Please write any additional comments you would like to make on the information you have provided.
                </div>




                      <div class="summary__answer">
                        <div class="summary__answer-text" id="general-comments-answer-answer" data-qa="general-comments-answer-answer"><p>No comments</p></div>

                      </div>




        </div>







     </div>

  </div>
</div>

<p><b>Feedback. Has this service been helpful?</b></p>

<p>Thank you for your responses. If you have left your contact details we will get back to you soon.</p>

<div class="u-mt-s">
  <div class="mars">For more information on how we use this data.</div>
  <p class="u-mb-m@s mars"><a href="https://www.ons.gov.uk/surveys">https://www.ons.gov.uk/surveys</a></p>

</div>


    </main>

    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
  var editing = true;
  sessionStorage.setItem('editing', editing);
  if ($('.config1').length>0){
    var config1 = sessionStorage.getItem('config1');
    $('.config1').html(config1);
  }

  if ($('.retailTotal').length > 0) {
    var retailTotal = (Number(sessionStorage.getItem('q3r6'))+Number(sessionStorage.getItem('q3r5'))+Number(sessionStorage.getItem('q3r4'))+Number(sessionStorage.getItem('q3r3'))+Number(sessionStorage.getItem('q3r2'))+Number(sessionStorage.getItem('q3r1'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r1_answer = (Number(sessionStorage.getItem('q3r1'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r2_answer = (Number(sessionStorage.getItem('q3r2'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r3_answer = (Number(sessionStorage.getItem('q3r3'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r4_answer = (Number(sessionStorage.getItem('q3r4'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r5_answer = (Number(sessionStorage.getItem('q3r5'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q3r6_answer = (Number(sessionStorage.getItem('q3r6'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q4r1_answer = (Number(sessionStorage.getItem('q4r1'))).toLocaleString('en-gb',{ style: 'currency', currency: 'GBP', minimumFractionDigits: '2' });
    var q5r1_answer = sessionStorage.getItem('q5r1');

    if(q3r1_answer=='£0.00') {
      q3r1_answer = q3r1_answer+' (Nil return)';
    }
    if(q3r2_answer=='£0.00') {
      q3r2_answer = q3r2_answer+' (Nil return)';
    }
    if(q3r3_answer=='£0.00') {
      q3r3_answer = q3r3_answer+' (Nil return)';
    }
    if(q3r4_answer=='£0.00') {
      q3r4_answer = q3r4_answer+' (Nil return)';
    }
    if(q3r5_answer=='£0.00') {
      q3r5_answer = q3r5_answer+' (Nil return)';
    }
    if(q3r6_answer=='£0.00') {
      q3r6_answer = q3r6_answer+' (Nil return)';
    }
    if(q4r1_answer=='£0.00') {
      q4r1_answer = q4r1_answer+' (Nil return)';
    }
    console.info('Calc\'d total:'+retailTotal);
    $('#q3r1-answer').text(q3r1_answer);
    $('#q3r2-answer').text(q3r2_answer);
    $('#q3r3-answer').text(q3r3_answer);
    $('#q3r4-answer').text(q3r4_answer);
    $('#q3r5-answer').text(q3r5_answer);
    $('#q3r6-answer').text(q3r6_answer);
    $('#q4r1-answer').text(q4r1_answer);
    $('.retailTotal').text(retailTotal);
    $('#q5r1-answer').text(q5r1_answer);

// console.log(retailTotal.toLocaleString('en-gb',{ style: 'currency', currency: 'GBP' }));

    sessionStorage.setItem('retailTotal', retailTotal);

  }
  console.info(sessionStorage);
  // $('.qa-btn-get-started').click(function(e) {
  $('.qa-btn-submit').click(function(e) {
    e.preventDefault();
    window.location.href = "../thankyou/"; // target of save and continue

  });

  $('.js-details-trigger').click(function(e) {
    var text = $(this).text();
    if ($('.js-details').hasClass('is-expanded')){
      $(this).text(text.replace('Hide', 'Show'));
    } else {
      $(this).text(text.replace('Show', 'Hide'));
    }
    e.preventDefault();
    $('.js-details').toggleClass('is-expanded');

  });

});
</script>
