<div class="footer__body page__footer" data-analytics="footer">
    <div class="container">
        <div class="grid">
            <div class="grid__col col-4@m">
                <h2 class="footer__heading u-fs-r--b">Help with the census</h2>
                <ul class="list list--bare u-mb-no">
                    <li>
                        <a href="https://deploy-preview-118--sdc-prototypes.netlify.app/prototypes/census-website-respond/contact-us" class="footer__link">Contact us</a>
                    </li>
                    <li>
                        <a href="../languages" class="footer__link">Languages</a>
                    </li>
                    <li>
                        <a href="https://deploy-preview-118--sdc-prototypes.netlify.app/prototypes/census-website-respond/help/languages-and-accessibility/accessibility/british-sign-language/" class="footer__link">BSL</a>
                    </li>
                </ul>
            </div>

            <div class="grid__col col-4@m u-mt-m@xs@m">
                <h2 class="footer__heading u-fs-r--b">Get involved</h2>
                <ul class="list list--bare u-mb-no">
                    <li>
                        <a href="#" class="footer__link">Local authorities</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Community groups</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">School campaigns</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Media enquiries</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Jobs</a>
                    </li>
                </ul>
            </div>

            <div class="grid__col col-4@m u-mt-m@xs@m">
                <h2 class="footer__heading u-fs-r--b">About the census</h2>
                <ul class="list list--bare u-mb-no">
                    <li>
                        <a href="#" class="footer__link">What is the census?</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Why you should take part</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Census stories</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">News</a>
                    </li>
                </ul>
            </div>

            <div class="grid__col u-mb-m">
                <hr class="footer__hr">
            </div>
        </div>
        {% include footer-meta.html %}
    </div>
</div>
