<div id="footer--census" class="footer footer--census">
  <div class="container">
    <div class="footer--logo-wrapper">
      <div class="footer--census__logo">
        <img src="../../../img/ons-logo-black.svg" />
      </div>
    </div>
    <ul class="footer__list">
      <li><a href="">Privacy</a></li>
      <li><a href="">Copyright</a></li>
      <li><a href="">Terms and Conditions</a></li>
      <li><a href="">Accessibility Statement</a></li>
    </ul>
  </div>
  <div class="footer__help">
    <div class="container">
      <p class="mars">Help and Support - </p>
      <ul>
        <li class="mars">Call <a class="venus" href="">0800 123 456789</a></li>
        <li class="mars"><a class="venus" href="">Online Help</a><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><title>external-link</title><path d="M0 0v14h14v-3.5h-1.75v1.75H1.75V1.75H3.5V0H0zm7 0l2.625 2.625L5.25 7 7 8.75l4.375-4.375L14 7V0H7z" fill="#fff" fill-rule="evenodd"/></svg></li>
      </ul>
    </div>
  </div>
</div>
