<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="grid">
            <div class="grid__col col-12@m">
                <img alt="OGL" class="footer__ogl-img" src="https://cdn.ons.gov.uk/sdc/{% if page.cdn %}{{ page.cdn }}{% else %}v1.0.0{% endif %}/img/UKOpenGovernmentLicence-grey.svg"> All content is available under the
                <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" class="footer__link">Open Government
                    Licence v3.0</a>, except where otherwise stated
            </div>
        </div>
    </div>
</footer>
