<footer class="footer " data-analytics="footer">
  <div class="footer__body">
    <div class="container ">
      <div class="grid">
        {% unless page.hideSaveLater %}
          <div class="grid__col u-mb-m u-d-no@m">
          {% if page.exit %}
            <a href="#" role="button" class="btn btn--ghost-blue btn--link exit">
              <span class="btn__inner">Exit</span>
            </a>
          {% else %}
            <a href="#" role="button" class="btn btn--ghost-blue btn--link complete-later">
              <span class="btn__inner">Save and sign out</span>
            </a>
          {% endif %}
          </div>
        {% endunless %}
        <div class="grid__col ">
          <ul class="list list--bare list--inline@s">
            <li class="list__item ">
              <a href="https://blacklodge.census-gcp.onsdigital.uk/help/how-to-answer-questions/online-questions-help/" class="list__link">
                Help
              </a>
            </li>
            <li class="list__item ">
              <a href="https://blacklodge.census-gcp.onsdigital.uk/contact-us/" class="list__link ">
                Contact us
              </a>
            </li>
            <li class="list__item ">
              <a href="#" class="list__link icon--external-link" target="_blank">
                Web chat
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__meta footer--border">
        <div class="grid grid--flex grid--vertical-center grid--between">
            <div class="grid__col u-mb-s u-mr-m">
                <ul class="list list--bare list--inline@s u-mb-no">
                    <li class="list__item ">
                        <a href="#" class="list__link ">
                            Cookies
                        </a>
                    </li>
                    <li class="list__item ">
                        <a href="#" class="list__link ">
                            Accessibility
                        </a>
                    </li>
                    <li class="list__item ">
                        <a href="#" class="list__link ">
                            Privacy and data protection
                        </a>
                    </li>
                </ul>
                <img class="footer__poweredby-img u-mt-s" src="/img/ons-logo-black-inline.svg" alt="Office for National Statistics">
            </div>
            <div class="grid__col grid__col--flex u-ml-s u-mb-s u-p-no">
                <img src="/img/logo-crest.svg" alt="Office for National Statistics" class="footer__crest-img ">
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>