<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="grid">
            <div class="grid__col col-4@m">
                <h4 class="venus footer__heading">Get in touch</h4>
                <ul class="list list--bare">
                    <li>
                        <a href="/cookies-privacy" class="footer__link">Contact us</a>
                    </li>
                </ul>
            </div>

            <div class="grid__col col-4@m">
                <h4 class="venus footer__heading">Working on the census</h4>
                <ul class="list list--bare">
                    <li>
                        <a href="#" class="footer__link">Jobs</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Media enquiries</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Media and campaigns</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Our partners</a>
                    </li>
                </ul>
            </div>

            <div class="grid__col col-4@m">
                <h4 class="venus footer__heading">About the census</h4>
                <ul class="list list--bare">
                    <li>
                        <a href="#" class="footer__link">What is the census?</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Why you should take part</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Case studies</a>
                    </li>
                </ul>
            </div>
        </div>
        {% include footer-meta.html %}
    </div>
</footer>
