<header class="header">
    <div class="header__top" role="banner">
        <div class="container">
            <div class="header__grid-top grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                    <div class="logo">
                        {% unless page.noONSLogoLink %}<a href="{{ site.baseurl }}/">{% endunless %}
                            {% if page.nisra %}
                            <picture>
                                <source media="(max-width: 550px)" srcset="https://ons-design-system.netlify.app/img/nisra-logo-en.svg">
                                <img class="logo__img header__logo print__hidden" width="170" src="https://ons-design-system.netlify.app/img/nisra-logo-en.svg" alt="NISRA logo">
                            </picture>
                            {% else %}
                            <picture>
                                <source media="(max-width: 550px)" srcset="/s/img/ons-logo-stacked.svg">
                                <img class="logo__img header__logo print__hidden" src="https://ons-design-system.netlify.app/img/ons-logo-pos-en.svg" alt="Office for National Statistics logo">
                            </picture>
                            {% endif %}
                        {% unless page.noONSLogoLink %}</a>{% endunless %}
                    </div>
                {% unless page.nisra %}
                <div class="header__links grid__col col-auto">
                    <div class="grid__col col-auto">
                        <ul class="language-links">
                            <li class="language-links__item"><a href="#" lang="cy" data-ga-element="language">Cymraeg</a></li>
                        </ul>
                    </div>
                </div>
                {% endunless %}
            </div>
        </div>
    </div>
    <div class="header__main ">
        <div class="container">
            <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto u-flex-shrink">
                    {% if page.logoUrl %}<a class="header__title-link" href="{{ page.logoUrl }}">{% endif %}
                    <h1
                            class="header__title header__title--nav-adj">
                        <span class="js-header-title">
                            {% if page.title %}
                                {{ page.title }}
                            {% else %}
                                {{ site.title }}
                            {% endif %}
                        </span>
                    </h1>
                    <img class="header__title-logo" src="/img/icons/census-logo-en.svg" alt="Census 2021">
                    {% if page.logoUrl %}</a>{% endif %}
                </div>
                <div class="grid__col col-auto u-flex-no-shrink">
                {% unless page.hideSaveLater %}
                    {% if page.exit %}
                    <button class="btn btn--ghost u-fr u-d-no@xs@m exit">Exit</button>
                    {% else %}
                    <button class="btn btn--ghost u-fr u-d-no@xs@m complete-later">Save and sign out</button>
                    {% endif %}
                {% endunless %}
                </div>
            </div>
        </div>
    </div>
</header>
