<header class="header">
    {% if page.beta %}
        <div class="beta-bar">
            <div class="container">
                <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap">
                    <div class="grid__col col-auto u-flex-no-grow">
                        <h3 class="beta-bar__badge">Beta</h3>
                    </div>
                    <div class="grid__col col-auto u-flex-shrink">
                        <p class="beta-bar__desc u-fs-s u-mb-no">This is a new service – your <a href="../feedback">feedback</a> will help us improve it.</p>
                    </div>
                </div>
            </div>
        </div>
          
    {% endif %}
    <div class="header__top" role="banner">
        <div class="container">
            <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto">
                    <div class="logo">
                        <img src="https://deploy-preview-129--sdc-global-design-patterns.netlify.com/assets/img/ons-logo-black-en.svg" alt="Office for National Statistics logo" class="logo__img header__logo--print">
                        <a href="{{ site.baseurl }}/">
                            <img src="https://deploy-preview-129--sdc-global-design-patterns.netlify.com/assets/img/ons-logo-pos.svg" alt="Office for National Statistics logo" class="logo__img header__logo print__hidden">
                        </a>
                    </div>
                </div>
                <div class="grid__col col-auto u-flex-no-shrink u-d-no--@xs@m">
                    <ul class="list list--bare list--inline">
                        <li class="list__item">
                            <a href="/my-account" class="footer__link" target="_blank">My account</a>
                        </li>
                        <li class="list__item">
                            <a href="/#" class="footer__link">Cymraeg</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header__main ">
        <div class="container">
            <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto u-flex-shrink">
                    <h1 class="header__title js-header-title">
                        {% if page.title %}
                            {{ page.title }}
                        {% else %}
                            {{ site.title }}
                        {% endif %}
                    </h1>
                </div>
                <div class="grid__col col-auto u-flex-no-shrink{% if page.footerSave == true %} u-d-no--@xs@m{% endif %}">
                    <button class="btn btn--ghost u-ml-s">Save and complete later</button>
                </div>
            </div>
        </div>
    </div>
</header>
