<header class="header">
    <div class="header__top" role="banner">
        <div class="container">
            <div class="header__grid-top grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                    <div class="logo">
                        {% unless page.noONSLogoLink %}<a href="{{ site.baseurl }}/">{% endunless %}
                            <picture>
                                <source media="(max-width: 550px)" srcset="/s/img/ons-logo-stacked.svg">
                                <img class="logo__img header__logo print__hidden" src="https://deploy-preview-129--sdc-global-design-patterns.netlify.com/assets/img/ons-logo-pos.svg" alt="">
                            </picture>
                        {% unless page.noONSLogoLink %}</a>{% endunless %}
                    </div>
                <div class="header__links grid__col col-auto">
                    <div class="grid__col col-auto">
                        <ul class="language-links">
                            <li class="language-links__item"><a href="#" lang="cy" data-ga-element="language">Cymraeg</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__main ">
        <div class="container">
            <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto u-flex-shrink">
                    {% if page.logoUrl %}<a class="header__title-link" href="{{ page.logoUrl }}">{% endif %}
                    <h1
                            class="header__title header__title--nav-adj">
                        <span class="js-header-title">
                            {% if page.title %}
                                {{ page.title }}
                            {% else %}
                                {{ site.title }}
                            {% endif %}
                        </span>
                    </h1>
                    <img class="header__title-logo" src="/img/icons/census-logo-en.svg" alt="Census 2021">
                    {% if page.logoUrl %}</a>{% endif %}
                </div>
                <div class="grid__col col-auto u-flex-no-shrink u-d-no@m">
                  <button type="submit" class="btn btn--mobile u-ml-s js-toggle-main" aria-label="Toggle main navigation" aria-controls="main-nav" aria-haspopup="true" aria-expanded="false">
                    <span class="btn__inner">Menu</span>
                  </button>
                </div>
            </div>
        </div>
    </div>
		<div class="header__bottom">
			<div class="container container--gutterless@xs@m">
				<nav class="header-nav js-header-nav" id="main-nav" aria-label="Main menu" data-analytics="header-navigation">
					<ul class="header-nav__list" aria-label="" role="menubar">
						<li class="header-nav__item ">
							<a href="" class="header-nav__link" role="menuitem">Home</a>
						</li>
						<li class="header-nav__item ">
							<a href="" class="header-nav__link" role="menuitem">About the census</a>
						</li>
						<li class="header-nav__item ">
							<a href="" class="header-nav__link" role="menuitem">Help with your census</a>
						</li>
                        <li class="header-nav__item ">
							<a href="" class="header-nav__link" role="menuitem">Keeping your data safe</a>
						</li>
						<li class="header-nav__item ">
							<a href="" class="header-nav__link" role="menuitem">Contact us</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
</header>
