<header class="header header--census has-js">
	<div class="header__help is-closed js-help-body">		
		<div class="header__container container">		
			<div class="header__title ">Help and support –</div>		
				<ul class="header__nav nav nav--horizontal">		
					<li class="nav__item">		
	          <span class="mars" role="presentation">Call </span> <a class="venus nav__link" href="tel:03000683001"><span class="u-vh">For help call </span>0300 068 3001</a>		
	        </li>		
	        <li class="nav__item">		
	          <a class="venus nav__link external--white" href="http://www.ons.gov.uk/census/help" target="_blank" rel="noopener noreferrer">Online Help</a>		
	        </li>		
	      </ul>		
	    </div>		
	  </div>		
    <div class="header__container container">
      <div class="header__logo">
	      <img src="{{site.baseurl}}/s/img/census-logo.svg?q=afe0c3fc5f881be5a231a218296436c68cc7fa26" alt="2017 Census"" alt="2017 Census">
      </div>
    <button class="header__btn btn btn--light btn--border js-help-btn" data-ga-action="Help and support" data-ga="click" data-ga-category="Help">	
        Help and support
    </button>
  </div>
</header>