<aside class="progress">
  <nav>
    <ol>
      <li class="section-2 section-3"><span class="mars">Reporting period</span>
        <ol>
          <li><a href="../section-2?progressOpen=1" class="pluto">Are you able to report for the period from 29 May 2016 to 2 July 2016?</a></li>
          <li><a href="../section-3?progressOpen=1" class="pluto">What are the dates of the period that you will be reporting for?</a></li>
        </ol>
      </li>
      <li class="section-4"><span class="mars">Retail turnover</span>
        <ol>
          <li><a href="../section-4?progressOpen=1" class="pluto">For the reporting period, what was the value of the business’s total retail turnover?</a></li>
        </ol>
      </li>
      <li class="section-5"><span class="mars">Internet sales</span>
        <ol>
          <li><a href="../section-5?progressOpen=1" class="pluto">Of your retail turnover, what was the value of internet sales?</a></li>
        </ol>
      </li>
      <li class="section-6 section-7"><span class="mars">Changes in total retail turnover</span>
        <ol>
          <li><a href="../section-6?progressOpen=1" class="pluto">Please indicate all changes in the business’s total retail turnover</a></li>
          <li><a href="../section-7?progressOpen=1" class="pluto">Describe the changes in the business’s total retail turnover in more detail</a></li>
        </ol>
      </li>
      <li class="section-8"><span class="mars">Employees</span>
        <ol>
          <li><a href="../section-8?progressOpen=1" class="pluto">On 10 June 2016 what was the number of employees for your business?</a></li>
        </ol>
      </li>
      <li class="section-9"><span class="mars">Changes in employment figures</span>
        <ol>
          <li><a href="../section-9?progressOpen=1" class="pluto">Please explain any changes in employee numbers for the business</a></li>
        </ol>
      </li>
      <li class="section-9"><span class="mars"><a href="../summary">Summary</a></span>
      </li>
    </ol>
  </nav>
</aside>

<script>
  var QueryString = function () {
    // This function is anonymous, is executed immediately and
    // the return value is assigned to QueryString!
    var query_string = {};
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i=0;i<vars.length;i++) {
      var pair = vars[i].split("=");
          // If first entry with this name
      if (typeof query_string[pair[0]] === "undefined") {
        query_string[pair[0]] = decodeURIComponent(pair[1]);
          // If second entry with this name
      } else if (typeof query_string[pair[0]] === "string") {
        var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
        query_string[pair[0]] = arr;
          // If third or later entry with this name
      } else {
        query_string[pair[0]].push(decodeURIComponent(pair[1]));
      }
    }
    return query_string;
  }();

  if (QueryString.progress === '0') {
    $('.progress').css('display', 'none');
  }
  // $(function() {
  //    $("a").attr('href', function(i, h) {
  //      return h + (h.indexOf('?') != -1 ? "&address=" + QueryString.address : "?address=" + QueryString.address);
  //    });
  // });
  $('.progress ol li span').on('click', function() {
    if ($(this).parent().hasClass("is-open")) {
      $('.progress ol li').removeClass('is-open');
    } else {
      $('.progress ol li').removeClass('is-open');
      $(this).parent().addClass('is-open');
    }
  });
  $(function(){
    var pathArray = window.location.pathname.split( '/' );
    var fourthLevelLocation = pathArray[4];
    if (QueryString.progressOpen === '1') {
      $('.' + fourthLevelLocation).addClass('active is-open').prevAll().addClass('complete');
    } else {
      $('.' + fourthLevelLocation).addClass('active').prevAll().addClass('complete');
    }
    // $('.' + fourthLevelLocation).addClass('active').nextAll().addClass('disabled');
  });



</script>
