<aside class="progress-censusv2">
  <nav>
    <ol>
      <li class="section-4 section-5 section-6 section-8">
        <a class="mars" href="../section-3">Who lives here?</a>
      </li>
      <li class="section-9 section-10 section-11 section-11b section-14 section-15">
        <a class="mars" href="../section-6">Accommodation</a>
      </li>
      <li class="section-19 section-20 section-21 section-22 section-34 section-35 section-36 section-37 section-38 section-38b">
        <a class="mars" href="../section-8"><span class="this-section">John Doe</span></a>
      </li>
      <li class="section-41">
        <a class="mars" href="../section-8"><span class="next-section">John Doe</span></a>
      </li>
      <span class="box--entity"></span>
    </ol>
  </nav>
</aside>

<script>
var pathArray = window.location.pathname.split( '/' );
var fourthLevelLocation = pathArray[4];
$('.' + fourthLevelLocation).addClass('active is-open').prevAll().addClass('complete');

var listEntity = function(idNumber, firstNameValue, middleNameValue, lastNameValue){
  if (idNumber == 1 || idNumber == 2) {
  } else {
    $( '.box--entity' ).append( '' +
    '<li class="" >' +
    '<div class="mars"><a href=""> ' + firstNameValue + " " + middleNameValue + " "  + lastNameValue + ' </a></div>' +
    '</li>');
  }
};
$( document ).ready(function() {
  $('.this-section').html(sessionStorage.getItem('firstName0') + ' '  + sessionStorage.getItem('lastName0'));
  $('.next-section').html(sessionStorage.getItem('firstName1') + ' '  + sessionStorage.getItem('lastName1'));
  if (sessionStorage.getItem('numberOfEntities')) {
    for (var i = 0; i < sessionStorage.getItem('numberOfEntities'); i++) {
      var firstNameValue = "";
      var middleNameValue = "";
      var lastNameValue = "";
      if (sessionStorage.getItem('firstName' + i)) {
        var firstNameValue = sessionStorage.getItem('firstName' + i);
      }
      if (sessionStorage.getItem('middleName' + i)) {
        var middleNameValue = sessionStorage.getItem('middleName' + i);
      }
      if (sessionStorage.getItem('lastName' + i)) {
        var lastNameValue = sessionStorage.getItem('lastName' + i);
      }
      listEntity(i + 1, firstNameValue, middleNameValue, lastNameValue);
    }
  }
});


</script>
