<aside class="progress">
  <nav>
    <ol>
      <li class="section-2 section-3"><span class="mars">Reporting period</span>
        <ol>
          <li><a href="../section-2?progressOpen=1" class="pluto">Are you able to report for the period from 4 January 2016 to 31 January 2016 (4 weeks)?</a></li>
          <li><a href="../section-3?progressOpen=1" class="pluto">What are the dates of the period that you will be reporting for?</a></li>
        </ol>
      </li>
      <li class="section-4"><span class="mars">Retail turnover</span>
        <ol>
          <li><a href="../section-4?progressOpen=1" class="pluto">For the reporting period 1 May 2016 to 31 May 2016, what was the value of the business’s total retail turnover?</a></li>
        </ol>
      </li>
      <li class="section-5"><span class="mars">Internet sales</span>
        <ol>
          <li><a href="../section-5?progressOpen=1" class="pluto">Of your retail turnover, what was the value of internet sales?</a></li>
        </ol>
      </li>
      <li class="section-6 section-7?progressOpen=1"><span class="mars">Changes in total turnover</span>
        <ol>
          <li><a href="../section-6?progressOpen=1" class="pluto">Please indicate all changes in the business’s total turnover</a></li>
          <li><a href="../section-7?progressOpen=1" class="pluto">Describe the changes in the business’s total turnover in more detail</a></li>
        </ol>
      </li>
      <li class="section-8"><span class="mars">Employees</span>
        <ol>
          <li><a href="../section-8?progressOpen=1" class="pluto">On 12 January 2016 what was the number of employees for the business named above?</a></li>
        </ol>
      </li>
      <li class="section-9"><span class="mars">Changes in number of employees</span>
        <ol>
          <li><a href="../section-9?progressOpen=1" class="pluto">Please explain any changes in employee numbers for the business</a></li>
        </ol>
      </li>
      <li class="summary"><span class="mars">Summary</span>
        <ol>
          <li><a href="../summary?progressOpen=1" class="pluto">Summary</a></li>
        </ol>
      </li>
    </ol>
  </nav>
</aside>
