{% assign all_categories = site.prototypes | map: "project" | uniq %}

<nav class="prototype-list">

  <ul>

  {% if page.url != "/" %}
    <li><strong>Shortcuts</strong></li>
    <li><a href="/eq-prototypes/index.html">Prototypes Home</a></li>
  {% endif %}

  {% for cat in all_categories %}

    <li><strong>{{cat}}</strong></li> 
    {% for prototype in site.prototypes %}
      {% if prototype.path contains 'index.html' and prototype.project == cat %}
      <li><a href="{{ prototype.url | prepend: site.baseurl }}">{{ prototype.title }}</a></li>
      {% endif %}
    {% endfor %}

  {% endfor %}

  </ul>

</nav>
