  <div class="container">

<style type="text/css">

.first_top_help {
  font-size: 0.9em;
  line-height: 1;
  margin-right: 1em;
}
.info_dt_top_telephone {
  text-align: right;
}
.remove_padding{
  padding-right: 0em;
  margin-right: 0em;
}


.info__dt_top {

  margin-right: 0.2rem;
}

.info__dd_top {

  padding-right: 1em;
  margin-right: 1em;
}

.info__dt_top,
.info__dd_top {
  display: inline-block;
  font-size: 0.7em;
  margin: 0;
  line-height: 1.2;
  white-space: nowrap;
  &.first {
    padding-left: 0;
    margin-left: 0;
  }
  &.last {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
  }
}

.info__list_top {
  display: flex;

  padding-top: 0.5em;
  margin: 0.1em 0 0;
  @include mq(m) {
    display: inline-flex;
  }
}

.info__list_bottom {
  display: flex;
  border-top: 1px solid $color-borders;
  padding-top: 0.5em;
  margin: 0.1em 0 0;
  @include mq(m) {
    display: inline-flex;
  }
}
.header__info {
  float: left;
  text-align: left;
}
.company__info--link {
  display: block;
  font-size: 0.8rem;
}
.header .guidance {
  margin: 0;
}
</style>

    <div class="header">
      <div class="logo header__logo">
        <img src="{{site.baseurl}}/s/img/logo.svg?q=b9a5e2a769014f162729655ec44ee5c5210bc8c3" alt="Office for National Statistics" class="logo__img" />
      </div>
      <div class="info header__info" role="contentinfo">
        <span class="config1"></span>
        <p class="pluto u-mb-xs">If the business name or structure has changed, contact us on <a href="tel:0300 1234 931">0300 1234 931</a></p>

        <!-- Show/hide to go here -->
        <!-- <div class="guidance js-details" data-show-label="Show further guidance" data-hide-label="Hide further guidance">
          <a class="guidance__link js-details-trigger js-details-label pluto" href="#guidance-permanent-or-family-home-answer" aria-expanded="false" data-guidance-trigger="true" aria-controls="guidance-permanent-or-family-home-answer-body" id="guidance-permanent-or-family-home-answer-trigger" data-ga-category="Help" data-ga-label="permanent-or-family-home-answer" data-ga="click" data-ga-action="Guidance click">Tell us about a change of company details</a>
            <div class="guidance__main js-details-body" id="guidance-permanent-or-family-home-answer-body" aria-hidden="true">
              <div class="guidance__content mars">
                Call 0300 1234 931 or email <a href="mailto:surveys@ons.gov.uk">surveys@ons.gov.uk</a> if there have been any changes to your business name, address or structure.
            </div>
          </div>
        </div> -->
        <!-- End show hide -->

      </div>
    </div>

</div>
