---
title: Repeating elements and relationships prototype
project: Repeating elements
globalcss: false
---

{% include survey-header.html %}
{% include bar.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="../section-3">Previous</a><br/><br/>
        <form action="../section-5" class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn">Household</h2>
                <div class="question question--radios" id="def61645-c231-4522-ba2f-273b25507e53">
                  <div class="question__title neptune">Confirm who lives in your household? </div>
                  <div class="question__responses">
                    <div class="response response--repeating-element response--closed" id="response1">
                      <span class='edit-entity'>Edit</span>
                      <h3 class="response__title venus" ><input id="nameOfPersonTitle" name="nameOfPersonTitle" class="input input--text" type="text" value="Person"></h3>
                      <div class="field">
                        <label class="label venus" for="nameOfPerson" id="">First name</label>
                        <input id="nameOfPerson" name="nameOfPerson" class="input input--text" type="text" value="">
                      </div>
                      <div class="field">
                        <label class="label venus" for="surnameOfPerson" id="">Surname</label>
                        <input id="surnameOfPerson" name="surnameOfPerson" class="input input--text" type="text" value="">
                      </div>
                      <div class="field">
                        <button class="btn btn--secondary venus" disabled>Save entity</button>
                        <button class="btn btn--delete venus" disabled>Delete entity</button>
                      </div>
                    </div>
                  </div>
                </div>
              <button class="btn btn--border add-another-entity venus" type="submit" name="" disabled>Add another person</button>
              </div>
              <br/>
              <br/>
              <button href="../section-2" class="btn btn--secondary qa-btn-get-started venus" type="submit" name="">Save and continue</button>
              <br/><a class="mars" href="../section-3">Previous</a>
            </div>
          </div>
          <input id="numberOfEntities" name="numberOfEntities" class="input input--text visually-hidden" type="text" value="">
          <input id="currentNumber" name="currentNumber" class="input input--text visually-hidden" type="text" value="0">
        </form>
      </div>
    </div>
  </div>
</div>




<script>


var QueryString = function () {
  // This function is anonymous, is executed immediately and
  // the return value is assigned to QueryString!
  var query_string = {};
  var query = window.location.search.substring(1);
  var vars = query.split("&");
  for (var i=0;i<vars.length;i++) {
    var pair = vars[i].split("=");
        // If first entry with this name
    if (typeof query_string[pair[0]] === "undefined") {
      query_string[pair[0]] = decodeURIComponent(pair[1]);
        // If second entry with this name
    } else if (typeof query_string[pair[0]] === "string") {
      var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
      query_string[pair[0]] = arr;
        // If third or later entry with this name
    } else {
      query_string[pair[0]].push(decodeURIComponent(pair[1]));
    }
  }
  return query_string;
}();

if (QueryString.numberOfEntities) {
  var ents = parseInt(QueryString.numberOfEntities);
  for (i = 0; i < ents; i++) {
    if (i === 0) {
    } else {
      $( "#response1" ).clone().appendTo( ".question__responses" )
        // .append("<span class='remove-entity'>Remove</span>")
        .find("input")
        .attr( "id", "nameOfPersonTitle" + i ).attr( "name", "nameOfPersonTitle" + i )
        .parent()
        .find(".label")
        .attr( "for", "nameOfPerson" + i )
        .next(".input")
        .attr( "id", "nameOfPerson" + i ).attr( "name", "nameOfPerson" + i )
        .parent(".field")
        .next()
        .find(".label")
        .attr( "for", "surnameOfPerson" + i )
        .next(".input")
        .attr( "id", "surnameOfPerson" + i ).attr( "name", "surnameOfPerson" + i );
    }
  }
}

$('.add-another-entity').click(function(e) {
    e.preventDefault();
    if (QueryString.numberOfEntities) {
      var x = parseInt(QueryString.numberOfEntities);
      var y = parseInt(1);
      var total = x + y;
      window.location.href = "../section-3/?numberOfEntities=" + total + "";
    } else {
        window.location.href = "../section-3/?numberOfEntities=2";
    }
});

$('.remove-entity').click(function(e) {
    e.preventDefault();
    var x = parseInt(QueryString.numberOfEntities);
    var y = parseInt(1);
    var total = x;
    window.location.href = "../section-3/?numberOfEntities=" + total + "";
});
$( document ).ready(function() {
  var hashParams = window.location.search.substr(1).split('&'); // substr(1) to remove the #
  for(var i = 0; i < hashParams.length; i++){
      var p = hashParams[i].split('=');
      document.getElementById(p[0]).value = decodeURIComponent(p[1]);
      console.log(decodeURIComponent(p[1]));
  }

  // var value = $( "#nameOfPerson" ).val();
  // $( "#nameOfPersonTitle" ).val( value );
  // var value = $( "#nameOfPerson1" ).val();
  // $( "#nameOfPersonTitle1" ).val( value );
  // var value = $( "#nameOfPerson2" ).val();
  // $( "#nameOfPersonTitle2" ).val( value );

  for (var i = 0; i < ents; i++) {
    if (i === 0) {
      var value = $( "#nameOfPerson" ).val();
      $( "#nameOfPersonTitle" ).val( value );
    } else {
      var value = $( "#nameOfPerson" + i ).val();
      $( "#nameOfPersonTitle" + i ).val( value );
    }
  }

  function toggleClass(thisItem, thatItem) {
    $(thisItem).toggleClass("response--closed");
    $(thatItem).toggleClass("response--closed");
  }

  $( ".edit-entity").click(function(e) {
    var thisItem = $(this);
    var thatItem = $(this).closest(".response");
    toggleClass(thisItem, thatItem);
  });

});
</script>
