---
title: Repeating elements and relationships prototype
project: Repeating elements
globalcss: false
---

{% include survey-header.html %}
{% include bar.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="../index">Previous</a><br/><br/>
        <form action="../section-3" class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn">Household</h2>
                <div class="question question--radios" id="def61645-c231-4522-ba2f-273b25507e53">
                  <div class="question__title neptune">How many people usually live in your household? </div>
                  <div class="question__responses">
                    <div class="response response--textfield" id="numberOfEntities">
                      <div class="field">
                        <label class="label venus" for="numberOfEntities" id="label-numberOfEntities">Number of people</label>
                        <input aria-describedby="description-question-i1 guidance-numberOfEntities-trigger" id="numberOfEntities" name="numberOfEntities" class="input input--text" type="number" value="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <button href="../section-3" class="btn btn--secondary qa-btn-get-started venus" type="submit" >Save and continue</button>
              <br/><a class="mars" href="../index">Previous</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
