---
title: Household Questionnaire
subtitle: England
project: 2017 Census lite
globalcss: false
---

{% include survey-header-census.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="">Previous</a><br/><br/>

        <div id="root"></div>

      </div>
    </div>
    <div class="grid__col col-4@s">
    {% include progress-census.html %}
    </div>
  </div>
</div>


{% include footer-census.html %}

<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
<!-- <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script> -->
<script src="{{ "/js/modules/app.js" | prepend: site.baseurl }}"></script>
