---
title: Household Questionnaire lite v2
subtitle: England
project: 2017 Census lite
globalcss: false
---

{% include survey-header-census.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="">Previous</a><br/><br/>
        <form class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number question__title__number--census venus">3</span> John Doe</h2>
                <div class="question question--checkboxes">
                  <h3 class="question__title neptune"><span class="question__title__number venus">3.21</span>Which of the following options best describes how you see yourself?</h3>
                  <div class="question__description">
                    <p class="venus">This question is voluntary</p>
                  </div>
                  <div class="question__responses">
                    <div class="response response--checkbox">
                      <div class="field field--multi field--checkbox">
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-1" value="Hetrosexual or straight" title="Hetrosexual or straight">
                          <label class="label label--inline" for="form-input-1"><span class="label__inner">Hetrosexual or straight</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-2" value="Gay or lesbian" title="Gay or lesbian">
                          <label class="label label--inline" for="form-input-2"><span class="label__inner">Gay or lesbian</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-3" value="Bisexual" title="Bisexual">
                          <label class="label label--inline" for="form-input-3"><span class="label__inner">Bisexual</span></label>
                        </div>
                        <div class="field__item field__item--other">
                          <input class="input input--checkbox input--checkbox--change input--other" type="checkbox" name="q0" id="form-input-6" value="Other" title="Other">
                          <label class="label label--inline" for="form-input-6"><span class="label__inner mars">Other</span></label>
                          <div class="field__item--other__text">
                            <span class="pluto">Please specify</span><br />
                            <input class="input input--text" type="text" value="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--census qa-btn-get-started venus" type="submit" name="">Save and continue</button><br/><br/>
          <a class="mars" href="">Save and complete later</a><br/><br/>
          <a class="mars" href="">Previous</a>
        </form>
      </div>
    </div>
    <div class="grid__col col-4@s">
    {% include progress-census.html %}
    </div>
  </div>
</div>

{% include footer-census.html %}

<script>

$( document ).ready(function() {
  $('.section__title').html('<span class="section__title__number question__title__number--census venus">3</span>' + sessionStorage.getItem('firstName0') + ' '  + sessionStorage.getItem('lastName0'));
});

$('.input--other').click(function(e) {
  if($(this).prop('checked')) {
    console.log("checked");
    $('.field__item--other__text').addClass('field__item--other__text--open');
  } else {
  $('.field__item--other__text').removeClass('field__item--other__text--open');
  }
});

$('.qa-btn-get-started').click(function(e) {
  e.preventDefault();
  var checkboxValue = $("input[name='q0']:checked"). val();
  sessionStorage.setItem('sexualPref', checkboxValue);
  window.location.href = "../section-39-inter";
});
</script>
