---
title: Monthly wages and salaries survey
project: eQ
globalcss: false
subtitle: Notice is given under section 1 of the Statistics of Trade Act 1947
---

<header class="page__header">
{% include survey-header.html %}
{% include bar-hero.html %}
</header>

<style type="text/css">

  .response_date_outline{
    background-color: #FDF6EC;
    border-left: 5px solid #F99C21;
    float: right;
    font-size: 18px;font-weight: bold; line-height: 26px;
    padding: 16px 24px;
  }
  .review_control{
    cursor: pointer;
    float: right;
    font-size: 18px;font-weight: bold; line-height: 26px;
  }

  .preview_list {

  }
  .preview_list::before {
    content: ">";
    /*content: url('/sdfdsf/dsf');*/
    transform: rotate(90deg);
    display: inline-block;
    margin-right: 0.5rem;
  }
   .preview_list.show::before {
    transform: rotate(270deg);
  }

    


  .hidden_text{
    display: none;
    font-weight: normal;

  }
  .hidden_text.show{
    display: block;
  }
</style>


<div class="page__subheader">
  <div class="container">

  </div>
</div>

<div class="page__container container">
  <div class="grid">
    <div class="grid__col col-12@xs">
    
      <main role="main" id="main" class="page__main">
        <div class="u-mt-s"><h2 class="saturn col-12@l">Your response is legally required
        <span class="response_date_outline">Due date: 30 September 2016</span>
        </h2>

       <dd class="dl__data mars">For period: 30 September 2016 to 31 December 2016</dd>
                  

        <div class="grid grid--flex grid--bordered@s u-mb-s">

            <div class="grid__col col-6@s">
              <dl class="dl u-pr-s">
                <dt class="dl__title mercury">Business name</dt>
                <dd class="dl__data mars">Bolts & Ratchets Ltd</dd>

                  <dt class="dl__title mercury">Trading as</dt>
                  <dd class="dl__data mars">Bolts & Ratchets Ltd</dd>

              </dl>
            </div>

            <div class="grid__col col-6@s">
              <dl class="dl">
                <dt class="dl__title mercury">Business address</dt>
                <dd class="dl__data mars"><span>23 Primrose Avenue
                </br>Hoddingbridge</br>Wessex</br>WE11 2DO
                </span></dd>

              </dl>
            </div>
          </div>
        </div>
        
        <div class="u-mt-s"><h2 class="saturn col-10@l">Reasons for completing the survey</h2>

        <div class="u-mb-l qa-intro-description col-12@s">
          <p>A statutory questionnaire for <b>Bolts & Ratchets Ltd</b> for the period 30 September 2016 to 31 December 2016</p>
          <p>A good reason to fill in a survey</p>
          <p>A very good reason to fill in a survey</p>
          <p>An even better reason to fill in a survey</p>
        </div>
        <div class="u-mb-l">
          <h2 class="saturn">Overview of information required</h2>
<div>
          <div class="preview_list">Pay patterns for employees<span class="review_control">Preview</span></div>
          <div class="hidden_text panel panel--simple panel--info">
          <br>
          <p>Please indicate how frequently employees are paid: weekly, fortnightly, calendar monthly, four weekly or five weekly</p></div>
          <br>
          <div class="preview_list">Dependent on pay pattern, details of pay paid to employees<span class="review_control">Preview</span></div>
          <div class="hidden_text panel panel--simple panel--info">
          <br>
          <p>For all pay patterns in a given period, please provide:</p>
          <ul>
          <li>The number of employees</li>
          <li>The total gross weekly pay paid</li>
          </ul>
          <p>Of the amount paid, what amount was:</p>
          <ul>
          <li>Holiday pay, paid in advance</li>
          <li>Arrears of pay owing to pay awards</li>
          <li>Bonuses, commission or annual profit</li>
          </ul>
          </div>
          <br>
          <div class="preview_list">Dependent on pay pattern, details of any significant changes<span class="review_control">Preview</span></div>
          <div class="hidden_text panel panel--simple panel--info">
          <br>
          <p>For all pay patterns in a given period, were there any significant changes to the number of:</p>
          <ul>
          <li>Employees</li>
          <li>Redundancies</li>
          <li>Temporary employees</li>
          <li>The total gross pay paid</li>
          <li>The amount of overtime paid</li>
          </ul>
          </div>
          <br>
          <div class="preview_list">Dependent on pay pattern, details of any significant change to the pay rate<span class="review_control">Preview</span></div>
          <div class="hidden_text panel panel--simple panel--info">
            <br>
            <p>For all pay patterns in a given period, were there any significant changes to the pay rates. If possible, please include the percentage increase of new pay rates</p>
            </div>
            <br>
          <div class="preview_list">Any other significant changes<span class="review_control">Preview</span></div>
          <div class="hidden_text panel panel--simple panel--info">
            <br>
          <p>For all pay patterns, did any other sigificant changes such as industrial action affect the total gross pay paid or number of employees</p>
          </div>
          <br>
          </div>
          <div class="u-mb-l">
          <h2 class="saturn">When completing the survey</h2>
          <p>We will treat your data securely and confidentially</p>
          <p>You will have the opportunity to download your submission as a PDF when the survey is complete</p>
          <p>If actual figures are not available, please provide informed estimates.</p>
        </div>
        <form class="form" action="../pay-pattern-2" autocomplete="off" novalidate="">
          <button class="btn btn--primary btn--lg qa-btn-get-started" type="submit" name="">Complete survey</button>


        </form>
        <h2 class="saturn">Legal Information</h2>
        <p class="mars">You are required to complete this questionnaire. If you do not complete and return this questionnaire by 12 June 2016, penalties may be incurred (under section 4 of the Statistics of Trade Act 1947).</p>
      </main>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
$('.preview_list').click( function(){
  //$(this).parent().child('.hidden_text').addClass('show');
  // alert $(this).parent.html();
});
  if ($('.q1').length > 0) {
    var q1var = sessionStorage.getItem('q1'); // Total retail turnover
    $('.q1').text(q1var);
  }
  sessionStorage.clear();
  console.info(sessionStorage);

  $('.preview_list').on("click", function(e) {
    $(this)
    .toggleClass('show')
    .next('.hidden_text')
    .toggleClass('show')
  })

});

</script>
