---
title: Summary playback pattern
project: Summary playback
globalcss: false

---

<header class="page__header">
{% include survey-header.html %}
{% include bar.html %}
</header>

<div class="page__subheader">
  <div class="container">
  </div>
</div>

<div class="page__container container">
  <div class="grid grid--reverse">
    <div class="grid__col col-4@m">
    </div>
    <div class="grid__col col-7@m pull-1@m">
      <main role="main" id="main" class="page__main">
        <form action="../page2" class="form qa-questionnaire-form" role="form" autocomplete="off" novalidate="">
          <div class="group" id="rsi">
            <div class="block" id="total-retail-turnover">
              <section class="section" id="total-retail-turnover-section">
                <h3 class="neptune">Scenario 1</h3>
                <p class="mars">Non-error generating user journey.</p>
                <ul class="list u-mb-l">
                  <li>Total turnover: Enter a value of <strong>£4000</strong></li>
                  <li>Internet sales: <strong>£200</strong></li>
                  <li>Food sales: <strong>£500</strong></li>
                  <li>Alcohol, confectionary and tobacco: <strong>£450</strong></li>
                </ul>
                <h3 class="neptune">Scenario 2</h3>
                <p class="mars">User journey generating an error on summary.</p>
                <ul class="list">
                  <li>Total turnover: Enter a value of <strong>£2000</strong></li>
                  <li>Internet sales: <strong>£1200</strong></li>
                  <li>Food sales: <strong>£500</strong></li>
                  <li>Alcohol, confectionary and tobacco: <strong>£350</strong></li>
                </ul>
                <a href="../index/" class="u-mt-l btn btn--primary">Start test</a>
              </section>
            </div>
          </div>

        </form>
      </main>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
  sessionStorage.clear();

  $('.qa-btn-submit').click(function(e) {
    e.preventDefault();
    window.location.href = destination; // target of save and continue

    if ("text" === "text") {
      var inputValue = $("input[name='q1r1']").val();
      sessionStorage.setItem('q1r1', inputValue);
    }

  });
  console.log(sessionStorage);
});
</script>
