html.prototypes-home {
  font-size: 18px;
  body {
    background: white;
  }

  h1 {
    font-size: 1.2rem;
  }
}

.site-header {
  background: #222;
  color: white;
  padding: 0.3rem 0;
  margin-bottom: 3rem;
  a { 
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}

.prototype-list {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 1rem 0;
    border-bottom: 1px solid #efefef;
  }

  a {
    text-decoration: none;
  }
}

.hidden-nav-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: rgba(0,0,0,0);
  cursor: pointer;
  &:hover {
    background: rgba(0,0,0, 0.2);
  }
}

.hidden-nav {
  $width: 20rem;
  position: fixed;
  padding: 1rem;
  top: 0;
  right: 0;
  width: $width;
  height: 100%;
  background: rgba(#222, 0.9);
  color: white;
  z-index: 10;
  transform: translateX($width);
  transition: all 100ms ease-out;
  overflow: scroll;
  &.is-open {
    transform: translateX(0);
  }
  a {
    color: white;
  }
  li {
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(#efefef, 0.1);
  }
}
