$responsive: true;

@import "helpers/**/*.scss";
@import "vars/*.scss";
@import "vendor/normalize.scss";
@import "base/**/*.scss";
@import "objects/**/*.scss";
@import "components/**/*.scss";
@import "utilities/**/*.scss";
@import "hacks/**/*.scss";

// eQ tweaks
.question__total {
  border-top: 3px solid #ccc;
  padding-top: 1rem;
  margin-top: 1.5rem;
}
