.typeahead {
    position: relative
}

.typeahead__combobox {
    display: inline-block;
    border-radius: 3px
}

.typeahead__combobox--focused {
    -webkit-box-shadow: 0 0 0 3px #fe781f;
    box-shadow: 0 0 0 3px #fe781f
}

.typeahead__preview {
    position: absolute;
    width: 100%;
    border-color: transparent;
    color: #595959;
    pointer-events: none
}

.typeahead__listbox {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    border: 1px solid #999;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

@media only screen and (min-width: 500px) {
    .typeahead__listbox:not(.typeahead__listbox--full-width) {
        width: 19.5rem
    }
}

.typeahead__listbox:empty {
    display: none
}

.typeahead__option {
    margin: 0;
    padding: .5rem;
    outline: none;
    cursor: pointer
}

.typeahead__option:not(:last-child) {
    border-bottom: 1px solid #999
}

.typeahead__option--focused:not(.typeahead__option--no-results), .typeahead__option:not(.typeahead__option--no-results):not(.typeahead__option--more-results):hover {
    border-color: #4263c2;
    background: #4263c2;
    color: #fff
}

.typeahead__option--more-results, .typeahead__option--no-results {
    background: #ccc;
    cursor: not-allowed
}

.typeahead__combobox--focused .typeahead__listbox {
    border-color: #999
}

.typeahead:not(.typeahead--initialised) .typeahead__instructions, .typeahead:not(.typeahead--initialised) .typeahead__listbox, .typeahead:not(.typeahead--initialised) .typeahead__preview, .typeahead:not(.typeahead--initialised) .typeahead__status {
    display: none
}

.typeahead--initialised .typeahead__input {
    background: transparent
}

.typeahead--initialised .typeahead__input:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.typeahead--has-results .typeahead__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.address-input {
    max-width: 580px
}

.address-input--search .address-input__manual, .address-input__search {
    display: none
}

.address-input--search .address-input__search {
    display: block
}

.address-input__typeahead .typeahead__combobox .typeahead__listbox {
    width: 100%
}

.address-input__typeahead .typeahead__combobox {
    display: block
}

.previous-link {
    line-height: 1
}

.field__description {
    margin-top: 1rem
}
