---
title: Household prototype
project: your-household
globalcss: false
layout: eq-default-extras
cdn: v1.2.0
---

<link rel="stylesheet" href="../style.css"/>
<header class="page__header">
    {% include survey-header.html %}
    {% include bar.html %}
</header>

<div class="page__subheader">
    <div class="container">
        <a class="mars" href="../do-you-live-here">Previous</a>
    </div>
</div>

<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
            <!--{% include navigation.html
            items=site.data.your-household.navigationItemsHousehold
            nav-title-id="section-address" %}-->
        </div>
        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">
                <form id="form" name="trav" class="form qa-questionnaire-form"
                      role="form" autocomplete="off" novalidate="">
                    <input type="hidden" name="previous"
                           value="does-anyone-else-live-here"/>
                    <div class="group" id="rsi">
                        <div class="block" id="total-retail-turnover">
                            <section class="section">
                                <div class="question u-mb-s">
                                    <h1 id="question-title"
                                        class="question__title saturn">
                                        Does anybody else live at <span
                                            class="address-text"></span>?
                                    </h1>
                                </div>

                                <div id="member-list"></div>

                                <div class="answer__fields js-fields">
                                    <div class="field field--radio field--multiplechoice ">
                                        <fieldset class="u-mb-xl">
                                            <div class="field__item js-focusable-box">
                                                <input class="input input--radio js-focusable"
                                                       type="radio"
                                                       name="does-anyone-else-live-here"
                                                       id="yes-someone-else"
                                                       value="yes">
                                                <label class="label label--inline venus"
                                                       for="yes-someone-else"
                                                       id="yes-someone-else-label">Yes,
                                                    I need to add another person
                                                    <span class="pluto u-db label--negative">Include partners, children, babies, students, housemates and lodgers</span>
                                                </label>
                                            </div>

                                            <div class="field__item js-focusable-box">
                                                <input class="input input--radio js-focusable"
                                                       type="radio"
                                                       name="does-anyone-else-live-here"
                                                       id="no" value="no">
                                                <label class="label label--inline venus"
                                                       for="no">No, this is
                                                    everyone</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <button class="btn btn--primary btn--lg qa-btn-submit venus"
                            type="submit" name="">Save and continue
                    </button>
                    <div class="u-mb-m">
                        <button class="btn btn--link mars js-btn-save"
                                type="submit" name="action[save_sign_out]">Save
                            and complete later
                        </button>
                    </div>
                </form>
                <a class="page__previous page__previous--bottom js-previous-link"
                   href="javascript:history.back()"
                   id="bottom-previous">Previous</a>
            </main>
        </div>
    </div>
</div>

<style>
    /*.list.list--people-plain {
         margin-bottom : 1rem;
         list-style-type : none;
     }

    .list.list--people-plain .list__item {
        background: url(/img/icons/person.svg) 0 .2rem no-repeat;
    }

    .list.list--people-plain .list__item-name {
        padding-left: 1.5rem;
    }

    .list.list--people-plain .list__item-actions {
        margin-top: -4px;
    }

    .list.list--people-plain .list__item-action + .list__item-action {
        margin-left : .5rem;
    }*/
</style>

<script src='/js/compiled/your-household-v3/bundle.js'></script>

<script>
  var yesbox = document.getElementById("yes-someone-else");
  $('.qa-btn-submit').click(function(e) {

    /**
     * State
     */
    /*if (window.location.search.match(/journey=temp-away-from-home/)) {
      $('#form')
        .prepend('<input type="hidden" name="journey" value="temp-away-from-home" />');
    }*/

    /**
     * Routing
     */
    if (!yesbox.checked) {
      if (window.location.search.match(/journey=visitors/)) {
        document.trav.action = "../summary";
      }
      else {
        document.trav.action = "../temp-types-living-away";
      }

      /*if (window.location.search.match(/journey=temp-away-from-home/)) {
        document.trav.action = "../visitors";
      } else if (window.location.search.match(/journey=visitors/)) {
        document.trav.action = "../summary";
      } else {
        document.trav.action = "../temp-away-from-home";
      }*/
    } else {
      document.trav.action = "../who-else-to-add";
    }
  });

  $(function() {
    var addressLines = (sessionStorage.getItem('address') || '').split(','),
      addressLine1 = addressLines[0],
      addressLine2 = addressLines[1];

    if (window.location.search.match(/journey=visitors/)) {
      $('#form')
        .prepend('<input type="hidden" name="journey" value="visitors" />');
      $('#question-title')
        .html('Was anyone else staying on 27th February 2018 at ' + addressLine1 + ', ' + addressLine2);
      $('#member-list').html('<ul id="visitors-list"></ul>');
      $('#yes-someone-else-label').html('Yes, I need to add a visitor');
      window.ONS.helpers.populateVisitorList();
    }
    else {
      $('#member-list').html('<ul id="household-members"></ul>');
      window.ONS.helpers.populateHouseholdList();
    }
  });
</script>
