---
title: Version 3
project: your-household
globalcss: false
layout: eq-default-extras
cdn: v1.2.0
---

<style>
    .input--text-lg {
        width : 100%;
    }

    .input--text-postcode {
        max-width : 9.25rem;
    }
</style>

<header class="page__header">
    {% include survey-header.html %}
    {% include bar.html %}
</header>

<div class="page__subheader">
    <div class="container">
        <a class="mars" href="../index">Previous</a>
    </div>
</div>

<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
        </div>

        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">
                <div class="feedback__inline js-feedback-inline is-collapsed">
                    <div class="feedback__border">
                        <form id="feedback-form" method="POST"
                              class="feedback__form">
                            <input id="csrf_token" name="csrf_token"
                                   type="hidden"
                                   value="IjI4MWVjOTc4Mjk5NTE1NjQ5YjlmNWUzZTU4MGZlOGIzNGYwNDQwZTYi.DQfxeA.HzzQFY1qLDUwiMKKT_aAcR1OKUI">
                            <div class="group">
                                <div class="feedback__field">

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="group" id="what-is-your-address-group">
                    <div class="block" id="what-is-your-address">
                        <div class="question">
                            <h1 class="question__title saturn"
                                data-qa="question-title">
                                Welcome to the household prototype
                            </h1>

                            <div class="panel panel--simple panel--info">
                                <div class="panel__body">
                                    <div class="field">
                                        <label class="label venus "
                                               for="address-line-1"
                                               id="label-address-line-1">
                                            <div class="label__inner">
                                                Enter the unique access code
                                            </div>
                                        </label>

                                        <div class="grid">
                                            <div class="grid__col col-4@m">
                                                <input
                                                        class="input input--text input--text-lg u-mb-s"
                                                        id="address-line-1"
                                                        name="address-line-1"
                                                        data-qa="input-text"
                                                        value=""/>
                                            </div>
                                            <div class="grid__col col-4@m">
                                                <input
                                                        class="input input--text input--text-lg u-mb-s"
                                                        id="address-line-1"
                                                        name="address-line-1"
                                                        data-qa="input-text"
                                                        value=""/>
                                            </div>
                                            <div class="grid__col col-4@m">
                                                <input
                                                        class="input input--text input--text-lg u-mb-s"
                                                        id="address-line-1"
                                                        name="address-line-1"
                                                        data-qa="input-text"
                                                        value=""/>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="mars">The unique access code
                                        is printed on your invitation
                                        letter or form</p>
                                </div>
                            </div>

                            <p class="mars u-mt-l lock">Your personal information is
                                protected by law and will kept confidential</p>

                        </div>
                    </div>
                </div>

                <button class="btn btn-submit btn--primary btn--lg"
                        data-qa="btn-submit" type="submit"
                        name="action[save_continue]">Submit code
                </button>


                <div class="u-mb-m">
                    <button class="btn btn--link mars js-btn-save"
                            data-qa="btn-save-sign-out" type="submit"
                            name="action[save_sign_out]"
                            data-ga="click"
                            data-ga-action="Save and complete later click"
                            data-ga-category="Navigation">Save and complete
                        later
                    </button>
                </div>

                <a class="page__previous page__previous--bottom"
                   data-ga="click" data-ga-label="bottom"
                   data-ga-action="Previous link click"
                   data-ga-category="Navigation"
                   href="/questionnaire/census/household/jeGYxgNL/what-is-your-address-group/0/introduction"
                   id="bottom-previous">Previous</a>
            </main>
        </div>
    </div>
</div>

<script src='/js/compiled/standard-bundle.js'></script>

<script>
  $('.btn-submit').click(function(e) {
    e.preventDefault();
    window.location = '../confirm-address/';
  });
</script>

