---
title: Relationships
project: your-household
globalcss: false
householdMembers:
visitors:
---

<link rel="stylesheet"
      href="{{ '/css/census-header-footer.css' | prepend: site.baseurl }}"/>
<link rel="stylesheet" href="../style.css"/>
<header class="page__header">
    {% include bar.html %}
    {% include header-census.html %}
</header>

<div class="page__subheader">
    <div class="container">
        <a class="mars" href="../summary">Previous</a>
    </div>
</div>

<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
            {% include navigation.html
            items=site.data.your-household.navigationItemsRelationships
            nav-title-id="section-address" %}
            {% include navigation.html items=page.householdMembers
            title="Household members" nav-id="navigation-household-members" %}
            {% include navigation.html items=page.visitors title="Visitors"
            nav-id="navigation-visitors" %}
        </div>
        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">
                <form name="trav" class="form qa-questionnaire-form" role="form"
                      autocomplete="off" novalidate="">
                    <div class="group">
                        <div class="block">
                            <section class="section" id="question-area">
                                <div class="question">
                                    <h1 class="question__title saturn">
                                        How is <span
                                            class="js-relationship-person-is"></span>
                                        related to <span
                                            class="js-relationship-person-to"></span>?
                                    </h1>

                                    <h2 class="neptune">
                                        <span class="js-relationship-person-is"></span>
                                        is
                                        <span class="js-relationship-person-is-relationship-description">...</span>
                                        to
                                        <span class="js-relationship-person-to"></span>
                                    </h2>
                                    <div class="answer__fields js-fields">
                                        <div class="field field--radio field--multiplechoice field--cols">
                                            <fieldset>
                                                <div class="field__item js-focusable-box">
                                                    <input class="input input--radio js-focusable"
                                                           type="radio"
                                                           name="relationship"
                                                           id="husband-wife"
                                                           value="husband-wife"/>
                                                    <label class="label label--inline venus"
                                                           for="husband-wife">Husband
                                                        or wife
                                                        <span class="pluto u-db label--negative">&nbsp;</span></label>
                                                </div>
                                                <div class="field__item js-focusable-box">
                                                    <input class="input input--radio js-focusable"
                                                           type="radio"
                                                           name="relationship"
                                                           id="partner"
                                                           value="partner"/>
                                                    <label class="label label--inline venus"
                                                           for="partner">
                                                        Partner
                                                        <span
                                                                class="pluto u-db label--negative">For example boyfriend or girlfriend</span>
                                                    </label>
                                                </div>

                                                <div class="field__item js-focusable-box">
                                                    <input class="input input--radio js-focusable"
                                                           type="radio"
                                                           name="relationship"
                                                           id="same-sex-partner"
                                                           value="same-sex-partner"/>
                                                    <label class="label label--inline venus"
                                                           for="same-sex-partner">
                                                        Same sex civil partner
                                                        <span class="pluto u-db label--negative">&nbsp;</span>
                                                    </label>
                                                </div>

                                                <div class="field__item js-focusable-box">
                                                    <input class="input input--radio js-focusable"
                                                           type="radio"
                                                           name="relationship"
                                                           id="mother-father"
                                                           value="mother-father"/>
                                                    <label class="label label--inline venus"
                                                           for="mother-father">
                                                        Mother or father
                                                        <span class="pluto u-db label--negative">&nbsp;</span>
                                                    </label>
                                                </div>
                                                <div class="field__item js-focusable-box">
                                                    <input class="input input--radio js-focusable"
                                                           type="radio"
                                                           name="relationship"
                                                           id="step-mother-father"
                                                           value="step-mother-father"/>
                                                    <label class="label label--inline venus"
                                                           for="step-mother-father">
                                                        Step-mother or
                                                        step-father
                                                        <span class="pluto u-db label--negative">&nbsp;</span>
                                                    </label>
                                                </div>
                                                <div class="field__item js-focusable-box">
                                                    <input class="input input--radio js-focusable"
                                                           type="radio"
                                                           name="relationship"
                                                           id="son-daughter"
                                                           value="son-daughter"/>
                                                    <label class="label label--inline venus"
                                                           for="son-daughter">
                                                        Son or daughter
                                                        <span class="pluto u-db label--negative">&nbsp;</span>
                                                    </label>
                                                </div>
                                                <div class="field__item js-focusable-box">
                                                    <input class="input input--radio js-focusable"
                                                           type="radio"
                                                           name="relationship"
                                                           id="step-child"
                                                           value="step-child"/>
                                                    <label class="label label--inline venus"
                                                           for="step-child">
                                                        Step-child
                                                        <span class="pluto u-db label--negative">&nbsp;</span>
                                                    </label>
                                                </div>
                                                <div class="field__item js-focusable-box">
                                                    <input class="input input--radio js-focusable"
                                                           type="radio"
                                                           name="relationship"
                                                           id="brother-sister"
                                                           value="brother-sister"/>
                                                    <label class="label label--inline venus"
                                                           for="brother-sister">
                                                        Brother or sister
                                                        <span class="pluto u-db label--negative">&nbsp;</span>
                                                    </label>
                                                </div>
                                                <div class="field__item js-focusable-box">
                                                    <input class="input input--radio js-focusable"
                                                           type="radio"
                                                           name="relationship"
                                                           id="step-brother-sister"
                                                           value="step-brother-sister"/>
                                                    <label class="label label--inline venus"
                                                           for="step-brother-sister">
                                                        Step-brother or
                                                        step-sister
                                                        <span class="pluto u-db label--negative">&nbsp;</span>
                                                    </label>
                                                </div>
                                                <div class="field__item js-focusable-box">
                                                    <input class="input input--radio js-focusable"
                                                           type="radio"
                                                           name="relationship"
                                                           id="grandparent"
                                                           value="grandparent"/>
                                                    <label class="label label--inline venus"
                                                           for="grandparent">
                                                        Grandparent
                                                        <span class="pluto u-db label--negative">&nbsp;</span>
                                                    </label>
                                                </div>
                                                <div class="field__item js-focusable-box">
                                                    <input class="input input--radio js-focusable"
                                                           type="radio"
                                                           name="relationship"
                                                           id="grandchild"
                                                           value="grandchild"/>
                                                    <label class="label label--inline venus"
                                                           for="grandchild">
                                                        Grandchild
                                                        <span class="pluto u-db label--negative">&nbsp;</span>
                                                    </label>
                                                </div>
                                                <div class="field__item js-focusable-box">
                                                    <input class="input input--radio js-focusable"
                                                           type="radio"
                                                           name="relationship"
                                                           id="other-relation"
                                                           value="other-relation"/>
                                                    <label class="label label--inline venus"
                                                           for="other-relation">
                                                        Relation - other
                                                        <span class="pluto u-db label--negative">&nbsp;</span>
                                                    </label>
                                                </div>
                                                <div class="field__item js-focusable-box">
                                                    <input class="input input--radio js-focusable"
                                                           type="radio"
                                                           name="relationship"
                                                           id="unrelated"
                                                           value="unrelated"/>
                                                    <label class="label label--inline venus"
                                                           for="unrelated">
                                                        Unrelated
                                                        <span class="pluto u-db label--negative">Including foster child</span>
                                                    </label>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <button class="btn btn--primary btn--lg qa-btn-submit venus"
                            type="submit" name="">Save and continue
                    </button>
                </form>
            </main>
        </div>
    </div>
</div>

<style>
    .field--multiplechoice.field--cols .field__item {
        vertical-align: top;
    }

    .label .label--negative {
        margin-left: -1.9rem;
    }

    @media only screen and (min-width: 500px) {
        .field--multiplechoice.field--cols .field__item {
            width: calc(50% - .5rem);
        }
    }
</style>

<script src='/js/compiled/standard-bundle.js'></script>
<script src='/js/compiled/your-household-v3/bundle.js'></script>

<script>
  var storageAPI = window.ONS.storage,
    personIs,
    personTo,

    editRelationshipId = new URLSearchParams(window.location.search).get('edit'),
    editRelationshipFound = null;

  function updateQuestion(missingRelationship) {
    personIs = missingRelationship.personIs;
    personTo = missingRelationship.personTo;

    $('.js-relationship-person-is').html(personIs['@person'].fullName);
    $('.js-relationship-person-to').html(personTo['@person'].fullName);
  }

  function getChosenItem() {
    var val = $('[name="relationship"]:checked').val();

    return {
      val: val,
      description: storageAPI.relationshipDescriptionMap[val]
    };
  }

  /**
   * Edit relationship page setup
   */
  function journeyEditRelationship() {
    editRelationshipFound = storageAPI.getAllRelationships()
      .filter(function(relationship) {
        return relationship.id + '' === editRelationshipId;
      })[0];

    if (editRelationshipFound) {
      updateQuestion({
        personIs: storageAPI.getHouseholdMemberByPersonId(editRelationshipFound.personIsId),
        personTo: storageAPI.getHouseholdMemberByPersonId(editRelationshipFound.personToId)
      });
      $('.qa-btn-submit')
        .on('click', editSubmit_handler.bind(null, editRelationshipId));
    }
    else {
      $('#question-area')
        .html('<h1 class="saturn">Relationship not found</h1>');
    }
  }

  function editSubmit_handler(relationshipId, e) {
    e.preventDefault();

    var chosenItem = getChosenItem(),
      relationshipDescriptionVal = chosenItem.val,
      relationshipDescription = chosenItem.description;

    if (!relationshipDescription) {
      throw Error('Relationship description not found: ', relationshipDescription);
    }

    storageAPI.editRelationship(relationshipId,
      storageAPI.TYPES.relationship(
        relationshipDescriptionVal,
        editRelationshipFound.personIsId,
        editRelationshipFound.personToId,
      )
    );

    window.location.href = '../relationships-summary';
  }

  /**
   * Create relationship page setup
   */
  function journeyCreateNewRelationship() {
    var missingRelationship = storageAPI.findNextMissingRelationship();

    if (missingRelationship) {
      updateQuestion(missingRelationship);
      $('.qa-btn-submit').on('click', missingSubmit_handler);
    }
    else {
      $('#question-area')
        .html('<h1 class="saturn">No missing relationships found</h1>');
      $('.qa-btn-submit').on('click', function(e) {
        e.preventDefault();
        window.location.href = '../relationships-summary';
      });
    }
  }

  function missingSubmit_handler(e) {
    e.preventDefault();

    var nextMissingRelationship,
      chosenItem = getChosenItem(),
      relationshipDescriptionVal = chosenItem.val,
      relationshipDescription = chosenItem.description,
      newRelationship,
      dbRelationshipId;

    if (!relationshipDescription) {
      throw Error('Relationship description not found: ', relationshipDescription);
    }

    newRelationship = storageAPI.addRelationship(
      storageAPI.TYPES.relationship(
        relationshipDescriptionVal,
        personIs['@person'].id,
        personTo['@person'].id
      )
    );

    dbRelationshipId = newRelationship.id;

    window.history.replaceState(null, '', '?edit=' + dbRelationshipId);

    storageAPI.inferRelationships(newRelationship, personIs, personTo);

    nextMissingRelationship = storageAPI.findNextMissingRelationship();

    /**
     * Routing
     */
    if (nextMissingRelationship) {

      (function () {
        var personIsId = personIs['@person'].id,
          personToId = personTo['@person'].id,
          subjectPersonId,
          subjectRelationshipDescription;

        /**
         * Question strategies
         *
         * If child-parent relationship type was selected
         * and there are missing relationships for this person
         */
        if(relationshipDescriptionVal === 'mother-father' &&
          storageAPI.getPeopleIdsMissingRelationshipsWithPerson(personIsId).length) {
          subjectPersonId = personIsId;
        }
        else if(relationshipDescriptionVal === 'son-daughter' &&
          storageAPI.getPeopleIdsMissingRelationshipsWithPerson(personToId).length) {
          subjectPersonId = personToId;
          subjectRelationshipDescription = 'mother-father';
        }
        else if(relationshipDescriptionVal === 'unrelated' &&
          storageAPI.getPeopleIdsMissingRelationshipsWithPerson(personToId).length) {
          subjectPersonId = personIsId;
        }

        subjectRelationshipDescription = subjectRelationshipDescription ||
          relationshipDescriptionVal;

        if(subjectPersonId) {
          window.location.href = '../relationships-person-select/?person=' +
            subjectPersonId + '&relationship-description=' +
            subjectRelationshipDescription;
        }
        else {
          window.location.href = '../relationships';
        }
      }());
    }
    else {
      window.location.href = '../relationships-summary';
    }
  }

  $('[name="relationship"]').on('change', function() {
    $('.js-relationship-person-is-relationship-description')
      .html(
        '<em class="highlight">' +
        storageAPI.relationshipDescriptionMap[$(this)
          .val()].sentanceLabel +
        '</em>'
      );
  });

  $(function() {

    /**
     * Code branching - are we trying to edit or create a new relationship
     */
    if (editRelationshipId) {
      journeyEditRelationship();
    }
    else {
      journeyCreateNewRelationship();
    }
  });
</script>
