---
title: Section intro
project: your-household
globalcss: false
layout: eq-default-extras
cdn: v1.2.0
---

<header class="page__header">
    {% include survey-header.html %}
    {% include bar.html %}
</header>

<div class="page__subheader">
    <div class="container">
        <a class="mars" href="../confirm-address">Previous</a>
    </div>
</div>

<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
            {% include navigation.html
            items=site.data.your-household.navigationItemsHousehold
            nav-title-id="section-address" %}
        </div>
        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">
                <div class="group" id="rsi">
                    <div class="block" id="total-retail-turnover">
                        <section class="section"
                                 id="total-retail-turnover-section">
                            <h1 class="saturn">People who live here</h1>

                            <p class="mars">In this section, we’re going to ask
                                you about all the people that live at or
                                are visting <strong class="address-text"></strong>.
                            </p>

                            <h3 class="neptune">Information you will need:</h3>
                            <ul class="mars">
                                <li>Names of the people living at this
                                    address</li>
                                <li>Names of the visitors staying in the
                                    household on 27 February 2018
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>

                <button class="btn btn--primary btn--lg qa-btn-submit venus btn-submit"
                        type="submit" name="">Continue
                </button>
                <div class="u-mb-m">
                    <button class="btn btn--link mars js-btn-save" type="submit"
                            name="action[save_sign_out]">Save and complete
                        later
                    </button>
                </div>

                <a class="page__previous page__previous--bottom js-previous-link"
                   href="javascript:history.back()"
                   id="bottom-previous">Previous</a>
            </main>
        </div>
    </div>
</div>

<script src='/js/compiled/your-household-v3/bundle.js'></script>

<script>
  $('.btn-submit').click(function(e) {
    e.preventDefault(); // do not submit the form like usual
    window.location = '../what-is-your-name/';
  });

  $(function() {
    var oneWeekAgo = new Date();
    oneWeekAgo.setDate(oneWeekAgo.getDate() - 7);
    var options = {year: 'numeric', month: 'long', day: 'numeric'};
    $('.one-week-ago').text(oneWeekAgo.toLocaleString('en-GB', options));
  });
</script>



