---
title: What is your name
project: your-household
globalcss: false
layout: eq-default-extras
cdn: v1.2.0
---

<header class="page__header">
    {% include survey-header.html %}
    {% include bar.html %}
</header>

<div class="page__subheader">
    <div class="container">
        <a class="mars" href="../section-intro">Previous</a>
    </div>
</div>

<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
            {% include navigation.html
            items=site.data.your-household.navigationItemsHousehold
            nav-title-id="section-address" %}
        </div>

        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">
                <div class="feedback__inline js-feedback-inline is-collapsed">
                    <div class="feedback__border">
                    </div>
                </div>

                <div class="group">
                    <div class="block">

                        <div class="question">
                            <h1 class="question__title saturn"
                                data-qa="question-title">
                                What is your name?
                            </h1>

                            <fieldset
                                    class="question__fieldset u-mb-m js-question-fieldset">
                                <legend class="u-vh">What is your name?</legend>

                                <div class="question__answers">
                                    <div class="question__answer">
                                        <label class="label venus"
                                               for="first-name">
                                            <div class="label__inner">
                                                First name
                                            </div>
                                        </label>
                                        <input class="input input--text "
                                               id="first-name"
                                               data-qa="input-text" value=""/>
                                    </div>

                                    <div class="question__answer">
                                        <label class="label venus ">
                                            <div class="label__inner">
                                                Last name
                                            </div>
                                        </label>
                                        <input class="input input--text "
                                               id="last-name"
                                               data-qa="input-text" value=""/>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <button class="btn btn-submit btn--primary btn--lg"
                        data-qa="btn-submit" type="submit"
                        name="action[save_continue]">
                    Save and continue
                </button>

                <div class="u-mb-m">
                    <button class="btn btn--link mars js-btn-save"
                            data-qa="btn-save-sign-out" type="submit"
                            name="action[save_sign_out]"
                            data-ga="click"
                            data-ga-action="Save and complete later click"
                            data-ga-category="Navigation">Save and
                        complete later
                    </button>
                </div>

                <a class="page__previous page__previous--bottom js-previous-link"
                   href="javascript:history.back()"
                   id="bottom-previous">Previous</a>
            </main>
        </div>
    </div>
</div>

<script src='/js/compiled/your-household-v3/bundle.js'></script>

<script>
  $('.btn-submit').click(function(e) {
    e.preventDefault(); // do not submit the form like usual
    sessionStorage.setItem('name', getName());

    window.ONS.storage.addUserPerson(window.ONS.storage.TYPES.person({
      firstName: document.getElementById('first-name').value,
      lastName: document.getElementById('last-name').value
    }));

    window.ONS.storage.deleteUserAsHouseholdMember();

    window.location = '../do-you-live-here/';
  });

  function getName() {
    return [
      document.getElementById('first-name').value,
      document.getElementById('last-name').value
    ].filter(function(name) {
      return name
    }).join(' ')
  }

  $(function() {
    var userPerson = window.ONS.storage.getUserPerson();

    if (userPerson) {
      $('#first-name').val(userPerson.firstName);
      $('#last-name').val(userPerson.lastName);
    }
  });
</script>

