.container {
  padding: 0 $grid-gutters / 2;
  @include mq(m) {
    padding: 0 $grid-gutters;
  }
}

.grid--align-bottom {
  .grid__col {
    vertical-align: bottom;
  }
}

@include bp-suffix(grid--bordered, false) {
  margin-left: 0;
  .grid__col {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid $color-borders;
    border-bottom: 1px solid $color-borders;
    flex: 1 1 auto;
    &:first-of-type {
      border-right: 1px solid $color-borders;
      padding-left: 0;
    }
  }
}
