---
title: Monthly Business Survey - Retail Sales Index
subtitle: Notice is given under section 1 of the Statistics of Trade Act 1947
project: Retail Sales Inquiry
globalcss: false
---

{% include survey-header.html %}
{% include bar-hero.html %}

<div class="container">
    <div role="main" class="panel__body" id="main">
      <div class="header">
          <h2 class="saturn">Your response is legally required</h2>
          <div class="grid grid--align-mid">
            <div class="grid__col col-6@s">
              <dl>
                <dt class="mercury u-tt-u">Business name</dt>
                <dd class="mars">Your business</dd>
                <dt class="mercury u-tt-u">Business address</dt>
                <dd class="mars">Your business address</dd>
              </dl>
            </div>
            <div class="grid__col col-6@s ">
              <dl>
                <dt class="mercury u-tt-u">Period</dt>
                <dd class="mars">29 May 2016 to 2 July 2016</dd>
                <dt class="mercury u-tt-u">Please submit by</dt>
                <dd class="mars">9 July 2016</dd>
              </dl>
            </div>
          </div>
          <h2 class="header__title saturn">You will be asked to provide information for the business, including:</h2>
          <ul>
            <li>value of total retail turnover</li>
            <li>value of internet sales</li>
            <li>numbers of employees</li>
            <li>reasons for changes to figures</li>
          </ul>
          <div class="notice u-mb-s u-mb-m@s">
            <div class="notice__text">If actual figures are not available, please provide informed estimates.</div>
          </div>
          <div>
        </div>

        <form action="" class="form" role="form" method="POST" novalidate="">
          <a href="../section-2"class="btn btn--tertiary qa-btn-get-started neptune" type="submit" name="action[start_questionnaire]">Start survey</a>
        </form>
        <div class="lock u-mb-s u-mb-m@s">
          <div class="venus lock__text">We will treat your data securely and confidentially</div>
        </div>
        <h2 class="saturn">Legal Information</h2>
        <p class="mars">You are required to complete this questionnaire. If you do not complete and return this questionnaire by 9 July 2016, penalties may be incurred (under section 4 of the Statistics of Trade Act 1947).</p>
      </div>



      </div>
</div>
