---
title: Monthly Business Survey - Retail Sales Index
project: Retail Sales Inquiry
globalcss: false
---

{% include survey-header.html %}
{% include bar.html %}

<div class="container">
  <div class="grid">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="../section-8">Previous</a><br/><br/>
        <form action="../summary" class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number venus">6</span> Changes in employment figures</h2>
                <div class="question question--textarea" id="fef6edc2-d98c-4d4d-9a7c-997ce10c361f">
                  <legend class="question__legend">
                    <div class="question__title neptune"><span class="question__title__number venus">6.1</span> Please explain any significant changes in employee numbers for the business</div>
                  </legend>
                  <div class="question__responses">
                    <div class="response response--textarea" id="215015b1-f87c-4740-9fd4-f01f707ef558">
                      <div class="field">
                        <label class="label mars" for="215015b1-f87c-4740-9fd4-f01f707ef558" id="label-215015b1-f87c-4740-9fd4-f01f707ef558">Comments</label>
                        <textarea aria-describedby="215015b1-f87c-4740-9fd4-f01f707ef558-helper" id="215015b1-f87c-4740-9fd4-f01f707ef558" name="215015b1-f87c-4740-9fd4-f01f707ef558" class="input input--textarea js-charlimit-input" data-maxlength="2000" rows="8" cols="60"></textarea>
                        <!-- <div class="input__helper" id="215015b1-f87c-4740-9fd4-f01f707ef558-helper">
                          <span class="js-charlimit-label pluto" data-remaining-msg="Characters remaining">Characters remaining</span>: <span class="js-charlimit-msg pluto">1994</span>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button href="../summary" class="btn btn--secondary qa-btn-submit venus" type="submit" name="action[save_continue]">Save and continue</button>
          <br /><a class="mars" href="../section-8">Previous</a>
        </form>
      </div>
    </div>
    <div class="grid__col col-3@s push-1@s">
      {% include progress.html %}
    </div>
  </div>
</div>
