---
title: Prototype V1
project: Retail Sales Inquiry
globalcss: false
---

{% include survey-header.html %}
{% include bar.html %}

<div class="container">
  <div class="grid">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="../section-2">Previous</a><br/><br/>
        <form action="" class="form qa-questionnaire-form" role="form" method="POST" novalidate="">
            <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
              <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
                <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                  <h2 class="section__title saturn"><span class="section__title__number venus">1</span> Reporting period</h2>
                  <div class="question question--daterange" id="6cc86b54-330c-4465-99b2-34cc7073dc2c">
                    <fieldset class="question__fieldset">
                      <legend class="question__legend">
                        <div class="question__title neptune"><span class="question__title__number venus">1.2</span> What are the dates of the period that you will be reporting for?</div>
                      </legend>
                      <div class="question__responses">
                        <div class="response response--date" id="6fd644b0-798e-4a58-a393-a438b32fe637">
                        <fieldset class="fieldset date">
                          <legend class="legend">
                            <div class="neptune">From</div>
                          </legend>
                          <div class="subfields">
                            <div class="field field--day">
                              <label class="label label--small venus" for="6fd644b0-798e-4a58-a393-a438b32fe637-day">Day</label>
                              <input class="input input--number" placeholder="DD" name="6fd644b0-798e-4a58-a393-a438b32fe637-day" id="6fd644b0-798e-4a58-a393-a438b32fe637-day">
                            </div>
                            <div class="field field--month">
                              <label class="label label--small venus" for="6fd644b0-798e-4a58-a393-a438b32fe637-month">Month</label>
                              <select class="input input--select venus" name="6fd644b0-798e-4a58-a393-a438b32fe637-month" id="6fd644b0-798e-4a58-a393-a438b32fe637-month">
                                <option value="0">Select month</option><option value="1">January</option><option value="2">February</option><option value="3">March</option><option value="4">April</option><option value="5">May</option><option value="6">June</option><option value="7">July</option><option value="8">August</option><option value="9">September</option><option value="10">October</option><option value="11">November</option><option value="12">December</option></select>
                            </div>
                            <div class="field field--year">
                              <label class="label label--small venus" for="6fd644b0-798e-4a58-a393-a438b32fe637-year">Year</label>
                              <input class="input input--number" type="number" name="6fd644b0-798e-4a58-a393-a438b32fe637-year" id="6fd644b0-798e-4a58-a393-a438b32fe637-year" value="" placeholder="YYYY">
                            </div>
                          </div>
                        </fieldset>
                        </div>
                        <div class="response response--date" id="06a6a4b7-6ce4-4687-879d-3443cd8e2ff0">
                        <fieldset class="fieldset date">
                          <legend class="legend">
                            <div class="neptune">To</div>
                          </legend>
                          <div class="subfields">
                            <div class="field field--day">
                              <label class="label label--small venus" for="06a6a4b7-6ce4-4687-879d-3443cd8e2ff0-day">Day</label>
                              <input class="input input--number venus" placeholder="DD" name="06a6a4b7-6ce4-4687-879d-3443cd8e2ff0-day" id="06a6a4b7-6ce4-4687-879d-3443cd8e2ff0-day">
                            </div>
                            <div class="field field--month">
                              <label class="label label--small venus" for="06a6a4b7-6ce4-4687-879d-3443cd8e2ff0-month">Month</label>
                          <select class="input input--select" name="06a6a4b7-6ce4-4687-879d-3443cd8e2ff0-month" id="06a6a4b7-6ce4-4687-879d-3443cd8e2ff0-month">
                            <option value="0">Select month</option><option value="1">January</option><option value="2">February</option><option value="3">March</option><option value="4">April</option><option value="5">May</option><option value="6">June</option><option value="7">July</option><option value="8">August</option><option value="9">September</option><option value="10">October</option><option value="11">November</option><option value="12">December</option></select>
                            </div>
                            <div class="field field--year">
                              <label class="label label--small venus" for="06a6a4b7-6ce4-4687-879d-3443cd8e2ff0-year">Year</label>
                              <input class="input input--number" type="number" name="06a6a4b7-6ce4-4687-879d-3443cd8e2ff0-year" id="06a6a4b7-6ce4-4687-879d-3443cd8e2ff0-year" value="" placeholder="YYYY">
                            </div>
                          </div>
                        </fieldset>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
            <a href="../section-4" class="btn btn--secondary qa-btn-submit venus" type="submit" name="action[save_continue]">Save and continue</a>
            <br/><a class="mars" href="../section-2">Previous</a>
          </form>
      </div>
    </div>
    <div class="grid__col col-3@s push-1@s">
      {% include progress.html %}
    </div>
  </div>
</div>
