---
title: Prototype V1
project: Retail Sales Inquiry
globalcss: false
---

{% include survey-header.html %}
{% include bar.html %}

<div class="container">
  <div class="grid">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="../section-3">Previous</a><br/><br/>
        <form action="../section-5/" class="form qa-questionnaire-form" role="form" novalidate="">
            <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
              <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
                <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                  <h2 class="section__title saturn"><span class="section__title__number venus">2</span> Retail turnover</h2>
                  <div class="question question--currency" id="b8a803ba-2048-46dc-83cf-9ef9000d7a92">
                    <legend class="question__legend">
                      <div class="question__title neptune"><span class="question__title__number venus">2.1</span> For the reporting period 1 May 2016 to 31 May 2016, what was the value of the business’s total retail turnover?</div>
                    </legend>
                    <div class="question__description" id="description-6cc86b54-330c-4465-99b2-34cc7073dc2c">
                      <br />
                      <div class="grid">
                      <div class="grid__col col-6@s">
                        <h3 class="venus">Include:</h3>
                        <ul>
                          <li class="mars">VAT</li>
                          <li class="mars">internet sales</li>
                          <li class="mars">Great Britain to customers abroad</li>
                        </ul>
                      </div>
                      <div class="grid__col col-6@s">
                        <h3>Exclude:</h3>
                        <ul>
                          <li class="mars">revenue from mobile phone network commission and top-up</li>
                          <li class="mars">sales from catering facilities used by customers</li>
                          <li class="mars">lottery sales and commission from lottery sales</li>
                          <li class="mars">sales of car accessories and motor vehicles</li>
                          <li class="mars">NHS receipts</li>
                        </ul>
                      </div>
                    </div>
                    <div class="question__responses">
                      <div class="response response--currency" id="92e49d93-cbdc-4bcb-adb2-0e0af6c9a07c">
                        <div class="field">
                          <label class="label venus" for="92e49d93-cbdc-4bcb-adb2-0e0af6c9a07c" id="label-92e49d93-cbdc-4bcb-adb2-0e0af6c9a07c">Total retail turnover</label><br />
                            <div class="input-type input-type--currency" data-type="£">
                            <input class="input input--text numericentry mars" pattern="\d*" aria-describedby="description-b8a803ba-2048-46dc-83cf-9ef9000d7a92 guidance-92e49d93-cbdc-4bcb-adb2-0e0af6c9a07c-trigger" id="92e49d93-cbdc-4bcb-adb2-0e0af6c9a07c" name="92e49d93-cbdc-4bcb-adb2-0e0af6c9a07c" type="text" value="">
                            <span class="hint pluto">Round your figures to the nearest £. Even if your figures are zero, please still complete.</span><br />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="../section-5"class="btn btn--secondary qa-btn-submit venus" type="submit" name="action[save_continue]">Save and continue</a>
            <br/><a class="mars" href="../section-3">Previous</a>
          </form>
        </div>
      </div>
    </div>
    <div class="grid__col col-3@s push-1@s">
      {% include progress.html %}
    </div>
  </div>
</div>



<script>






$('.qa-btn-submit').on('click', function(e) {
  if (!$('.response--currency input').val() && $('.response--currency .alert__body').length || !$.isNumeric($(".response--currency input").val()) && $('.response--currency .alert__body').length ) {
    e.preventDefault();
  }
  else if ( !$('.response--currency input').val() || !$.isNumeric($(".response--currency input").val()) ) {
    e.preventDefault();
    $('.response--currency .field').wrap('<div class="alert__body"></div>');
    $('.response--currency .alert__body').before('<div class="alert__header"><div class="alert__title"><ul class="list list--bare"><li class="list__item mars" data-error-msg="A response is required" data-error-id="6c302f72-cf9d-4f42-8a35-cb258c3f807c" data-error="true">A response is required.</li></ul></div></div>');
    $('.response--currency .alert__header, .response--currency .alert__body').wrapAll('<div class="alert alert--error"></div>');
    $('.panel__body').prepend('<div class="alert alert--info"><div class="alert__header"><div class="alert__title"><h2 class="alert__title venus">This page contains 1 error</h2> </div></div><div class="alert__body"><p class="mars">These <strong>must be corrected</strong> to continue.</p><ul class="list list--bare"><li class="list__item mars">Section 2 - Question 2.1 <br /><a href="#92e49d93-cbdc-4bcb-adb2-0e0af6c9a07c">What was the value of the business total sales of food?</a><br /><span>A response is required</span></li></ul></div></div><br/>');
    $('html, body').animate({scrollTop: $('html').offset().top}, 0);

  } else {}
});
</script>
