---
title: Prototype V1
project: Retail Sales Inquiry
globalcss: false
---

{% include survey-header.html %}
{% include bar.html %}

<div class="container">
  <div class="grid">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="../section-6">Previous</a><br/><br/>
        <form action="../section-8" class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number venus">4</span> Changes in total retail turnover</h2>
                <div class="section__description mars">We rely on your commentary to ‘tell the story’ behind your business’s figures. By commenting here, it will reduce the need for us to call you.<br><br></div>
                <div class="question question--textarea" id="fef6edc2-d98c-4d4d-9a7c-997ce10c361f">
                  <legend class="question__legend">
                    <div class="question__title neptune"><span class="question__title__number venus">4.2</span> Describe the changes in the business’s total retail turnover in more detail</div>
                  </legend>
                  <div class="question__responses">
                    <div class="response response--textarea" id="215015b1-f87c-4740-9fd4-f01f707ef558">
                      <div class="field">
                        <label class="label mars" for="215015b1-f87c-4740-9fd4-f01f707ef558" id="label-215015b1-f87c-4740-9fd4-f01f707ef558">Comments</label>
                        <textarea aria-describedby="215015b1-f87c-4740-9fd4-f01f707ef558-helper" id="215015b1-f87c-4740-9fd4-f01f707ef558" name="215015b1-f87c-4740-9fd4-f01f707ef558" class="input input--textarea js-charlimit-input" data-maxlength="2000" rows="8" cols="60"></textarea>
                        <!-- <div class="input__helper" id="215015b1-f87c-4740-9fd4-f01f707ef558-helper">
                          <span class="js-charlimit-label pluto" data-remaining-msg="Characters remaining ">Characters remaining</span>: <span class="js-charlimit-msg pluto">1994</span>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <a href="#" class="help-cta mars">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <span class="trigger-label mars">Show</span> guidance on how you should write the commentary</a>
            <div class="help-text">
              <p class="mars">Examples of commentary:</p>
              <p class="venus">‘In-store promotion’</p>
              <p class="mars">“Offer on wine for the whole month (save 25% when you buy 6 bottles). The promotion was available in-store and online, contributing to an increase in both total retail turnover and internet sales.” </p>
              <p class="venus">‘Special events (e.g. sporting events)’</p>
              <p class="mars">“This was the month before the start of  Euro 2016 (football), we recorded an increase in sales of audio-visual equipment (e.g., televisions and audio equipment). This led to an increase in sales both in-store and online.”</p>
              <p class="venus">‘Weather’</p>
              <p class="mars">“The bad weather has decreased our sales of summer clothing. This has led to a reduction in total retail turnover and internet sales this month.”</p>
            </div>
          </div>
          <br/><br/>

          <button href="../section-8" class="btn btn--secondary qa-btn-submit venus" type="submit" name="action[save_continue]">Save and continue</button>
          <br/><a class="mars" href="../section-6">Previous</a>
        </form>
      </div>
    </div>
    <div class="grid__col col-3@s push-1@s">
      {% include progress.html %}
    </div>
  </div>
</div>


<script>

$('.help-cta').click(function(e) {
  var txt = $(this).next('.help-text').is(':visible') ? "Show" : "Hide";
    console.log(txt);
  $('.trigger-label').text(txt);
  $('.help-text').fadeToggle();
  $('.fa-chevron-right').toggleClass('chevron-rotate');
  e.preventDefault();
});

</script>
