---
title: Prototype V1
project: Retail Sales Inquiry
globalcss: false
---

{% include survey-header.html %}
{% include bar.html %}

<div class="container">
  <div class="grid">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="../section-7">Previous</a><br/><br/>
        <form action="" class="form qa-questionnaire-form" role="form" method="POST" novalidate="">
            <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
              <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
                <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                  <h2 class="section__title saturn"><span class="section__title__number venus">5</span> Employees</h2>
                  <div class="question question--currency" id="b8a803ba-2048-46dc-83cf-9ef9000d7a92">
                    <legend class="question__legend">
                      <div class="question__title neptune"><span class="question__title__number venus">5.1</span> On 10 June 2016 what was the number of employees for your business?</div>
                    </legend>
                    <div class="question__description" id="description-6cc86b54-330c-4465-99b2-34cc7073dc2c">
                      <p class="mars">An employee is anyone aged 16 years or over that your organisation directly pays from its payroll(s), in return for carrying out a full-time or part-time job or being on a training scheme.</p>
                      <div class="grid">
                        <div class="grid__col col-6@s">
                          <h4 class="venus">Include:</h4>
                          <ul>
                            <li class="mars">all workers paid directly from this business’s payroll(s) </li>
                            <li class="mars">those temporarily absent but still being paid, for example on maternity leave</li>
                          </ul>
                        </div>
                        <div class="grid__col col-6@s">
                          <h4 class="venus">Exclude:</h4>
                          <ul>
                            <li class="mars">agency workers paid directly from the agency payroll</li>
                            <li class="mars">voluntary workers</li>
                            <li class="mars">former employees only receiving pension</li>
                            <li class="mars">self-employed workers </li>
                            <li class="mars">working owners who are not paid via PAYE</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="question__responses">
                      <div class="response response--textfield" id="response1-i1">
                        <div class="field">
                          <label class="label venus" for="response1-i1" id="label-response1-i1">Male employees working more than 30 hours per week</label>
                          <input aria-describedby="description-question-i1 guidance-response1-i1-trigger" id="response1-i1" name="response1-i1" class="input input--text" type="text" value="">
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="question__responses">
                      <div class="response response--textfield" id="response1-i1">
                        <div class="field">
                          <label class="label venus" for="response1-i1" id="label-response1-i1">Male employees working 30 hours or less per week</label>
                          <input aria-describedby="description-question-i1 guidance-response1-i1-trigger" id="response1-i1" name="response1-i1" class="input input--text" type="text" value="">
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="question__responses">
                      <div class="response response--textfield" id="response1-i1">
                        <div class="field">
                          <label class="label venus" for="response1-i1" id="label-response1-i1">Female employees working more than 30 hours per week</label>
                          <input aria-describedby="description-question-i1 guidance-response1-i1-trigger" id="response1-i1" name="response1-i1" class="input input--text" type="text" value="">
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="question__responses">
                      <div class="response response--textfield" id="response1-i1">
                        <div class="field">
                          <label class="label venus" for="response1-i1" id="label-response1-i1">Female employees working 30 hours or less per week</label>
                          <input aria-describedby="description-question-i1 guidance-response1-i1-trigger" id="response1-i1" name="response1-i1" class="input input--text" type="text" value="">
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="question__responses">
                      <div class="response response--textfield" id="response1-i1">
                        <div class="field">
                          <label class="label venus" for="response1-i1" id="label-response1-i1">What was the total number of employees</label>
                          <input aria-describedby="description-question-i1 guidance-response1-i1-trigger" id="response1-i1" name="response1-i1" class="input input--text" type="text" value="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="../section-9" class="btn btn--secondary qa-btn-submit venus" type="submit" name="action[save_continue]">Save and continue</a>
            <br/><a class="mars" href="../section-7">Previous</a>
          </form>
      </div>
    </div>
    <div class="grid__col col-3@s push-1@s">
      {% include progress.html %}
    </div>
  </div>
</div>
