---
title: Prototype V1
project: Retail Sales Inquiry
globalcss: false
---

{% include survey-header.html %}
{% include bar.html %}

<div class="container">
  <div role="main" class="panel__body" id="main">
    <div class="header">
      <h1 class="saturn">Your responses</h1>
      <p class="mars">Please check carefully before submission</p>
    </div>
    <h2 class="results__title neptune">1. Reporting period</h2>
    <div class="results">
      <div class="results__section">
        <span class="results__number">1.1</span>
        <dl class="results__dl">
          <dt class="results__dt"><div>Are you able to report for the period from 29 May 2016 to 2 July 2016?</div></dt>
          <dd class="results__dd"><a href="../section-2">Yes</a></dd>
        </dl>
      </div>
      <div class="results__section">
        <span class="results__number">1.2</span>
        <dl class="results__dl">
          <dt class="results__dt"><div>What are the dates of the period that you will be reporting for?</div></dt>
          <dd class="results__dd"><a href="../section-3">29 May 2016 to 2 July 2016</a></dd>
        </dl>
      </div>
      <h2 class="results__title neptune">2. Retail turnover</h2>
      <div class="results__section">
        <span class="results__number">2.1</span>
        <dl class="results__dl">
          <dt class="results__dt"><div>For the reporting period, what was the value of the business’s total retail turnover?</div></dt>
          <dd class="results__dd"><a href="../section-4">£103,000</a></dd>
        </dl>
      </div>
      <h2 class="results__title neptune">3. Internet sales</h2>
      <div class="results__section">
        <span class="results__number">3.1</span>
        <dl class="results__dl">
          <dt class="results__dt"><div>Of your retail turnover, what was the value of internet sales?</div></dt>
          <dd class="results__dd"><a href="../section-5">£40,000</a></dd>
        </dl>
      </div>
      <h2 class="results__title neptune">4. Changes in total retail turnover</h2>
      <div class="results__section">
        <span class="results__number">4.1</span>
        <dl class="results__dl">
          <dt class="results__dt"><div>Reasons for change in figures</div></dt>
          <dd class="results__dd"><a href="../section-6">In-store promotion</a></dd>
        </dl>
      </div>
      <div class="results__section">
        <span class="results__number">4.2</span>
        <dl class="results__dl">
          <dt class="results__dt results__dt--full"><div>Commentary</div></dt>
          <dd class="results__dd results__dd--full">Offer on wine for the whole month (save 25% when you buy 6 bottles). The promotion was available in-store and online, contributing to an increase in both total turnover and internet sales.  <a href="../section-7">Edit</a></dd>
        </dl>
      </div>
      <h2 class="results__title neptune">5. Employees</h2>
      <div class="results__section">
        <span class="results__number">5.1</span>
        <dl class="results__dl">
          <dt class="results__dt results__dt--full"><div>On 10 June 2016 what was the number of employees for your business?</div></dt>
          <dt class="results__dt"><div>Male employees working more than 30 hours per week</div></dt>
          <dd class="results__dd"><a href="../section-8">40</a></dd>
          <dt class="results__dt"><div>Male employees working less than 30 hours per week</div></dt>
          <dd class="results__dd"><a href="../section-8">25</a></dd>
          <dt class="results__dt"><div>Female employees working more than 30 hours per week</div></dt>
          <dd class="results__dd"><a href="../section-8">60</a></dd>
          <dt class="results__dt"><div>Female employees working less than 30 hours per week</div></dt>
          <dd class="results__dd"><a href="../section-8">80</a></dd>
          <dt class="results__dt"><div>Total number of employees</div></dt>
          <dd class="results__dd"><a href="../section-8">5</a></dd>
        </dl>
      </div>
      <h2 class="results__title neptune">6. Changes in employment figures</h2>
      <div class="results__section">
        <span class="results__number">6.1</span>
        <dl class="results__dl">
          <dt class="results__dt results__dt--full"><div>Please explain any changes in employee numbers for the business</div></dt>
          <dd class="results__dd results__dd--full">Opening of a new store, meaning that we hired 30 new staff <a href="../section-9">Edit</a></dd>
        </dl>
      </div>
    </div>
    <form action="" method="POST" novalidate="">
      <a href="../thankyou" class="btn btn--secondary u-mr-s qa-btn-submit-answers" type="submit" name="action[submit_answers]">Submit survey</a>
    </form>
  </div>
</div>
