.pac-container-wrapper {
    display : inline-block;
    position: relative;
}

.typeahead-component {
    z-index: 10;
    position: relative;
}

.pac-container {
    min-height : 2.5rem;
    position: absolute;
    top : 0;
    width: 19.5rem;
    color: #34384b;
    padding: 0;
}

.pac-logo:after {
    content: none !important;
}

.pac-item {
    display: block;
    width: 100%;
    padding: .8rem .6rem;
    text-align: left;
    cursor: pointer;
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
    border: none;
    border-top: 1px solid #ccc;
    background: none;
    border-radius: 0;
}

/**
* Item is focused
*/
.pac-item.focused {
    background-color: #4263c2;
}

.pac-item.focused .pac-matched {
    color: #fff;
}

/**
* End item is focused
*/

.pac-item:hover,
.pac-item:hover .pac-item-query,
.pac-item:hover .pac-matched {
    background-color: #4263c2;
    color: white;
}

.pac-item,
.pac-item-query {
    font-size: 17px;
    color: #999;
}

.pac-item-query {
    padding-right: 3px;
}

.pac-matched {
    color: #000;
}

.pac-item-query:after {
    content: ',';
}

.hide {
    display: none;
}

.field .field__input-typeahead {
    position: relative;
}

.field .field__input-hint {
    position: absolute;
    width: 19rem;
    padding: .6rem;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
    border: 1px solid transparent;
}

.field .field__input-hint-spacer {
    color: #fff;
}

.field .field__input-hint-secondary {
    color: #808080;
}

.input--typeahead {
    background: transparent;
}

.pac-container-wrapper.has-focus > .pac-container,
.pac-container-wrapper.has-focus.is-checked > .pac-container {
    border-color : #033e58;
    box-shadow : 0 0 0 3px #fe791f;
    border-radius : .2rem;
}

.input--typeahead:hover,
.input--typeahead:focus,
.input--typeahead:active {
    box-shadow : none;
}

.field__input-typeahead + .pac-container > .pac-reveal > .pac-scroll  {
    margin-top : 2.45rem;
}

.pac-scroll {
    position : relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 265px;
    background-color: #fff;
    box-shadow: inset 0 -4px 8px #ccc;
}

.pac-notice {
    padding: .4rem .6rem;
    background-color : #eee;
}




html[data-useragent*='MSIE 10.0'] .field__input-hint {
    border-top : none;
}

.header {
    margin-bottom : 0;
}

.page__content {
    overflow-x : visible;
}
