---
title: Household Questionnaire
subtitle: England
project: 2017 Census
globalcss: false
---

{% include survey-header-census.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="">Previous</a><br/><br/>
        <form action="../section-7" class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="hidden-form">
          </div>
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number question__title__number--census venus">2</span>Household</h2>
                <div class="question">
                  <h3 class="question__title neptune"><span class="question__title__number venus">2.3</span>Is there anyone else for whom this address is their permanent or family home?</h3>
                  <div class="question__description mars" id="description-6cc86b54-330c-4465-99b2-34cc7073dc2c">
                    <div class="box box--promo">
                      <h3 class="venus">Include:</h3>
                      <ul>
                        <li>People who live outside the UK who are staying in the UK for three months or more </li>
                        <li>People who work away from home within the UK</li>
                        <li>Members of the Armed Forces</li>
                        <li>People who are temporarily outside the UK for less than 12 months</li>
                        <li>People staying temporarily and usually live in the UK but do not have another UK address for example relatives friends</li>
                        <li>Other people who usually live here, including anyone temporarily away from home</li>
                      </ul>
                    </div>
                  </div>
                  <div class="question__responses">
                    <div class="field field--multi field--radio">
                      <div class="field__item">
                        <input class="input input--radio yes" type="radio" name="q4" id="form-input-1" value="yes" title="Yes">
                        <label class="label label--inline" for="form-input-1"><span class="label__inner">Yes – I need to add a person</span></label>
                      </div>
                      <div class="field__item">
                        <input class="input input--radio no" type="radio" name="q4" id="form-input-2" value="no" title="No">
                        <label class="label label--inline" for="form-input-2"><span class="label__inner">No</span></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--census qa-btn-get-started venus" type="submit" name="">Save and continue</button><br/><br/>
          <a class="mars" href="">Save and complete later</a><br/><br/>
          <a class="mars" href="">Previous</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% include footer-census.html %}

<script>

$( document ).ready(function() {
  populateHiddenForm();
});


$('.qa-btn-get-started').click(function(e) {
  if($('.yes').prop('checked')) {
    e.preventDefault();
    window.location.href = "../section-5" + window.location.search;
  }
});

</script>
