---
title: Household Questionnaire lite v8
subtitle: England
project: 2017 Census lite
globalcss: false
---

{% include survey-header-census.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col col-7@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="">Previous</a><br/><br/>
        <form class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number question__title__number--census venus">3</span> John Doe</h2>
                <div class="question question--radios">
                  <h3 class="question__title neptune"><span class="question__title__number venus">3.4</span>What is your date of birth?</h3>
                  <p class="mars">For example 20 3 2014</p>
                  <div class="question__responses">
                    <div class="response response date" id="94f368e4-7c6c-4272-a780-8c46328626a2">
                      <fieldset class="fieldset fieldset--date">
                        <div class="subfields">
                          <div class="field field--day">
                            <label class="label label--small venus" for="form-input-1">Day</label>
                            <input class="input input--number" placeholder="DD" name="q1" id="form-input-1">
                          </div>
                          <div class="field field--month">
                            <label class="label label--small venus" for="form-input-2">Month</label>
                            <select class="input input--select mars" name="q1" id="form-input-2">
                              <option value="0">Select month</option><option value="1">January</option><option value="2">February</option><option value="3">March</option><option value="4">April</option><option value="5">May</option><option value="6">June</option><option value="7">July</option><option value="8">August</option><option value="9">September</option><option value="10">October</option><option value="11">November</option><option value="12">December</option></select>
                          </div>
                          <div class="field field--year">
                            <label class="label label--small venus" for="form-input-3">Year</label>
                            <input class="input input--number" type="number" name="q1" id="form-input-3" value="" placeholder="YYYY">
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--census qa-btn-get-started venus" type="submit" name="">Save and continue</button><br/><br/>
          <a class="mars" href="">Save and complete later</a><br/><br/>
          <a class="mars" href="">Previous</a>
        </form>
      </div>
    </div>
    <div class="grid__col push-1@s col-3@s">
    {% include progress-census.html %}
    </div>
  </div>
</div>

{% include footer-census.html %}

<script>

$( document ).ready(function() {
  $('.section__title').html('<span class="section__title__number question__title__number--census venus">3</span>' + sessionStorage.getItem('firstName0') + ' '  + sessionStorage.getItem('lastName0'));
});

$('.qa-btn-get-started').click(function(e) {
  e.preventDefault();
  var inputValue = $("input[name='q1']"). val();
  sessionStorage.setItem('dob', inputValue);
  window.location.href = "../section-33";
});
</script>
