/* v2 Design system overrides */

/* Typography */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

html,
body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.u-fs-m {
    font-weight: 300;
}

h1,
h2,
h3,
h4 {
    font-weight: 600!important;
}
.u-fs-xl, 
h1 {
    font-size: 1.44444444rem;
}

.u-fs-l,
h2 {
    font-size: 1.3rem;
}

.u-fs-m,
h3 {
    font-size: 1.1rem;
}

.u-fs-r--b,
h4 {
    font-size: 1rem;
    font-weight: 600;
}

.u-fs-s {
    font-size: .8rem;
}

/* over 740px */
@media only screen and (min-width: 740px) {
    .u-fs-xl,
    h1 {
        font-size: 1.66666667rem;
    }

    .u-fs-l,
    h2 {
        font-size: 1.4rem;
    }

    .u-fs-m,
    h3 {
        font-size: 1.2rem;
    }

    .u-fs-r--b,
    h4 {
    font-size: 1rem;
    font-weight: 600;
    }

    .u-fs-s {
        font-size: .8rem;
    }
}

.btn:not(.btn--ghost):not(.btn--ghost-blue) {
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.8);
}

.btn:focus {
    outline: 3px solid transparent;
    color: #222;
    background-color: #fd0;
    text-decoration: none;
    border: 1px solid #fd0;
}

.btn--ghost:focus {
    border: 2px solid #fd0;
}

.btn--secondary {
    border-color: #d0d0d0;
}

.btn--secondary:hover {
    border-color: #c0c0c0;
    color: #222;
}

a {
    color: #334f9e;
}

a:hover {
    text-decoration: underline;
    color: #4263c2;
}

a:focus:not(.btn--link):not(.btn--ghost):not(.js-clear-btn):not(.download__thumbnail--link):not(.header__logo-link):not(.header__title-link):not(.tab--row) {
    outline: 3px solid transparent;
    color: #222;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #222;
    text-decoration: none;
}

.collapsible__title {
    text-decoration: underline!important;
}

.collapsible--simple .collapsible__title:focus {
    outline: 3px solid transparent;
    color: #222;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #222;
    text-decoration: none;
}

.input__text {
    width: 100%;
}

.panel--error a {
    color: #4263c2;
}

.panel__error {
    color: #d0021b;
}

.panel--warning {
    font-weight: 600;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.panel--warning .panel__icon {
    color: #fff;
    font-weight: 900;
    display: inline-block;
    position: absolute;
    left: 0;
    min-width: 35px;
    min-height: 29px;
    margin-top: -4px;
    border: 3px solid #0b0c0c;
    border-radius: 50%;
    color: #fff;
    background: #0b0c0c;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
}

.panel--warning .panel__text {
    padding-left: 1.3rem;
    display: block;
}

.question {
    margin-bottom: 0;
}
.field__legend {
    font-weight: normal!important;
  }
  
.field--multiplechoice .field__item {
    border: 1px solid #222;
}

.input {
    border: 1px solid #222;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 3px #fd0;
    outline: 1px solid #222;
    outline-offset: -2px;
}

.input--checkbox,
.input--radio {
    border: 2px solid #222;
    top: .85rem;
    width: 1.25rem;
    height: 1.25rem;
}

.radio__input:checked,
.input--radio:checked {
    background: #222;
}

.input--checkbox:checked {
    background: url(/img/icons/icons--check.svg) no-repeat 50%;
    background-size: 14px;
}
 
.input--radio:checked, 
.input--radio:focus {
    background-color: #222;
}

.label--negative {
    margin-left: -1.85rem;
    margin-top: .25rem;
}

.input--checkbox:checked~.label:before, 
.input--radio:checked~.label:before {
    box-shadow: 0 0 0 2px #222;
}

.input--checkbox:checked, 
.input--checkbox:focus, 
.input--radio:checked, 
.input--radio:focus {
    border-color: #222;
    outline: none;
    box-shadow: none;
}

.input--checkbox:focus~.label:before, 
.input--radio:focus~.label:before {
    outline: 1px solid #222;
    outline-offset: -2px;
    -webkit-box-shadow: 0 0 0 3px #fd0;
    box-shadow: 0 0 0 3px #fd0;
}

.input--radio:checked, .input--radio:focus {
    background-color: #222;
    outline: none;
}

.input--radio:focus:checked {
    border-color: #222;
    background-color: #222;
}

.radio__input {
    border-radius: 50%;
    background: #f0f0f0;
    -webkit-box-shadow: inset 0 0 0 3px #fff;
    box-shadow: inset 0 0 0 3px #fff;
}

.input--radio:focus {
    box-shadow: none;
    border-radius: 100px;
    box-shadow: inset 0 0 0 3px #fff;
}

.field--multiplechoice .field__item.has-focus, 
.field--multiplechoice .field__item.has-focus.is-checked {
    border-color: #222;
    box-shadow: 0 0 0 3px #fd0;
    outline: 1px solid #222;
    outline-offset: -2px;
}
.fieldset__legend {
    display: block;
    margin-bottom: .4rem;
    color: inherit;
    font-weight: 400;
    font-size: 1rem;
}
/* .field__item > .label > p,
.checkbox__description, 
.radio__description,
.label__description {
    display: block;
    margin-top: .25rem;
    margin-left: -1.85rem!important;
} */

.collapsible__body {
    padding-left: 1.3rem;
    border-left: 5px solid #ccc;
}

/* Highlight */
.highlight {
    padding: 0 2px;
    background-color: #f0f762!important;
}

.btn--secondary {
    background: #d0d0d0;
    color: #222;
    font-weight: 400;
}

.btn--secondary:hover {
    background: #c0c0c0;
}

/* CTA button */
.btn--link {
    display: inline-block;
    padding: 0;
    line-height: 1.15;
}

.btn--link .btn__inner {
    display: inherit;
    padding: 0.75em 1em;
}

.btn--link .btn__inner:after {
    content: '';
    display: inline-block;
    width: .8rem;
    height: .8rem;
    background-image: url(/img/icons/guidance-white.svg);
    background-repeat: no-repeat;
    background-size: .8rem .8rem;
    margin: 0 0 0 .5rem;
    vertical-align: middle;
}

/**
 * Hub
**/
.summary__block {
    border-bottom: none;
}

.summary__answer {
    font-weight: 600;
}

#visitor-surveys {
    border-top: 1px solid #888;
}

.summary__item {
  border-top: none;
}

.summary__item:not(:last-child) {
  border-bottom: 1px solid #888;
}

.list.list--people-plain {
  margin-bottom : 1rem;
  list-style-type : none;
}

.list.list--people-plain .list__item {
  background: url(/img/icons/person.svg) 0 .2rem no-repeat;
}

.list.list--people-plain .list__item-name {
  padding-left: 1.5rem;
}

.list.list--people-plain .list__item-actions {
  margin-top: -4px;
}

.list.list--people-plain .list__item-action + .list__item-action {
  margin-left : .5rem;
}


/**
 * Summary records
 */
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-bottom: 1px solid #888;
    border-style: solid;
    margin: 0;
}

.list.list--records .list__item {
    margin-bottom: 0;
    padding: 1rem 0;
}

.summary__block,
.list.list--records .list__item:not(:last-child) {
    border-bottom: 1px solid #888;
}

.add-link-container {
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.list.list--people {
    list-style-type: none;
}

.list.list--people .list__item {
    background: url(/img/icons/person.svg) 0 1.3rem no-repeat;
}

.list.list--people .list__item-name {
    padding-left: 2rem;
}

.list.list--people .list__item-action + .list__item-action {
    margin-left: .5rem;
}


.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__window {
    position: relative;
    background-color: white;
    max-width: 520px;
    padding: 2rem;
    text-align: center;
}

/**
 * Pattern library fix
 */
.header {
  margin-bottom : 0;
}

.lock {
    padding-left : 1.5rem;
    background : url('../img/icons/lockicon.svg') no-repeat left top;
}

.tick {
    height: 1.1em;
    margin-bottom: -1.8em;
    background : url('https://sdc-global-design-patterns.netlify.com/assets/img/icons/icons--check-green.svg') no-repeat;
}

.facebook {
    padding-left : 2.5rem;
    background : url('../img/icons/facebook.svg') no-repeat;
}

.twitter {
    padding-left : 2.5rem;
    background : url('../img/icons/twitter.svg') no-repeat;
}

.email {
    padding-left : 2.5rem;
    background : url('../img/icons/email.svg') no-repeat;
}

.footer {
    margin-top : 7rem;
}

.util-language {
    float : right;
}

.btn--danger {
    background-color : #D0021B;
    border-color : #D0021B;
}

.btn--danger:hover {
    background-color : #b00015;
    border-color : #b00015;
}

.page__content {
    padding-bottom : .5rem;
}

.ghost-link {
    position : absolute;
    bottom : 1rem;
    right : 1rem;
    margin-right : 0 !important;
    color : #aaa;
}

.footer {
    position : relative;
}

/**
 * Save and complete later - copied from design system
 */
.btn--ghost-blue {
    background-color: transparent;
    color: #4263c2;
    border-color: #334f9e;
    border-width: 2px;
    padding: .5rem 1rem
}

.btn--ghost-blue:focus, .btn--ghost-blue:hover {
    color: #4263c2;
    background-color: transparent;
    border-color: #4263c2
}

.btn--ghost-blue:focus {
    outline: 3px solid #fe781f
}
