---
title: New summary and navigation flow
project: eQ
globalcss: false
subtitle: New summary and navigation flow
---

<header class="page__header">
{% include survey-header.html %}
{% include bar-hero.html %}
</header>
<style type="text/css">

  .response_date_outline{
    border: 1px solid;
    float: right;
    font-size: 18px;font-weight: normal; line-height: 26px;
    padding: 8px 16px;
  }
  .review_control{
    cursor: pointer;
    float: right;
    font-size: 18px;font-weight: bold; line-height: 26px;
  }
  .review_control::after {
    content: ">";
    /*content: url('/sdfdsf/dsf');*/
    transform: rotate(90deg);
    display: inline-block;
    margin-left: 1rem;
  }
   .review_control.show::after {
    transform: rotate(270deg);
  }
  .hidden_text{
    display: none;
    font-weight: lighter;

  }
  .hidden_text.show{
    display: block;
  }
</style>


<div class="page__subheader">
  <div class="container">

  </div>
</div>

<div class="page__container container">
  <div class="grid">
    <div class="grid__col col-12@xs">
    
      <main role="main" id="main" class="page__main">
        <div class="u-mt-s"><h2 class="saturn col-12@l">Your response is legally required
        <span class="response_date_outline">Due date: 30 September 2016</span>
        </h2>

       <dd class="dl__data mars">For period: 30 September 2016 to 31 December 2016</dd>
                  

        <div class="grid grid--flex grid--bordered@s u-mb-s">

            <div class="grid__col col-6@s">
              <dl class="dl u-pr-s">
                <dt class="dl__title mercury">Business name</dt>
                <dd class="dl__data mars">Bolts & Ratchets Ltd</dd>

                  <dt class="dl__title mercury">Trading as</dt>
                  <dd class="dl__data mars">Bolts & Ratchets Ltd</dd>

              </dl>
            </div>

            <div class="grid__col col-6@s">
              <dl class="dl">
                <dt class="dl__title mercury">Business address</dt>
                <dd class="dl__data mars"><span>23 Primrose Avenue
                </br>Hoddingbridge</br>Wessex</br>WE11 2DO
                </span></dd>

              </dl>
            </div>
          </div>
        </div>
        
        <div class="u-mt-s"><h2 class="saturn col-10@l">1. Basis for completion</h2>

        <div class="u-mb-l qa-intro-description col-12@s">
          <p>A statutory questionnaire for <b>Bolts & Ratchets Ltd</b> for the period 30 September 2016 to 31 December 2016</p>
          <p>A good reason to fill in a survey</p>
          <p>A very good reason to fill in a survey</p>
          <p>An even better reason to fill in a survey</p>
        </div>
        <div class="u-mb-l">
          <h2 class="saturn">2. Review questions to complete</h2>
<div>
          <div class="preview_list">Pay pattern<span class="review_control">Review</span></div>
          <div class="hidden_text">
          <br>
          <p>Please indicate how frequently employees are paid: weekly, fortnightly, calendar monthly, four weekly, five weekly</p></div>
          <br>
          <div class="preview_list">Weekly paid employees<span class="review_control">Review</span></div>
          <div class="hidden_text">
          <br>
          <p>For weekly paid employees in a given period:</p>
          <p>The number of employees</p>
          <p>The total gross weekly pay paid</p>
          <p>Of the amount paid, what amount was:</p>
          <ul>
          <li>Holiday pay, paid in advance</li>
          <li>Arrears of pay owing to pay awards</li>
          <li>Bonuses, commission or annual profit</li>
          </ul>
          <p>For weekly paid employees, were there any significant changes to the number of:</p>
          <ul>
          <li>Employees</li>
          <li>Redundancies</li>
          <li>Temporary employees</li>
          <li>The total gross pay paid</li>
          <li>The amount of overtime paid</li>
          </ul>
          <p>For weekly paid employees, were there any significant changes to the pay rates. Of any amount please include the percentage</p>
          <p>Did any sigificant changes such as industrial action affect the total gross pay paid or number of employees</p>
          </div>
          <br>
          <div class="preview_list">Internet sales<span class="review_control">Review</span></div>
          <div class="hidden_text">
          <br>
          <p>What were the internet sales in the period from 30 September 2016 to 31 December 2016?</p>
          </div>
          <br>
          <div class="preview_list">Changes to total turnover<span class="review_control">Review</span></div>
          <div class="hidden_text">
            <br>
            <p>What were the changes in total turnover in the period from 30 September 2016 to 31 December 2016?</p>
          </div>
          <br>
          <div class="preview_list">Employees<span class="review_control">Review</span></div>
          <div class="hidden_text">
            <br>
          <p>Of the total employees, how many of the following were in your employment on 12 December 2016?</p>
          <ul>
          <li>Full time males</li>
          <li>Part time males</li>
          <li>Full time females</li>
          <li>Part time females</li>
          </ul>
          </div>
          <br>
          <div class="preview_list">Changes in number of employees<span class="review_control">Review</span></div>
          <div class="hidden_text">
            <br>
            <p>What were the changes in employees in the period from 30 September 2016 to 31 December 2016?</p>
          </div>
          <br>
</div>
          <div class="u-mb-l">
          <h2 class="saturn">3. Start survey</h2>
          <p>We will treat your data securely and confidentially</p>
          <p>You will have the opportunity to download your submission as a PDF when the survey is complete</p>
          <p>If actual figures are not available, please provide informed estimates.</p>
        </div>
        <form class="form" action="../section-1" autocomplete="off" novalidate="">
          <button class="btn btn--primary btn--lg qa-btn-get-started" type="submit" name="">Complete survey</button>


        </form>
        <h2 class="saturn">Legal Information</h2>
        <p class="mars">You are required to complete this questionnaire. If you do not complete and return this questionnaire by 12 June 2016, penalties may be incurred (under section 4 of the Statistics of Trade Act 1947).</p>
      </main>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
$('.preview_list').click( function(){
  //$(this).parent().child('.hidden_text').addClass('show');
  // alert $(this).parent.html();
});
  if ($('.q1').length > 0) {
    var q1var = sessionStorage.getItem('q1'); // Total retail turnover
    $('.q1').text(q1var);
  }
  sessionStorage.clear();
  console.info(sessionStorage);

  $('.review_control').on("click", function(e) {
    $(this)
    .toggleClass('show')
    .parent()
    .toggleClass('show')
    .next('.hidden_text')
    .toggleClass('show')
  })

});

</script>
