---
title: Totals v3 Business example
project: Totals
globalcss: false
cdn: v1.1.0
---

<link rel="stylesheet" href="../style.css"/>
<header class="page__header">
    {% include survey-header.html %}
    {% include bar.html %}
</header>

<div class="page__subheader">
    <div class="container">
        <a class="mars" href="../relationships">Previous</a>
    </div>
</div>

<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
        </div>
        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">
                <form action="../disposals-summary"
                      name="trav"
                      class="form qa-questionnaire-form"
                      role="form"
                      autocomplete="off"
                      novalidate="">
                    <div class="group">
                        <div class="block">
                            <section class="section">
                                <h1 class="question__title saturn">
                                    We calculate the total value of
                                    aquisition to be
                                    <span class="highlight">&pound;<span class="js-grand-total"
                                    </span></span>?
                                </h1>
                                <div class="panel panel--simple panel--info u-mb-s">
                                    <div class="panel__body">
                                        <strong>Please review your
                                            answers and confirm these
                                            are correct</strong>
                                    </div>
                                </div>

                                <div class="summary">
                                    <div class="summary__block">
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div class="summary__question mars">Total value of acquisitions for transport assets and equipment</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div
                                                            class="summary__answer venus">&pound;<span class="js-transport-equipment-aquisitions"></span></div>
                                                </div>
                                                <div class="grid__col col-4@xs col-2@m">
                                                    <div class="summary__link mars">
                                                        <a
                                                                href="../index">Change <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div class="summary__question mars">Total value of acquisitions for computers and peripheral devices (hardware)</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div
                                                            class="summary__answer venus">&pound;<span class="js-computer-devices-aquisitions"></span></div>
                                                </div>
                                                <div class="grid__col col-4@xs col-2@m">
                                                    <div class="summary__link mars">
                                                        <a href="../computer-peripheral-devices">Change
                                                            <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div class="summary__question mars">Total value of acquisitions for computer software programs purchased or developed externally (bespoke)</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div class="summary__answer venus">&pound;<span class="js-computer-software-aquisitions"></span></div>
                                                </div>
                                                <div class="grid__col col-4@xs col-2@m">
                                                    <div class="summary__link mars">
                                                        <a href="../computer-software-programs">Change
                                                            <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div class="summary__question mars">Total value of acquisitions for databases purchased or developed externally (bespoke)</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div class="summary__answer venus">&pound;<span class="js-databases-aquisitions"></span></div>
                                                </div>
                                                <div class="grid__col col-4@xs col-2@m">
                                                    <div class="summary__link mars">
                                                        <a href="../databases">Change
                                                            <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div class="summary__question mars">Total value of acquisitions for databases purchased or telecommuniction equipment</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div class="summary__answer venus">&pound;<span class="js-telecommunications-aquisitions"></span></div>
                                                </div>
                                                <div class="grid__col col-4@xs col-2@m">
                                                    <div class="summary__link mars">
                                                        <a href="../telecommunications">Change
                                                            <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div class="summary__question mars">Total value of acquisitions for other machinery or equipment not mentioned</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div class="summary__answer venus">&pound;<span class="js-other-machinery-aquisitions"></span></div>
                                                </div>
                                                <div class="grid__col col-4@xs col-2@m">
                                                    <div class="summary__link mars">
                                                        <a href="../other-machinery-equipment">Change
                                                            <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div class="summary__question neptune">Grand total for value of aquisitions</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div
                                                            class="summary__answer neptune">&pound;<span class="js-grand-total"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <button class="btn btn--primary btn--lg qa-btn-submit venus"
                            type="submit" name="">Yes, I confirm these are
                        correct
                    </button>
                </form>
            </main>
        </div>
    </div>
</div>

<style>
    @media(min-width: 740px) {
        .summary__answer {
            text-align : right;
        }
    }

    .summary__question.neptune {
        font-weight : normal;
    }
</style>

<script>
    $(function () {
      var transportEquipmentAquisitions =
          JSON.parse(sessionStorage.getItem('transport-equipment-aquisitions')),
        computerDevicesAquisitions =
          JSON.parse(sessionStorage.getItem('computer-devices-aquisitions')),
        computerSoftwareAquisitions =
          JSON.parse(sessionStorage.getItem('computer-software-aquisitions')),
        databasesAquisitions =
          JSON.parse(sessionStorage.getItem('databases-aquisitions')),
        telecommunicationsAquisitions =
          JSON.parse(sessionStorage.getItem('telecommunications-aquisitions')),
        otherMachineryAquisitions =
          JSON.parse(sessionStorage.getItem('other-machinery-aquisitions'));

      $('.js-transport-equipment-aquisitions').html(transportEquipmentAquisitions);
      $('.js-computer-devices-aquisitions').html(computerDevicesAquisitions);
      $('.js-computer-software-aquisitions').html(computerSoftwareAquisitions);
      $('.js-databases-aquisitions').html(databasesAquisitions);
      $('.js-telecommunications-aquisitions').html(telecommunicationsAquisitions);
      $('.js-other-machinery-aquisitions').html(otherMachineryAquisitions);

      $('.js-grand-total').html(
        parseInt(transportEquipmentAquisitions) +
        parseInt(computerDevicesAquisitions) +
        parseInt(computerSoftwareAquisitions) +
        parseInt(databasesAquisitions) +
        parseInt(telecommunicationsAquisitions) +
        parseInt(otherMachineryAquisitions)
      );
    });
</script>
