---
title: Totals v3 Business example
project: Totals
globalcss: false
cdn: v1.1.0
---

<link rel="stylesheet" href="../style.css"/>
<header class="page__header">
    {% include survey-header.html %}
    {% include bar.html %}
</header>

<div class="page__subheader">
    <div class="container">
        <a class="mars" href="../relationships">Previous</a>
    </div>
</div>

<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
        </div>
        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">
                <form action="../computer-software-programs"
                      name="trav"
                      class="form qa-questionnaire-form js-questionnaire-form"
                      role="form"
                      autocomplete="off"
                      novalidate="">
                    <div class="group">
                        <div class="block">
                            <section class="section">
                                <h1 class="question__title saturn">
                                    We calculate the total value of
                                    aquisition to be
                                    <span class="highlight">&pound;<span class="js-grand-total"
                                    </span>?
                                </h1>
                                <div class="panel panel--simple panel--info u-mb-s">
                                    <div class="panel__body">
                                        <strong>Please review your
                                            answers and confirm these
                                            are correct</strong>
                                    </div>
                                </div>

                                <div class="summary">
                                    <div class="summary__block">
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div
                                                            class="summary__question mars">Total value of proceeds from disposals for transport assets and equipment</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div
                                                            class="summary__answer venus">&pound;<span class="js-transport-equipment-disposals"></span></div>
                                                </div>
                                                <div class="grid__col col-4@xs col-2@m">
                                                    <div class="summary__link mars">
                                                        <a href="#edit">Change <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div
                                                            class="summary__question mars">Total value of proceeds from disposals for computers and peripheral devices (hardware)</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div class="summary__answer venus">&pound;<span class="js-computer-devices-disposals"></span></div>
                                                </div>
                                                <div class="grid__col col-4@xs col-2@m">
                                                    <div class="summary__link mars">
                                                        <a href="#edit">Change <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div class="summary__question mars">Total value of proceeds from disposals for computer software programs purchased or developed externally (bespoke)</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div class="summary__answer venus">&pound;<span class="js-computer-software-disposals"></span></div>
                                                </div>
                                                <div class="grid__col col-4@xs col-2@m">
                                                    <div class="summary__link mars">
                                                        <a href="#edit">Change <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div class="summary__question mars">Total value of proceeds from disposals for databases purchased or developed externally (bespoke)</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div class="summary__answer venus">&pound;<span class="js-databases-disposals"></span></div>
                                                </div>
                                                <div class="grid__col col-4@xs col-2@m">
                                                    <div class="summary__link mars">
                                                        <a href="#edit">Change <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div class="summary__question mars">Total value of proceeds from disposals for databases purchased or telecommuniction equipment</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div class="summary__answer venus">&pound;<span class="js-telecommunications-disposals"></span></div>
                                                </div>
                                                <div class="grid__col col-4@xs col-2@m">
                                                    <div class="summary__link mars">
                                                        <a href="#edit">Change <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div class="summary__question mars">Total value of proceeds from disposals for other machinery or equipment not mentioned</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div class="summary__answer venus">&pound;<span class="js-other-machinery-disposals"></span></div>
                                                </div>
                                                <div class="grid__col col-4@xs col-2@m">
                                                    <div class="summary__link mars">
                                                        <a href="#edit">Change <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary__item">
                                            <div class="grid">
                                                <div class="grid__col col-12@xs col-6@m">
                                                    <div class="summary__question neptune">Grand total for value of proceeds from disposals</div>
                                                </div>
                                                <div class="grid__col col-8@xs col-4@m">
                                                    <div
                                                            class="summary__answer neptune">&pound;<span class="js-grand-total"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <button class="btn btn--primary btn--lg js-btn-submit venus"
                            type="submit" name="">Yes, I confirm these are
                        correct
                    </button>
                </form>
            </main>
        </div>
    </div>
</div>

<style>
    @media(min-width: 740px) {
        .summary__answer {
            text-align : right;
        }
    }

    .summary__question.neptune {
        font-weight : normal;
    }
</style>

<script>
  $(function () {
    var transportEquipmentDisposals =
        JSON.parse(sessionStorage.getItem('transport-equipment-disposals')),
      computerDevicesDisposals =
        JSON.parse(sessionStorage.getItem('computer-devices-disposals')),
      computerSoftwareDisposals =
        JSON.parse(sessionStorage.getItem('computer-software-disposals')),
      databasesDisposals =
        JSON.parse(sessionStorage.getItem('databases-disposals')),
      telecommunicationsDisposals =
        JSON.parse(sessionStorage.getItem('telecommunications-disposals')),
      otherMachineryDisposals =
        JSON.parse(sessionStorage.getItem('other-machinery-disposals'));

    $('.js-transport-equipment-disposals').html(transportEquipmentDisposals);
    $('.js-computer-devices-disposals').html(computerDevicesDisposals);
    $('.js-computer-software-disposals').html(computerSoftwareDisposals);
    $('.js-databases-disposals').html(databasesDisposals);
    $('.js-telecommunications-disposals').html(telecommunicationsDisposals);
    $('.js-other-machinery-disposals').html(otherMachineryDisposals);

    $('.js-grand-total').html(
      parseInt(transportEquipmentDisposals) +
      parseInt(computerDevicesDisposals) +
      parseInt(computerSoftwareDisposals) +
      parseInt(databasesDisposals) +
      parseInt(telecommunicationsDisposals) +
      parseInt(otherMachineryDisposals)
    );
  });
</script>

