.field {
  background: none;
}

.field__item {
  margin-bottom: 0.5rem;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 3px;
}

.field--checkbox {
  .field{
  }
  .field__item {
    border: 1px solid $color-borders;
    // flex-direction: row-reverse;
  }
}
.field--checkbox + input:checked {
  background-color: $color-lighter-grey;
}
.field--radio {
  .field__item {
    border: 1px solid $color-borders;
  }
}
.response--textarea{
  .field{
    max-width: 100%;
  }
}

.response--textfield{
  input{
    max-width: 480px;
  }
}
.field--multi {
  .field__item{
    display: block;
  }
  @include mq(s) {
    .field__item {
      min-width: 330px;
      display: inline-block;
    }
    .field__item--census{
      min-width: 310px;
      margin: 0 16px 16px 0;
    }
    .field__item--tight {
      width: calc(50% - 0.3rem);
      min-width: 0;
      margin: 0 0.3rem 0.3rem 0;
      vertical-align: top;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  &.field--cols {
    @include mq(s) {
      display: flex;
      flex-wrap: wrap;
      .field__item {
        width: 50%;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.date {
  $legend-width: 5rem;
  .legend {
    font-weight: 700;
    display: block;
    width: 100%;
    margin: 0 0 0.5rem;

    @include mq(s) {
      margin: 1rem 0 0;
      margin-bottom: 1rem;
    }

    @include fixed {
      width: 4rem;
      float: left;
      margin-top: 35px;
    }

    @include lt-ie8 {
      position: absolute;
      margin-top: 20px;
    }
  }
  .subfields {
    display: flex;
    width: 100%;

    @include mq(s) {
      width: calc(100% - #{$legend-width});
    }

    @include fixed {
      width: 30rem;
      float: right;
    }
  }
  .field {
    flex: 1 1 0;
    margin-right: 0.5rem;

    @include mq(s) {
      margin-right: 1rem;
    }

    @include fixed {
      display: block;
      float: left;
    }
  }

  .field--day {
    @include fixed {
      width: 7rem;
    }
  }
  .field--month {
    flex: 2;
    @include fixed {
      width: 14rem;
    }
  }
  .field--year {
    margin-right: 0;
    @include fixed {
      width: 7rem;
    }
  }
}
.field--time{
  width: 50%;
  float: left;
  margin-bottom: 56px;
  max-width: 210px;
  padding-right: 24px;
}
.input-type--currency{
  input{
    max-width: 100%;
  }
  @include mq(m) {
    input{
      max-width: 280px;
    }
  }
}
.input-type--percent{
  input{
    max-width: 100%;
  }
  @include mq(m) {
    input{
      max-width: 280px;
    }
  }
  &.input-type .input{
    border-radius: $input-radius 0 0 $input-radius;
  }
  &.input-type:before {
    display: none;
  }
  &.input-type:after {
    content: attr(data-type);
    display: inline-block;
    background-color: $color-lighter-grey;
    border: 1px solid $color-borders;
    border-left: none;
    border-radius: 0 $input-radius $input-radius 0;
    padding: 0.667rem 0.9rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    line-height: normal;
    @include fixed {
      position: absolute;
      left: 0;
      width: 2.5rem;
      height: 100%;
      border: 1px solid $color-borders;
      z-index: 2;
    }
  }
}

.field__item--other{
  display: block;
  span{
    position: relative;
  }
  .label__inner{
    left: 0px;
  }
  .field__item--other__text {
    display: none;
  }
  .field__item--other__text--open {
    display: block;
    padding: 8px;
  }
}

.input--description{
  margin-top:  $base-line-height / 4 + rem;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.response.response--repeating-elements{
  margin: 2rem 0 2rem 0;
  .field {
    margin-bottom: 1rem;
  }
}
.response--textfield .input--census-number{
  max-width: 80px;
}


.v4 {

  @include mq(s) {
    .husband,
    .same,
    .step-father,
    .step-child,
    .brother,
    .partner,
    .step-brother,
    .mother,
    .grandparent,
    .grandchild {
      margin-bottom: 0.4rem;
    }

    .partner {
      display: block;
    }

    .son,
    .step-child,
    .step-brother,
    .grandchild,
    .unrelated {
      margin-left: 0.3rem;
    }
  }
}
