.response {
  padding: 0;
  margin-bottom: 1rem;
  @include mq(m) {
    margin-bottom: 1rem;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &.response--repeating-element{
    background-color: $color-light-grey;
    border: 1px solid $color-grey;
    position: relative;
    .field {
      padding: 0 1rem 1rem 1rem;
    }
    .remove-entity{
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      color: $color-blue;
      text-decoration: underline;
      cursor: pointer;
    }
    .edit-entity{
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      color: $color-blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.response--closed{
  height: 60px;
  overflow: hidden;
}

.response__guidance {
  display: block;
}

.response__title{
  background-color: $color-lighter-grey;
  padding: 1rem;
  border-bottom: 1px solid $color-grey;
  input{
    background: transparent;
    border: 0px;
    font-size: 1rem;
    padding: 0;
    width: 300px;
  }
}
