---
title: Totals v1 (of which - validation)
project: Totals
globalcss: false

---

<header class="page__header">
{% include survey-header.html %}
{% include bar.html %}
</header>
<style>
.hidden {display: none;}
</style>
<div class="page__subheader">
  <div class="container">
    <a class="mars" href="../section-1">Previous</a>
  </div>
</div>

<div class="page__container container">
  <div class="grid grid--reverse">
    <div class="grid__col col-4@m">
    </div>
    <div class="grid__col col-7@m pull-1@m">
      <main role="main" id="main" class="page__main">

<!-- Error head start -->
    <div class="panel panel--error u-mb-s hidden" data-qa="error">
      <div class="panel__header">
        <h1 class="panel__title venus">This page has 1 error</h1>
      </div>
      <div class="panel__body" data-qa="error-body">
        <p class="mars">These <strong>must be corrected</strong> to continue.</p>
        <ul class="list list--bare">

            <li class="list__item mars">
              1) <a class="js-inpagelink" id="errorLink" href="#q2r1">Please amend this answer to continue.</a>
            </li>

          </ul>
        </div>
      </div>
<!-- End error head -->

        <form action="../thankyou" class="form qa-questionnaire-form" role="form" autocomplete="off" novalidate="">
          <div class="group" id="rsi">
            <div class="block" id="total-retail-turnover">
              <section class="section" id="total-retail-turnover-section">
                <h1 class="section__title neptune">
                  Employees
                </h1>
                <div class="question" id="total-retail-turnover-question">
                  <h2 class="question__title saturn">
                    Of the <span class="highlight "><span class="q1"></span></span> total employees how many of the following were in your employment on 12 December 2016?
                  </h2>
                  <div class="question__description mars" id="description-total-retail-turnover-question">
                    <p>Include employees at all sites working for <span class="config1">the business named on the front of the questionnaire</span>.</p>
                  </div>
                  <!-- <aside class="question__guidance">
                    <div class="panel panel--simple panel--info" id="question-guidance-total-retail-turnover-question">
                      <h3 class="venus">Include</h3>
                      <ul class="mars">
                        <li>VAT</li>
                        <li>internet sales</li>
                      </ul>
                      <h3 class="venus">Exclude</h3>
                      <ul class="mars">
                        <li>revenue from mobile phone network commission and top up </li>
                        <li>sales from catering facilities used by customers</li>
                        <li>lottery sales and commission from lottery sales</li>
                        <li>sales of car accessories and motor vehicles</li>
                        <li>NHS receipts</li>
                      </ul>
                    </div>
                  </aside> -->
                  <div class="question__answers">
                    <div class="question__answer">
                      <div class="answer answer--currency" id="aq2r1">

                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label for="q2r1" id="label-total-retail-turnover-answer" class="label venus ">
                              <div class="label__inner">
                                Full-time males
                              </div>
                            </label>
                            <div class="input-type input-type--currency">
                              <!-- <span class="input-type__type" id="total-retail-turnover-answer-type">£</span> -->
                              <input id="q2r1" value="" data-qa="input-text" name="q2r1" class="input input--text">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="question__answer">
                      <div class="answer answer--currency" id="aq2r2">
                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label for="q2r2" id="label-total-retail-turnover-answer" class="label venus ">
                              <div class="label__inner">
                                Part-time males
                              </div>
                            </label>
                            <div class="input-type input-type--currency">
                              <!-- <span class="input-type__type" id="total-retail-turnover-answer-type">£</span> -->
                              <input id="q2r2" value="" data-qa="input-text" name="q2r2" class="input input--text">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="question__answer">
                      <div class="answer answer--currency" id="aq2r3">
                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label for="q2r3" id="label-total-retail-turnover-answer" class="label venus ">
                              <div class="label__inner">
                                Full-time females
                              </div>
                            </label>
                            <div class="input-type input-type--currency">
                              <!-- <span class="input-type__type" id="total-retail-turnover-answer-type">£</span> -->
                              <input id="q2r3" value="" data-qa="input-text" name="q2r3" class="input input--text">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="question__answer">
                      <!-- Answer -->
                      <div class="answer answer--currency" id="aq2r4">
                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label for="q2r4" id="label-total-retail-turnover-answer" class="label venus ">
                              <div class="label__inner">
                                Part-time females
                              </div>
                            </label>
                            <div class="input-type input-type--currency">
                              <!-- <span class="input-type__type" id="total-retail-turnover-answer-type">£</span> -->
                              <input id="q2r4" value="" data-qa="input-text" name="q2r4" class="input input--text">
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Answer -->
                    </div>
                    <!-- <div class="question__answer">
                      <div class="answer answer--currency" id="total-retail-turnover-answer">
                        <div class="answer__fields js-fields">
                          <div class="field">
                            <label for="q2r5" id="label-total-retail-turnover-answer" class="label venus ">
                              <div class="label__inner">
                                Other goods
                              </div>
                            </label>
                            <div class="input-type input-type--currency">
                              <span class="input-type__type" id="total-retail-turnover-answer-type">£</span>
                              <input id="q2r5" value="" data-qa="input-text" name="q2r5" class="input input--text input-type__input">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </section>
            </div>
          </div>
          <button class="btn btn--primary btn--lg qa-btn-submit venus" type="submit" name="">Save and continue</button>
          <div class="u-mb-m">
            <button class="btn btn--link mars js-btn-save" type="submit" name="action[save_sign_out]">Save and complete later</button>
          </div>
        </form>
        <a class="page__previous page__previous--bottom js-previous-link" href="../section-1" id="bottom-previous">Previous</a>
      </main>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
  if ($('.q1').length > 0) {
    var q1var = sessionStorage.getItem('q1r1');
    $('.q1').text(q1var);
  }
  if ($('.config1').length>0){
    var config1 = sessionStorage.getItem('config1');
    $('.config1').html(config1);
  }

  var q2r1_answer = sessionStorage.getItem('q2r1');
  if(q2r1_answer!==null){
    $('#q2r1').val(q2r1_answer);
  }
  var q2r2_answer = sessionStorage.getItem('q2r2');
  if(q2r2_answer!==null){
    $('#q2r2').val(q2r2_answer);
  }
  var q2r3_answer = sessionStorage.getItem('q2r3');
  if(q2r3_answer!==null){
    $('#q2r3').val(q2r3_answer);
  }
  var q2r4_answer = sessionStorage.getItem('q2r4');
  if(q2r4_answer!==null){
    $('#q2r4').val(q2r4_answer);
  }

  console.info(sessionStorage);
  // $('.qa-btn-get-started').click(function(e) {
  $('.qa-btn-submit').click(function(e) {
    e.preventDefault();

    var val1 = (Number($("input[name='q2r1']").val()));
    var val2 = (Number($("input[name='q2r2']").val()));
    var val3 = (Number($("input[name='q2r3']").val()));
    var val4 = (Number($("input[name='q2r4']").val()));
    var totalVal = sessionStorage.getItem('q1r1');
    var errorPrep = '<div class="panel__header"><ul class="list list--bare list--errors"><li class="list__item mars" data-ga-action="Please correct the answer to continue." data-ga-label="single-date-question" data-ga="error" data-ga-category="Error"><p>Your answer is greater than the total.</p><p>Please correct the answer to continue.</p></li></ul></div>';

    if(val1 > totalVal || val2 > totalVal || val3 > totalVal || val4 > totalVal){ // if any of values 1 to 4 are > the total value (q1r1)
      $(".panel--error").toggleClass("hidden"); // then show the error panels

      if(val1 > totalVal){
        $('#errorLink').attr('href','#errorq2r1');
        $('#aq2r1 .answer__fields').wrap('<div class="panel__body" data-qa="error-body">').prepend(errorPrep);
        $('#aq2r1').wrap('<div class="answer answer--date js-has-errors" id="errorq2r1"><aside class="panel panel--simple panel--error" data-qa="error">');
        $(window).scrollTop(0); // faux submission behaviour - top of page.
        preventDefault();
      }
      if (val2 > totalVal) {
        $("#errorLink").attr('href','#errorq2r2');
        $('#aq2r2 .answer__fields').wrap('<div class="panel__body" data-qa="error-body">').prepend(errorPrep);
        $('#aq2r2').wrap('<div class="answer answer--date js-has-errors" id="errorq2r2"><aside class="panel panel--simple panel--error" data-qa="error">');
        $(window).scrollTop(0); // faux submission behaviour - top of page.
        preventDefault();
      }
      if (val3 > totalVal) {
        $("#errorLink").attr('href','#errorq2r3');
        $('#aq2r3 .answer__fields').wrap('<div class="panel__body" data-qa="error-body">').prepend(errorPrep);
        $('#aq2r3').wrap('<div class="answer answer--date js-has-errors" id="errorq2r3"><aside class="panel panel--simple panel--error" data-qa="error">');
        $(window).scrollTop(0); // faux submission behaviour - top of page.
        preventDefault();
      }
      if (val4>totalVal) {
        $("#errorLink").attr('href','#errorq2r4');
        $('#aq2r4 .answer__fields').wrap('<div class="panel__body" data-qa="error-body">').prepend(errorPrep);
        $('#aq2r4').wrap('<div class="answer answer--date js-has-errors" id="errorq2r4"><aside class="panel panel--simple panel--error" data-qa="error">');
        $(window).scrollTop(0); // faux submission behaviour - top of page.
        preventDefault();
      }
      window.location.href = "";
    }
    else {
      if ((val1+val2+val3+val4)>totalVal) {
        //alert('Total error to be fired now please!');
        $('.panel--error').toggleClass('hidden');
        preventDefault();
      }
    }
    window.location.href = "../thankyou"; // target of save and continue
        if ("text" === "text") {

          var inputValue = $("input[name='q2r1']").val();
          sessionStorage.setItem('q2r1', inputValue);
          var inputValue = $("input[name='q2r2']").val();
          sessionStorage.setItem('q2r2', inputValue);
          var inputValue = $("input[name='q2r3']").val();
          sessionStorage.setItem('q2r3', inputValue);
          var inputValue = $("input[name='q2r4']").val();
          sessionStorage.setItem('q2r4', inputValue);
          // var inputValue = $("input[name='q2r5']").val();
          // sessionStorage.setItem('q2r5', inputValue);
        } else {
          // var inputValue = $("input[name='q1']:checked").val();
          // sessionStorage.setItem('q1', inputValue);
          var inputValue = $("input[name='q2r1']:checked").val();
          sessionStorage.setItem('q2r1', inputValue);
          var inputValue = $("input[name='q2r2']:checked").val();
          sessionStorage.setItem('q2r2', inputValue);
        }

  });

});
</script>
