---
title: UK Innovation Survey
project: UKIS
globalcss: false
---


{% include survey-header.html %}
{% include bar.html %}



<div class="container">
    <div role='main' class='panel__body' id='main'><div class='header'><h1 class='saturn'>Submission Successful</h1><div class='mars'>Thank you for submitting the UK innovation survey, your responses have been successfully received.</div></div><div class='alert alert--simple alert--success alert--spacious'><p>Transaction ID (Please quote this reference for any support queries)</p><ul class='box__list'><li class='box__list__item'>D1C5</li><li class='box__list__item'>B0AE</li><li class='box__list__item'>9A04</li><li class='box__list__item'>4E94</li></ul><p class='u-mb-no'>You may wish to save or print this page for your records.</p></div><div class=''><div class='u-mt-s'>For more information on how we use this data.</div><p class='u-mb-m@s'><a href='https://www.ons.gov.uk/surveys'>https://www.ons.gov.uk/surveys</a></p><p>It is now to safe to close this window.</p></div></div>
</div>

<script>

$( document ).ready(function() {
  if ($('.business-name').length > 0) {
    var businessName = sessionStorage.getItem('Business name');
    $('.business-name').html(businessName);
  }
  var pathArray = window.location.pathname.split( '/' );
  var fourthLevelLocation = pathArray[4];
  $('.' + fourthLevelLocation).addClass('active is-open').prevAll().addClass('complete');
  if ( fourthLevelLocation === "section-5" || fourthLevelLocation === "section-37" || fourthLevelLocation === "section-91") {
    $('.' + fourthLevelLocation).addClass('complete');
  }
  $('.qa-btn-get-started').click(function(e) {
    e.preventDefault();
    window.location.href = "../";


  });


});

</script>

