.input {
  z-index: 3;
  display: block;
  position: relative;
  padding: rem-calc(rem-calc(rems(40px) - 1.444rem) / 2) 0.5rem;
  width: 100%;
  border: 1px solid #222;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1rem;
}
.input::-ms-clear {
  display: none;
}
.input--text, .input--textarea {
  -webkit-appearance: none;
}
.input:focus {
  outline: 1px solid #222;
  outline-offset: -2px;
  box-shadow: 0 0 0 3px #fd0;
}
.input--postcode {
  width: 100%;
  max-width: input-width-calc();
}
.input__helper {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.input--select {
  appearance: none;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  background: #fff url('../img/icons/icons--chevron-down.svg') no-repeat center right 10px;
  background-size: 1rem;
}
.input--select::-ms-expand {
  display: none;
}
.input--textarea {
  width: 100%;
  line-height: normal;
  resize: vertical;
}
.input--block {
  display: block;
  width: 100%;
}
.input--placeholder {
  background: transparent;
}
.input--placeholder::placeholder {
  color: transparent;
}
.input--placeholder:valid {
  background: #fff;
}
.input--placeholder:focus {
  background: #fff;
}
.input--limit-reached {
  border: 1px solid #d0021b;
}
.input--limit-reached:focus {
  outline: 1px solid #d0021b;
}
.input__limit {
  display: block;
}
.input__limit--reached {
  color: #d0021b;
}
