---
title: MCI v1
project: MCI
globalcss: false
subtitle: MCI test
---

<header class="page__header">
{% include survey-header.html %}
{% include bar-hero.html %}
</header>

<div class="container">
    <div role="main" class="panel__body" id="main">
      <div class="header">
          <h2 class="saturn">Your response to this survey is of great value to government, whether or not you carry out innovation activities.</h2>
          <div class="grid ">
            <div class="grid__col col-6@s">
              <dl>
                <dt class="mercury u-tt-u">Business name</dt>
                <dd class="mars">Your business</dd>
                <dt class="mercury u-tt-u">Have your details changed?</dt>
                <dd class="mars">Telephone <a href="tel:03001234931">0300 1234 931</a> or alternatively email <a href="mailto:info@ons.gov.uk">info@ons.gov.uk</a></dd>
              </dl>
            </div>
            <div class="grid__col col-6@s ">
              <dl>
                <dt class="mercury u-tt-u">Period</dt>
                <dd class="mars">1 January 2012 to 31 December 2014</dd>
                <dt class="mercury u-tt-u">Please submit by</dt>
                <dd class="mars">9 October 2016</dd>
              </dl>
            </div>
          </div>
          <h2 class="header__title saturn">Basis for completion</h2>
          <ul>
            <li>Please complete this questionnaire for the business named above.</li>
            <li>If this business is part of an enterprise group, please answer all questions for this business in the UK only.</li>
            <li>Do not include results for subsidiaries or parent enterprises.</li>
          </ul>
          <div class="box box--promo">
            <h2 class="saturn">Definition of innovation</h2>
            <p class="mars">
              Innovation, for the purpose of this survey, is defined as <strong>new</strong> or <strong>significantly improved goods or services</strong> and / or processes used to produce or supply all goods or services that the business has introduced, regardless of their origin. These may be new to the business or new to the market. Investments for future innovation and changes that the business has introduced at a <strong>strategic</strong> level (in organisation and practices) are also covered.
            </p>
          </div>
          <h2 class="saturn">You will be asked to provide information for the business, including:</h2>
          <ul>
            <li>General Business Information</li>
            <li>Innovation Activities</li>
            <li>Context for Innovation</li>
            <li>General Economic Information</li>
          </ul>
          <div class="u-mb-s u-mb-m@s">
            <div class="u-fw-b">If actual figures are not available, please provide informed estimates.</div>
          </div>
          <div>
        </div>

        <form action="" class="form" role="form" method="POST" novalidate="">
          <a href="../section-1"class="btn btn--tertiary qa-btn-get-started neptune" type="submit" name="action[start_questionnaire]">Start survey</a>
        </form>
        <div class="lock u-mb-s u-mb-m@s">
          <div class="venus lock__text">We will treat your data securely and confidentially</div>
        </div>
      </div>



      </div>
</div>
