.list.list--people-plain {
  margin-bottom : 1rem;
  list-style-type : none;
}

.list.list--people-plain .list__item {
  background: url(/img/icons/person.svg) 0 .2rem no-repeat;
}

.list.list--people-plain .list__item-name {
  padding-left: 1.5rem;
}

.list.list--people-plain .list__item-actions {
  margin-top: -4px;
}

.list.list--people-plain .list__item-action + .list__item-action {
  margin-left : .5rem;
}

/**
 * Pattern library fix
 */
.header {
  margin-bottom : 0;
}

.lock {
    padding-left : 1.5rem;
    background : url('../img/icons/lockicon.svg') no-repeat left top;
}

.footer {
    margin-top : 7rem;
}

.util-language {
    float : right;
}
