---
title: Suggest - Suggest possible values for an industry given an input term
project: Suggest
globalcss: false
---

<link rel="stylesheet"
      href="{{ "/css/census-header-footer.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="../../assets/typeahead.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../../assets/Typeahead.js"></script>
<script src="../../assets/SuggestService.js"></script>
<script src="../../assets/suggest-module.js"></script>

<header class="page__header">
    {% include bar.html %}
    {% include header-census.html %}
</header>
<div class="page__subheader">
    <div class="container">

        <a class="page__previous page__previous--top"

           data-ga-label="top" data-ga-category="Navigation"
           data-ga-action="Previous link click" data-ga="click"
           href="/questionnaire/census/household/MNNDHEx5/household-member/0/another-address"
           id="top-previous">Previous</a>


        <div class="page__menubtn">
            <button class="btn btn--link pluto btn--menu js-menu-btn"
                    data-close-label="Hide sections" type="button"
                    id="menu-btn">View sections
            </button>
        </div>
    </div>
</div>
<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
            <nav class="nav nav--sections nav--vertical js-nav page__nav"
                 id="section-nav">
                <p class="nav__title venus">Sections</p>
                <ul class="nav__list js-nav-list">
                    <li class="nav__item  pluto nav__item--completed ">
                        <a class="nav__link"
                           href="/questionnaire/census/household/MNNDHEx5/who-lives-here/0/permanent-or-family-home"
                           data-qa="complete"
                           data-ga-label="/questionnaire/census/household/MNNDHEx5/who-lives-here/0/permanent-or-family-home"
                           data-ga-category="Navigation"
                           data-ga-action="Section link click" data-ga="click">Who
                            lives
                            here?
                        </a>
                    </li>
                    <li class="nav__item  pluto nav__item--completed ">
                        <a class="nav__link"
                           href="/questionnaire/census/household/MNNDHEx5/household-and-accommodation/0/type-of-accommodation"
                           data-qa="complete"

                           data-ga-label="/questionnaire/census/household/MNNDHEx5/household-and-accommodation/0/type-of-accommodation"
                           data-ga-category="Navigation"
                           data-ga-action="Section link click" data-ga="click">Household
                            and Accommodation</a>
                    </li>
                    <li class="nav__item  pluto  nav__item--current">
                        <a class="nav__link"
                           href="/questionnaire/census/household/MNNDHEx5/household-member/0/household-member-begin"
                           data-qa="incomplete"
                           data-ga-label="/questionnaire/census/household/MNNDHEx5/household-member/0/household-member-begin"
                           data-ga-category="Navigation"
                           data-ga-action="Section link click" data-ga="click">Joanna
                            Bloggs
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">
                <form class="form qa-questionnaire-form" role="form"
                      method="POST" autocomplete="off" novalidate>
                    <input id="csrf_token" name="csrf_token" type="hidden"
                           value="ImMxYWMzNzg1NTE4OGFlZjUzN2QyOWJjNmFjNGU2OGJhNjMxMDA0ODAi.DH8MjA.22XS3mNvK1-HC7uib7_bWLuUgV4">
                    <div class="group" id="household-member">
                        <block class="block" id="other-address">
                            <p class="block__title neptune"
                               data-qa="block-title">Joanna Bloggs</p>
                            <div class="question" id="other-address-question">
                                <h1 class="question__title saturn"><span
                                        class="question__number">5a. </span>
                                    What is the industry you work in?
                                </h1>
                                <fieldset
                                        class="question__fieldset js-question-fieldset">

                                    <legend class="u-vh">What is the industry
                                        you work in?
                                    </legend>
                                    <div class="question__answers">
                                        <div class="question__answer">
                                            <div class="answer answer--textfield"
                                                 id="container-occupation">
                                                <div class="answer__fields js-fields">
                                                    <div class="field js-suggest">
                                                        <label for="autocomplete"
                                                               class="label venus"
                                                               id="label-occupation">
                                                            <div class="label__inner">
                                                                Please type the
                                                                industry name
                                                                below
                                                            </div>
                                                        </label>
                                                        <input id="autocomplete"
                                                               class="input input--text js-suggest-input"
                                                               data-suggest-url="industries/"
                                                               placeholder="Start typing for industry choices"
                                                               type="text">
                                                        <div class="pac-container-wrapper">
                                                            <div class="pac-container pac-logo hide"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="question__answers">
                                            <div class="answer answer--textfield">
                                                <div class="answer__fields js-fields">
                                                    <div class="field">
                                                        <div id="selection"
                                                             class="label__inner">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </block>
                    </div>
                    <button class="btn btn--primary btn--lg"
                            data-qa="btn-submit" type="submit"
                            name="action[save_continue]">Save and continue
                    </button>
                    <div class="u-mb-m">
                        <button class="btn btn--link mars js-btn-save"
                                type="submit" name="action[save_sign_out]"
                                data-ga-category="Navigation"
                                data-ga-action="Save and complete later click"
                                data-ga="click">Save and complete later
                        </button>
                    </div>
                </form>

                <a class="page__previous page__previous--bottom"

                   data-ga-label="bottom" data-ga-category="Navigation"
                   data-ga-action="Previous link click"
                   data-ga="click"
                   href="/questionnaire/census/household/MNNDHEx5/household-member/0/another-address"
                   id="bottom-previous">Previous</a>
            </main>
        </div>
    </div>
</div>

{% include footer-census.html %}
</div>
{% include timeout-census.html %}
</div>

<script>
  /*$(document).ready(function() {
      let input_field = document.getElementById('autocomplete');
      input_field.addEventListener("change", function (evt) {
          fillInSelection(evt.currentTarget.value);
      });
  });


  function fillInSelection(val) {
      let selection_field = document.getElementById('selection');
      selection_field.innerHTML="You selected: " + val;
  }


  $("#autocomplete").autocomplete({
      source: function (request, response) {
          $.ajax({
              url: "http://localhost:5000/api/industries/?q=" + request.term,
              dataType: "json",
              success: function (data) {
                  return response(data.matches);
              }
          });
      },
      items: 10,
      minLength: 1
  });*/

</script>
