<div class="panel__header survey-header u-cf">
  <div class="logo survey-header__logo">
    <img src="#{$s}/img/logo.svg" alt="Office for National Statistics" class="logo__img">
  </div>
  <div class="info survey-header__info" role="contentinfo">
    <h2 class="info__title">Survey Help</h2>
    <div class="info__tel">
      0300 1234 931
    </div>

    <dl class="info__list">
      <dt class="info__dt first">ID:</dt>
      <dd class="info__dd">33</dd>
      <dt class="info__dt">Period:</dt>
      <dd class="info__dd">May 2016</dd>
      <dt class="info__dt">Ref:</dt>
      <dd class="info__dd last">12346789012A</dd>
    </dl>

  </div>
</div>
