%svg-common {
	background: url("img/sprite.svg") no-repeat;
}

.svg-census-logo {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-census-logo-dims {
	width: 52px;
	height: 27.38px;
}

.svg-crest-logo {
	@extend %svg-common;
	background-position: 17.97887323943662% 64.71949702915572%;
}

.svg-crest-logo-dims {
	width: 52px;
	height: 46.52px;
}

.svg-icons--caret-bottom {
	@extend %svg-common;
	background-position: 18.309859154929576% 0;
}

.svg-icons--caret-bottom-dims {
	width: 52px;
	height: 36px;
}

.svg-icons--caret-left {
	@extend %svg-common;
	background-position: 0 17.66549295774648%;
}

.svg-icons--caret-left-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-right {
	@extend %svg-common;
	background-position: 12% 17.66549295774648%;
}

.svg-icons--caret-right-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-top {
	@extend %svg-common;
	background-position: 36.61971830985915% 0;
}

.svg-icons--caret-top-dims {
	width: 52px;
	height: 36.48px;
}

.svg-icons--check {
	@extend %svg-common;
	background-position: 36.61971830985915% 12.553769916377023%;
}

.svg-icons--check-dims {
	width: 52px;
	height: 45.41px;
}

.svg-icons--chevron-bottom {
	@extend %svg-common;
	background-position: 0 34.82158072322007%;
}

.svg-icons--chevron-bottom-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--chevron-down {
	@extend %svg-common;
	background-position: 36.23693379790941% 80.05016722408027%;
}

.svg-icons--chevron-down-dims {
	width: 49px;
	height: 37px;
}

.svg-icons--chevron-left {
	@extend %svg-common;
	background-position: 53.16792202038104% 0;
}

.svg-icons--chevron-left-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-right {
	@extend %svg-common;
	background-position: 53.16792202038104% 18.309859154929576%;
}

.svg-icons--chevron-right-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-top {
	@extend %svg-common;
	background-position: 0 49.33710507481%;
}

.svg-icons--chevron-top-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--circle-check {
	@extend %svg-common;
	background-position: 69.92605633802818% 0;
}

.svg-icons--circle-check-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--circle-x {
	@extend %svg-common;
	background-position: 69.92605633802818% 18.309859154929576%;
}

.svg-icons--circle-x-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--download {
	@extend %svg-common;
	background-position: 13.893835616438356% 99.77739726027399%;
}

.svg-icons--download-dims {
	width: 44px;
	height: 44px;
}

.svg-icons--download-white {
	@extend %svg-common;
	background-position: 28.86348122866894% 98.7627118644068%;
}

.svg-icons--download-white-dims {
	width: 43px;
	height: 41px;
}

.svg-icons--external-link {
	@extend %svg-common;
	background-position: 0 65.96830985915493%;
}

.svg-icons--external-link-dims {
	width: 51.06px;
	height: 52px;
}

.svg-icons--guidance {
	@extend %svg-common;
	background-position: 96.90849673202615% 42.474916387959865%;
}

.svg-icons--guidance-dims {
	width: 30px;
	height: 37px;
}

.svg-icons--guidance-white {
	@extend %svg-common;
	background-position: 96.90849673202615% 30.100334448160535%;
}

.svg-icons--guidance-white-dims {
	width: 30px;
	height: 37px;
}

.svg-icons--icons--definition-arrow {
	@extend %svg-common;
	background-position: 98.84666666666668% 54.8494983277592%;
}

.svg-icons--icons--definition-arrow-dims {
	width: 36px;
	height: 37px;
}

.svg-icons--icons--guidance {
	@extend %svg-common;
	background-position: 86.3954490605068% 0;
}

.svg-icons--icons--guidance-dims {
	width: 45.95px;
	height: 52px;
}

.svg-icons--icons--guidance-darkblue {
	@extend %svg-common;
	background-position: 86.3954490605068% 18.309859154929576%;
}

.svg-icons--icons--guidance-darkblue-dims {
	width: 45.95px;
	height: 52px;
}

.svg-icons--icons--guidance-white {
	@extend %svg-common;
	background-position: 86.3954490605068% 36.61971830985915%;
}

.svg-icons--icons--guidance-white-dims {
	width: 45.95px;
	height: 52px;
}

.svg-icons--info {
	@extend %svg-common;
	background-position: 83.79254998996856% 54.929577464788736%;
}

.svg-icons--info-dims {
	width: 36.94px;
	height: 52px;
}

.svg-icons--info-circle {
	@extend %svg-common;
	background-position: 0 84.27816901408451%;
}

.svg-icons--info-circle-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--lock {
	@extend %svg-common;
	background-position: 0 99.77739726027399%;
}

.svg-icons--lock-dims {
	width: 40.57px;
	height: 44px;
}

.svg-icons--person {
	@extend %svg-common;
	background-position: 99.51006711409397% 17.449664429530202%;
}

.svg-icons--person-dims {
	width: 38px;
	height: 38px;
}

.svg-icons--phone {
	@extend %svg-common;
	background-position: 98.84666666666668% 67%;
}

.svg-icons--phone-dims {
	width: 36px;
	height: 36px;
}

.svg-icons--right-arrow {
	@extend %svg-common;
	background-position: 99.97639998651428% 0;
}

.svg-icons--right-arrow-dims {
	width: 39.39px;
	height: 52px;
}

.svg-logo {
	@extend %svg-common;
	background-position: 54.598591549295776% 60.50379460681415%;
}

.svg-logo-dims {
	width: 52px;
	height: 26.35px;
}

.svg-logo-crest {
	@extend %svg-common;
	background-position: 18.309859154929576% 82.80001383747882%;
}

.svg-logo-crest-dims {
	width: 52px;
	height: 46.93px;
}

.svg-logo-cy {
	@extend %svg-common;
	background-position: 36.61971830985915% 46.73597210563698%;
}

.svg-logo-cy-dims {
	width: 52px;
	height: 26.26px;
}

.svg-logo-en {
	@extend %svg-common;
	background-position: 36.2887323943662% 60.88524909817686%;
}

.svg-logo-en-dims {
	width: 52px;
	height: 28.29px;
}

.svg-logo-english-reversed {
	@extend %svg-common;
	background-position: 18.309859154929576% 46.905579677273025%;
}

.svg-logo-english-reversed-dims {
	width: 52px;
	height: 27.38px;
}

.svg-logo-welsh-reversed {
	@extend %svg-common;
	background-position: 69.92605633802818% 49.383910715437715%;
}

.svg-logo-welsh-reversed-dims {
	width: 52px;
	height: 25.98px;
}

.svg-ons-logo-black {
	@extend %svg-common;
	background-position: 69.92605633802818% 40.94666150071031%;
}

.svg-ons-logo-black-dims {
	width: 52px;
	height: 26.28px;
}

.svg-ons-logo-black-en {
	@extend %svg-common;
	background-position: 69.92605633802818% 33.207739957851715%;
}

.svg-ons-logo-black-en-dims {
	width: 52px;
	height: 22.82px;
}

.svg-ons-logo-colour {
	@extend %svg-common;
	background-position: 18.309859154929576% 32.984665052461665%;
}

.svg-ons-logo-colour-dims {
	width: 52px;
	height: 26.25px;
}

.svg-ons-logo-white {
	@extend %svg-common;
	background-position: 0 8.741738769515662%;
}

.svg-ons-logo-white-dims {
	width: 52px;
	height: 22.79px;
}

