%svg-common {
	background: url("img/sprite.svg") no-repeat;
}

.svg-census-logo {
	@extend %svg-common;
	background-position: 18.91111111111111% 0;
}

.svg-census-logo-dims {
	width: 52px;
	height: 27.38px;
}

.svg-crest-logo {
	@extend %svg-common;
	background-position: 0 78.1175280485562%;
}

.svg-crest-logo-dims {
	width: 52px;
	height: 46.52px;
}

.svg-icons--caret-bottom {
	@extend %svg-common;
	background-position: 0 22.80701754385965%;
}

.svg-icons--caret-bottom-dims {
	width: 52px;
	height: 36px;
}

.svg-icons--caret-left {
	@extend %svg-common;
	background-position: 36.03496503496503% 0;
}

.svg-icons--caret-left-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-right {
	@extend %svg-common;
	background-position: 48.62237762237762% 0;
}

.svg-icons--caret-right-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-top {
	@extend %svg-common;
	background-position: 0 38.67791842475387%;
}

.svg-icons--caret-top-dims {
	width: 52px;
	height: 36.48px;
}

.svg-icons--check {
	@extend %svg-common;
	background-position: 0 56.946795370328005%;
}

.svg-icons--check-dims {
	width: 52px;
	height: 45.41px;
}

.svg-icons--chevron-bottom {
	@extend %svg-common;
	background-position: 19.25925925925926% 56.22148954428435%;
}

.svg-icons--chevron-bottom-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--chevron-down {
	@extend %svg-common;
	background-position: 98.77289377289377% 68.98678414096916%;
}

.svg-icons--chevron-down-dims {
	width: 49px;
	height: 37px;
}

.svg-icons--chevron-left {
	@extend %svg-common;
	background-position: 62.653448337568456% 0;
}

.svg-icons--chevron-left-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-right {
	@extend %svg-common;
	background-position: 62.653448337568456% 24.528301886792452%;
}

.svg-icons--chevron-right-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-top {
	@extend %svg-common;
	background-position: 38.51851851851852% 56.22148954428435%;
}

.svg-icons--chevron-top-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--circle-check {
	@extend %svg-common;
	background-position: 80.61111111111111% 0;
}

.svg-icons--circle-check-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--circle-x {
	@extend %svg-common;
	background-position: 80.61111111111111% 24.528301886792452%;
}

.svg-icons--circle-x-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--download {
	@extend %svg-common;
	background-position: 18.705035971223023% 98.36818181818182%;
}

.svg-icons--download-dims {
	width: 44px;
	height: 44px;
}

.svg-icons--download-white {
	@extend %svg-common;
	background-position: 34.40860215053763% 97.04484304932735%;
}

.svg-icons--download-white-dims {
	width: 43px;
	height: 41px;
}

.svg-icons--external-link {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icons--external-link-dims {
	width: 51.06px;
	height: 52px;
}

.svg-icons--guidance {
	@extend %svg-common;
	background-position: 70.20547945205479% 95.33480176211454%;
}

.svg-icons--guidance-dims {
	width: 30px;
	height: 37px;
}

.svg-icons--guidance-white {
	@extend %svg-common;
	background-position: 59.93150684931507% 95.33480176211454%;
}

.svg-icons--guidance-white-dims {
	width: 30px;
	height: 37px;
}

.svg-icons--icons--definition-arrow {
	@extend %svg-common;
	background-position: 48.6013986013986% 95.33480176211454%;
}

.svg-icons--icons--definition-arrow-dims {
	width: 36px;
	height: 37px;
}

.svg-icons--info {
	@extend %svg-common;
	background-position: 61.411632638742724% 49.056603773584904%;
}

.svg-icons--info-dims {
	width: 36.94px;
	height: 52px;
}

.svg-icons--info-circle {
	@extend %svg-common;
	background-position: 99.87037037037035% 0;
}

.svg-icons--info-circle-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--lock {
	@extend %svg-common;
	background-position: 95.81423444551041% 88%;
}

.svg-icons--lock-dims {
	width: 40.57px;
	height: 44px;
}

.svg-icons--phone {
	@extend %svg-common;
	background-position: 48.62237762237762% 22.80701754385965%;
}

.svg-icons--phone-dims {
	width: 36px;
	height: 36px;
}

.svg-icons--right-arrow {
	@extend %svg-common;
	background-position: 95.41417501149994% 36.95754716981131%;
}

.svg-icons--right-arrow-dims {
	width: 39.39px;
	height: 52px;
}

.svg-logo {
	@extend %svg-common;
	background-position: 99.87037037037035% 21.880917315379758%;
}

.svg-logo-dims {
	width: 52px;
	height: 26.35px;
}

.svg-logo-crest {
	@extend %svg-common;
	background-position: 0 99.69595061500898%;
}

.svg-logo-crest-dims {
	width: 52px;
	height: 46.93px;
}

.svg-logo-cy {
	@extend %svg-common;
	background-position: 38.51851851851852% 37.01522671826365%;
}

.svg-logo-cy-dims {
	width: 52px;
	height: 26.26px;
}

.svg-logo-en {
	@extend %svg-common;
	background-position: 19.25925925925926% 72.07585592465317%;
}

.svg-logo-en-dims {
	width: 52px;
	height: 28.29px;
}

.svg-logo-english-reversed {
	@extend %svg-common;
	background-position: 80.61111111111111% 54.93195841433521%;
}

.svg-logo-english-reversed-dims {
	width: 52px;
	height: 27.38px;
}

.svg-logo-welsh-reversed {
	@extend %svg-common;
	background-position: 80.61111111111111% 43.69380724308881%;
}

.svg-logo-welsh-reversed-dims {
	width: 52px;
	height: 25.98px;
}

.svg-ons-logo-black {
	@extend %svg-common;
	background-position: 19.25925925925926% 37.0183409052667%;
}

.svg-ons-logo-black-dims {
	width: 52px;
	height: 26.28px;
}

.svg-ons-logo-colour {
	@extend %svg-common;
	background-position: 99.87037037037035% 54.82649842271293%;
}

.svg-ons-logo-colour-dims {
	width: 52px;
	height: 26.25px;
}

