%svg-common {
	background: url("img/sprite.svg") no-repeat;
}

.svg-census-hero-banner {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-census-hero-banner-dims {
	width: 52px;
	height: 28.48px;
}

.svg-census-letter {
	@extend %svg-common;
	background-position: 18.571428571428573% 34.97540311560535%;
}

.svg-census-letter-dims {
	width: 52px;
	height: 36.28px;
}

.svg-census-logo {
	@extend %svg-common;
	background-position: 0 9.442344672103971%;
}

.svg-census-logo-dims {
	width: 52px;
	height: 27.38px;
}

.svg-crest-logo {
	@extend %svg-common;
	background-position: 0 19.77485131690739%;
}

.svg-crest-logo-dims {
	width: 52px;
	height: 46.52px;
}

.svg-icons--caret-bottom {
	@extend %svg-common;
	background-position: 18.571428571428573% 19.064846416382252%;
}

.svg-icons--caret-bottom-dims {
	width: 52px;
	height: 36px;
}

.svg-icons--caret-left {
	@extend %svg-common;
	background-position: 35.13513513513514% 0;
}

.svg-icons--caret-left-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-right {
	@extend %svg-common;
	background-position: 47.2972972972973% 0;
}

.svg-icons--caret-right-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-top {
	@extend %svg-common;
	background-position: 0 34.99931628606591%;
}

.svg-icons--caret-top-dims {
	width: 52px;
	height: 36.48px;
}

.svg-icons--census-logo-en {
	@extend %svg-common;
	background-position: 18.571428571428573% 9.40492701935143%;
}

.svg-icons--census-logo-en-dims {
	width: 52px;
	height: 26.18px;
}

.svg-icons--check {
	@extend %svg-common;
	background-position: 62.857142857142854% 0;
}

.svg-icons--check-dims {
	width: 52px;
	height: 45.41px;
}

.svg-icons--chevron-bottom {
	@extend %svg-common;
	background-position: 62.857142857142854% 15.854893334729935%;
}

.svg-icons--chevron-bottom-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--chevron-down {
	@extend %svg-common;
	background-position: 98.93992932862191% 42.64041095890411%;
}

.svg-icons--chevron-down-dims {
	width: 49px;
	height: 37px;
}

.svg-icons--chevron-left {
	@extend %svg-common;
	background-position: 0 50.12996389891696%;
}

.svg-icons--chevron-left-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-right {
	@extend %svg-common;
	background-position: 14.71614664317059% 50.12996389891696%;
}

.svg-icons--chevron-right-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-top {
	@extend %svg-common;
	background-position: 30.42142857142857% 48.48294403128382%;
}

.svg-icons--chevron-top-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--circle-check {
	@extend %svg-common;
	background-position: 81.42857142857143% 0;
}

.svg-icons--circle-check-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--circle-x {
	@extend %svg-common;
	background-position: 81.42857142857143% 18.772563176895307%;
}

.svg-icons--circle-x-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--download {
	@extend %svg-common;
	background-position: 0 85.2140350877193%;
}

.svg-icons--download-dims {
	width: 44px;
	height: 44px;
}

.svg-icons--download-white {
	@extend %svg-common;
	background-position: 15.22491349480969% 84.32638888888889%;
}

.svg-icons--download-white-dims {
	width: 43px;
	height: 41px;
}

.svg-icons--external-link {
	@extend %svg-common;
	background-position: 0 68.90252707581227%;
}

.svg-icons--external-link-dims {
	width: 51.06px;
	height: 52px;
}

.svg-icons--guidance {
	@extend %svg-common;
	background-position: 41.390728476821195% 83.17123287671232%;
}

.svg-icons--guidance-dims {
	width: 30px;
	height: 37px;
}

.svg-icons--guidance-white {
	@extend %svg-common;
	background-position: 34.437086092715234% 17.80821917808219%;
}

.svg-icons--guidance-white-dims {
	width: 30px;
	height: 37px;
}

.svg-icons--icons--check {
	@extend %svg-common;
	background-position: 95.89041095890411% 70.13993174061433%;
}

.svg-icons--icons--check-dims {
	width: 40px;
	height: 36px;
}

.svg-icons--icons--definition-arrow {
	@extend %svg-common;
	background-position: 47.2972972972973% 17.80821917808219%;
}

.svg-icons--icons--definition-arrow-dims {
	width: 36px;
	height: 37px;
}

.svg-icons--icons--guidance {
	@extend %svg-common;
	background-position: 17.850026219192447% 68.90252707581227%;
}

.svg-icons--icons--guidance-dims {
	width: 45.95px;
	height: 52px;
}

.svg-icons--icons--guidance-darkblue {
	@extend %svg-common;
	background-position: 33.913651459535046% 68.90252707581227%;
}

.svg-icons--icons--guidance-darkblue-dims {
	width: 45.95px;
	height: 52px;
}

.svg-icons--icons--guidance-white {
	@extend %svg-common;
	background-position: 49.97727669987764% 68.90252707581227%;
}

.svg-icons--icons--guidance-white-dims {
	width: 45.95px;
	height: 52px;
}

.svg-icons--info {
	@extend %svg-common;
	background-position: 64.02426625093203% 68.90252707581227%;
}

.svg-icons--info-dims {
	width: 36.94px;
	height: 52px;
}

.svg-icons--info-circle {
	@extend %svg-common;
	background-position: 80.66071428571429% 68.90252707581227%;
}

.svg-icons--info-circle-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--lock {
	@extend %svg-common;
	background-position: 96.07796040215489% 56.670175438596495%;
}

.svg-icons--lock-dims {
	width: 40.57px;
	height: 44px;
}

.svg-icons--lockicon {
	@extend %svg-common;
	background-position: 0 99.95121951219512%;
}

.svg-icons--lockicon-dims {
	width: 38px;
	height: 42px;
}

.svg-icons--person {
	@extend %svg-common;
	background-position: 29.591836734693878% 83.45704467353951%;
}

.svg-icons--person-dims {
	width: 38px;
	height: 38px;
}

.svg-icons--phone {
	@extend %svg-common;
	background-position: 52.36486486486486% 82.88737201365188%;
}

.svg-icons--phone-dims {
	width: 36px;
	height: 36px;
}

.svg-icons--right-arrow {
	@extend %svg-common;
	background-position: 95.69050955196336% 26.1768953068592%;
}

.svg-icons--right-arrow-dims {
	width: 39.39px;
	height: 52px;
}

.svg-logo {
	@extend %svg-common;
	background-position: 100% 15.251941186188668%;
}

.svg-logo-dims {
	width: 52px;
	height: 26.35px;
}

.svg-logo-crest {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-logo-crest-dims {
	width: 52px;
	height: 46.16px;
}

.svg-logo-cy {
	@extend %svg-common;
	background-position: 48.99285714285714% 45.86774129616172%;
}

.svg-logo-cy-dims {
	width: 52px;
	height: 26.26px;
}

.svg-logo-en {
	@extend %svg-common;
	background-position: 37.142857142857146% 34.04609091816035%;
}

.svg-logo-en-dims {
	width: 52px;
	height: 28.29px;
}

.svg-logo-english-reversed {
	@extend %svg-common;
	background-position: 81.42857142857143% 51.80690935614349%;
}

.svg-logo-english-reversed-dims {
	width: 52px;
	height: 27.38px;
}

.svg-logo-welsh-reversed {
	@extend %svg-common;
	background-position: 81.42857142857143% 42.99386179130091%;
}

.svg-logo-welsh-reversed-dims {
	width: 52px;
	height: 25.98px;
}

.svg-ons-logo-black {
	@extend %svg-common;
	background-position: 81.42857142857143% 34.35517970401691%;
}

.svg-ons-logo-black-dims {
	width: 52px;
	height: 26.28px;
}

.svg-ons-logo-colour {
	@extend %svg-common;
	background-position: 62.857142857142854% 29.066886870355077%;
}

.svg-ons-logo-colour-dims {
	width: 52px;
	height: 26.25px;
}

.svg-ons-logo-stacked {
	@extend %svg-common;
	background-position: 18.571428571428573% 0;
}

.svg-ons-logo-stacked-dims {
	width: 52px;
	height: 26.25px;
}

