---
title: Individual Questionnaire
subtitle: England
project: 2017 Census wave 3
globalcss: false
---

{% include survey-header-census.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="">Previous</a><br/><br/>
        <form class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number question__title__number--census venus">2</span> Individual questions</h2>
                <div class="question question--radios">
                  <h3 class="question__title neptune"><span class="question__title__number venus">2.25</span>One year ago, what was your usual address?</h3>
                  <div class="question__responses">
                    <div class="response response--radio">
                      <div class="field field--multi field--radio">
                        <div class="field__item">
                          <input class="input input--radio" type="radio" name="q0" id="form-input-1" value="This-address" title="This address">
                          <label class="label label--inline" for="form-input-1"><span class="label__inner">This address</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--radio" type="radio" name="q0" id="form-input-2" value="Student" title="Student term time or boarding school address ithe UK">
                          <label class="label label--inline" for="form-input-2"><span class="label__inner">Student term time or boarding school address ithe UK</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--radio" type="radio" name="q0" id="form-input-3" value="Another" title="Another address in the UK">
                          <label class="label label--inline" for="form-input-3"><span class="label__inner">Another address in the UK</span></label>
                        </div>
                        <div class="field__item field__item--other">
                          <input class="input input--radio input--radio--change input--other" type="radio" name="q0" id="form-input-6" value="Outside" title="An address outside the UK">
                          <label class="label label--inline" for="form-input-6"><span class="label__inner mars">An address outside the UK</span></label>
                          <div class="field__item--other__text">
                            <span class="pluto">Please enter the country</span><br />
                            <input class="input input--text" type="text" value="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--census qa-btn-get-started venus" type="submit" name="">Save and continue</button><br/><br/>
          <a class="mars" href="">Save and complete later</a><br/><br/>
          <a class="mars" href="">Previous</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% include footer-census.html %}

<script>

$('.input--other').click(function(e) {
  if($(this).prop('checked')) {
    console.log("checked");
    $('.field__item--other__text').addClass('field__item--other__text--open');
  } else {
  $('.field__item--other__text').removeClass('field__item--other__text--open');
  }
});

$('.qa-btn-get-started').click(function(e) {
  e.preventDefault();
  var radioValue = $("input[name='q0']:checked"). val();
  sessionStorage.setItem('usualAddress', radioValue);
  if (sessionStorage.getItem('usualAddress') == 'This-address') {
    window.location.href = "../section-46";
  } else if (sessionStorage.getItem('usualAddress') == 'Another' || sessionStorage.getItem('usualAddress') == 'Outside') {
    window.location.href = "../section-45";
  } else {
    window.location.href = "../section-44";
  }
});
</script>
