---
title: Individual Questionnaire v1
subtitle: England
project: 2017 Census wave 3
globalcss: false
---

{% include survey-header-census.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="">Previous</a><br/><br/>
        <form class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number question__title__number--census venus">2</span> Individual questions</h2>
                <div class="question question--checkboxs">
                  <h3 class="question__title neptune"><span class="question__title__number venus">2.30</span>Which qualifications, do you have?</h3>
                  <div class="question__description">
                    <p class="mars">Select every option that applies (whether UK or foreign equivalent) if you have any of the qualifications listed.</p>
                  </div>
                  <div class="question__responses">
                    <div class="response response--checkbox">
                      <div class="field field--multi field--checkbox">
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-1" value="Over five GCSEs (grades A-Star to C) or O-Levels (passes) or CSEs (grade 1), School Certificate, Single A-Level, 2 to 3 AS-Levels or VCE’s, Higher Diploma" title="Over five GCSEs (grades A-Star to C) or O-Levels (passes) or CSEs (grade 1), School Certificate, Single A-Level, 2 to 3 AS-Levels or VCE’s, Higher Diploma">
                          <label class="label label--inline" for="form-input-1"><span class="label__inner">Over five GCSEs (grades A-Star to C) or O-Levels (passes) or CSEs (grade 1), School Certificate, Single A-Level, 2 to 3 AS-Levels or VCE’s, Higher Diploma</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-2" value="1 to 4 GCSEs or O-Levels or CSEs (any grades), Entry level, Foundation Diploma" title="1 to 4 GCSEs or O-Levels or CSEs (any grades), Entry level, Foundation Diploma">
                          <label class="label label--inline" for="form-input-2"><span class="label__inner">1 to 4 GCSEs or O-Levels or CSEs (any grades), Entry level, Foundation Diploma</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-3" value="Over 2 A-Levels, Over 4 AS-levels or VCEs, Higher School Certificate, Advanced Diploma" title="Over 2 A-Levels, Over 4 AS-levels or VCEs, Higher School Certificate, Advanced Diploma">
                          <label class="label label--inline" for="form-input-3"><span class="label__inner">Over 2 A-Levels, Over 4 AS-levels or VCEs, Higher School Certificate, Advanced Diploma</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-4" value="Apprenticeship (trade, advanced, foundation or modern)" title="Apprenticeship (trade, advanced, foundation or modern)">
                          <label class="label label--inline" for="form-input-4"><span class="label__inner">Apprenticeship (trade, advanced, foundation or modern)</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-5" value="NVQ level one, Foundation GNVQ, Basic Skills" title="NVQ level one, Foundation GNVQ, Basic Skills">
                          <label class="label label--inline" for="form-input-5"><span class="label__inner">NVQ level one, Foundation GNVQ, Basic Skills</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-6" value="NVQ level two, Intermediate GNVQ, City and Guilds Craft, BTEC First, RSA Diploma" title="NVQ level two, Intermediate GNVQ, City and Guilds Craft, BTEC First, RSA Diploma">
                          <label class="label label--inline" for="form-input-6"><span class="label__inner">NVQ level two, Intermediate GNVQ, City and Guilds Craft, BTEC First, RSA Diploma</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-7" value="NVQ Level three, Advanced GNVQ, City and Guilds Advanced Craft, ONC, OND, BTEC National, RSA Advanced Diploma" title="NVQ Level three, Advanced GNVQ, City and Guilds Advanced Craft, ONC, OND, BTEC National, RSA Advanced Diploma">
                          <label class="label label--inline" for="form-input-7"><span class="label__inner">NVQ Level three, Advanced GNVQ, City and Guilds Advanced Craft, ONC, OND, BTEC National, RSA Advanced Diploma</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-8" value="NVQ Level four to five, HNC, HND, RSA Higher Diploma, BTEC Higher, Foundation degree" title="NVQ Level four to five, HNC, HND, RSA Higher Diploma, BTEC Higher, Foundation degree">
                          <label class="label label--inline" for="form-input-8"><span class="label__inner">NVQ Level four to five, HNC, HND, RSA Higher Diploma, BTEC Higher, Foundation degree</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-9" value="Other vocational or work-related qualifications" title="Other vocational or work-related qualifications">
                          <label class="label label--inline" for="form-input-9"><span class="label__inner">Other vocational or work-related qualifications</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-10" value="Undergraduate Degree" title="Undergraduate Degree">
                          <label class="label label--inline" for="form-input-10"><span class="label__inner">Undergraduate Degree</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-11" value="Postgraduate Certificate/Diploma" title="Postgraduate Certificate/Diploma">
                          <label class="label label--inline" for="form-input-11"><span class="label__inner">Postgraduate Certificate/Diploma</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-12" value="Masters Degree" title="Masters Degree">
                          <label class="label label--inline" for="form-input-12"><span class="label__inner">Masters Degree</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-13" value="Doctorate Degree (for example PhD)" title="Doctorate Degree (for example PhD)">
                          <label class="label label--inline" for="form-input-13"><span class="label__inner">Doctorate Degree (for example PhD)</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-14" value="Professional qualification (for example teaching, nursing, accountancy)" title="Professional qualification (for example teaching, nursing, accountancy)">
                          <label class="label label--inline" for="form-input-14"><span class="label__inner">Professional qualification (for example teaching, nursing, accountancy)</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-15" value="Foreign qualifications (UK equivalent not known)" title="Foreign qualifications (UK equivalent not known)">
                          <label class="label label--inline" for="form-input-15"><span class="label__inner">Foreign qualifications (UK equivalent not known)</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--checkbox" type="checkbox" name="q0" id="form-input-16" value="No qualification" title="No qualification">
                          <label class="label label--inline" for="form-input-16"><span class="label__inner">No qualification</span></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--census qa-btn-get-started venus" type="submit" name="">Save and continue</button><br/><br/>
          <a class="mars" href="">Save and complete later</a><br/><br/>
          <a class="mars" href="">Previous</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% include footer-census.html %}

<script>

$('.input--other').click(function(e) {
  if($(this).prop('checked')) {
    console.log("checked");
    $('.field__item--other__text').addClass('field__item--other__text--open');
  } else {
  $('.field__item--other__text').removeClass('field__item--other__text--open');
  }
});

$('.qa-btn-get-started').click(function(e) {
  e.preventDefault();
  var radioValue = $("input[name='q0']:checked"). val();
  sessionStorage.setItem('qualifications', radioValue);
  window.location.href = "../section-48a";
});
</script>
