---
title: Household Questionnaire
subtitle: England
project: 2017 Census lite
globalcss: false
---

{% include survey-header-census.html %}
<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="">Previous</a><br/><br/>


        <div class="section__description">
          <h3 class="section__title saturn">You have completed:</h3>
          <ul class="interstitial">
            <li class="complete mars">
            <a href="../section-1">Accommodation</a>
            </li>
          </ul>
          <h3 class="question__title saturn">Next section:</h3>
          <ul class="">
            <li class="mars">
              <a href="../section-20">Individual questions</a>
            </li>
          </ul>
          <span class="mars">In this section  we are going to ask you details about yourself. If you are filling in this questionnaire for someone else make sure their details are submitted and not yours.</span>
        </div>

        <br/><br/>
        <button class="btn btn--census qa-btn-get-started venus" type="submit" name="">Save and continue</button><br/><br/>
        <a class="mars" href="">Save and complete later</a><br/><br/>
        <a class="mars" href="">Previous</a>

      </div>
    </div>
  </div>
</div>

{% include footer-census.html %}

<script>

$('.qa-btn-get-started').click(function(e) {
  e.preventDefault();
  window.location.href = "../section-20";
});

</script>
