---
title: Individual Questionnaire
subtitle: England
project: 2017 Census wave 3
globalcss: false
---

{% include survey-header-census.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="">Previous</a><br/><br/>
        <form class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number question__title__number--census venus">3</span> Individual questions</h2>
                <div class="question question--radios">
                  <h3 class="question__title neptune"><span class="question__title__number venus">3.16</span>How would you describe your ethnic group?</h3>
                  <div class="question__responses">
                    <div class="response response--radio">
                      <div class="field field--multi field--radio">
                        <div class="field__item">
                          <input class="input input--radio" type="radio" name="q0" id="form-input-1" value="White" title="White">
                          <label class="label label--inline" for="form-input-1"><span class="label__inner">White</span><span class="input--description pluto">Including English, Welsh, Scottish, Northern Irish, British, Gypsy or Irish Traveller</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--radio" type="radio" name="q0" id="form-input-2" value="Mixed" title="Mixed or multiple ethnic groups">
                          <label class="label label--inline" for="form-input-2"><span class="label__inner">Mixed or multiple ethnic groups</span><span class="input--description pluto">Including White and Black Caribbean, White and Black African or White and Asian</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--radio" type="radio" name="q0" id="form-input-3" value="Asian" title="Asian or Asian British">
                          <label class="label label--inline" for="form-input-3"><span class="label__inner">Asian or Asian British</span><br/><span class="input--description pluto">Including Indian, Pakistani, Bangladeshi or Chinese</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--radio" type="radio" name="q0" id="form-input-4" value="Black" title="Black, African, Caribbean or Black British">
                          <label class="label label--inline" for="form-input-4"><span class="label__inner">Black, African, Caribbean or Black British</span></label>
                        </div>
                        <div class="field__item">
                          <input class="input input--radio" type="radio" name="q0" id="form-input-5" value="Other" title="Other">
                          <label class="label label--inline" for="form-input-5"><span class="label__inner">Other ethnic group</span></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--census qa-btn-get-started venus" type="submit" name="">Save and continue</button><br/><br/>
          <a class="mars" href="">Save and complete later</a><br/><br/>
          <a class="mars" href="">Previous</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% include footer-census.html %}

<script>


$('.input--other').click(function(e) {
  if($(this).prop('checked')) {
    console.log("checked");
    $('.field__item--other__text').addClass('field__item--other__text--open');
  } else {
  $('.field__item--other__text').removeClass('field__item--other__text--open');
  }
});

$('.qa-btn-get-started').click(function(e) {
  e.preventDefault();
  var radioValue = $("input[name='q0']:checked"). val();
  sessionStorage.setItem('ethnicGroup', radioValue);
  if (sessionStorage.getItem('ethnicGroup') == 'Mixed') {
    window.location.href = "../section-36";
  } else if (sessionStorage.getItem('ethnicGroup') == 'Asian') {
    window.location.href = "../section-37";
  } else if (sessionStorage.getItem('ethnicGroup') == 'Black') {
    window.location.href = "../section-38";
  } else if (sessionStorage.getItem('ethnicGroup') == 'Other') {
    window.location.href = "../section-38b";
  } else {
    window.location.href = "../section-35";
  }
});
</script>
