---
title: Household relationships
project: your-household
globalcss: false
householdMembers:
visitors:
---

<link rel="stylesheet"
      href="{{ '/css/census-header-footer.css' | prepend: site.baseurl }}"/>
<link rel="stylesheet" href="../style.css"/>
<header class="page__header">
    {% include bar.html %}
    {% include header-census.html %}
</header>

<div class="page__subheader">
    <div class="container">
        <a class="mars" href="../relationships">Previous</a>
    </div>
</div>

<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
            {% include navigation.html
            items=site.data.your-household.navigationItemsRelationships
            nav-title-id="section-address" %}
            {% include navigation.html items=page.householdMembers
            title="Household members" nav-id="navigation-household-members" %}
            {% include navigation.html items=page.visitors title="Visitors"
            nav-id="navigation-visitors" %}
        </div>
        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">
                <form name="trav" class="form qa-questionnaire-form" role="form"
                      autocomplete="off" novalidate="">
                    <div class="group">
                        <div class="block">
                            <section class="section">
                                <h1 class="question__title saturn">Household
                                    relationships</h1>

                                <div class="panel panel--simple panel--success"
                                     id="question-guidance-everyone-at-address-confirmation-question">
                                    <strong class="u-mb-s">This section is now
                                        complete</strong>
                                    <ul class="mars"
                                        style="list-style: none;padding: 0; margin-bottom: 0">
                                        <li>You can check your answers below
                                        </li>
                                    </ul>
                                </div>
                                <br/>


                                <div id="household-relationships-summary"></div>


                                <div>
                                    Rob and Jane are married
                                </div>

                                <!--
                                    'Rob and Jane are parents to Jon, David
                                    and Sally'
                                    Is separate relationship description,
                                    dependent on the 2 common parents, only
                                    grouped like this if they share parents.
                                -->
                                <div>
                                    Rob and Jane are the parents of Jon, David
                                    and Sally
                                </div>

                                <!--
                                    1 parent to 2 children

                                    Step-father relationship for Gareth and
                                    Andrew to Rob is inferred

                                    Half-sibling relationships for Gareth and
                                    Andrew to Jon, David and Sally is inferred

                                    Step-child relationships for Emily to
                                    Gareth and Andrew inferred
                                -->
                                <div>
                                    Jane is the parent of Gareth and Andrew
                                </div>

                                <!--
                                    1 parent to 1 child

                                    Step-mother relationship for Emily to Jane
                                    is inferred

                                    Half-sibling relationships for Emily to Jon,
                                    David, Sally is inferred

                                    Step-child relationships for Emily to
                                    Gareth and Andrew inferred (already defined
                                    above)
                                -->
                                <div>
                                    Rob is the parent of Emily
                                </div>
                            </section>
                        </div>
                    </div>
                    <button class="btn btn--primary btn--lg qa-btn-submit venus"
                            type="submit" name="">Continue
                    </button>
                </form>
            </main>
        </div>
    </div>
</div>


<ul style="display:none;">
    <li id="relationship-record-template" class="list__item">
        <div class="list__item-actions u-fr">
            <span class="list__item-action">
                <a class="js-record-edit" href="#">Change</a>
            </span>
        </div>
        <span class="list__item-name">
            <span class="js-relationship-description"></span>
        </span>
    </li>
</ul>

<div style="display:none;">
    <div id="relationship-record-list-template">
        <ul class="list list--records list--bare u-mb-l js-records"></ul>
    </div>
</div>

<!--<ul style="display:none;">
    <li id="relationship-record-template" class="list__item">
        <span class="list__item-name">
            <strong class="js-relationship-description"></strong> to
            <span class="js-person-to-name"></span>
        </span>
        <div class="list__item-actions u-fr">
            <span class="list__item-action">
                <a class="js-record-edit" href="#">Change</a>
            </span>
        </div>
    </li>
</ul>

<div style="display:none;">
    <div id="relationship-record-list-template">
        <h2 class="neptune js-record-list-heading"></h2>
        <ul class="list list&#45;&#45;records list&#45;&#45;bare u-mb-l js-records"></ul>
    </div>
</div>-->

<script src='/js/compiled/standard-bundle.js'></script>
<script src='/js/compiled/your-household-v2/bundle.js'></script>

<style>
    .list.list--records {
        border-top: 1px solid #ccc;
    }

    .list.list--records .list__item {
        margin-bottom: 0;
        padding: 1rem 0;
        border-bottom: 1px solid #ccc;
    }
</style>

<script>
  var storageAPI = window.ONS.storage;

  function createRecord(summary) {
    var $nodeEl = $('#relationship-record-template').clone();

    $nodeEl.find('.js-relationship-description').html(summary);

    return $nodeEl;
  }

  function createRecordList() {
    var $nodeEl = $('#relationship-record-list-template').clone();

    $nodeEl.attr('id', '');

    return $nodeEl;
  }

  function updateRecords() {
    var allRelationships = storageAPI.getAllRelationships(),
      relationshipIdsToExplain = allRelationships
        .filter(function(relationship) { return !relationship.inferred; })
        .map(function(relationship) { return relationship.id; }),
      lines = [],
      recordList = createRecordList(),
      sharedParentsViewModelHistory = [];

    $('#household-relationships-summary').html();

    function relationshipExplained(relationship) {
      relationshipIdsToExplain.splice(relationshipIdsToExplain.indexOf(relationship.id), 1);
    }

    console.log('Explained: ', relationshipIdsToExplain);

    /**
     * Make relationships are sorted by household member entry order
     */
    $.each(storageAPI.getAllHouseholdMembers(), function (i, member) {
      var memberRelationships = allRelationships
        .filter(function(relationship) {
          return storageAPI.isInRelationship(
            member['@person'].id,
            relationship
          );
        });

      /**
       * Guard
       */
      if (!memberRelationships.length) {
        return;
      }

      /**
       * For each member relationship,
       * 1. Find all partner-type relationships
       * 2. Find all children with partner(s) if found
       * 3. Find all children as a single parent
       * 4. Find all other relationship
       */
      $.each(memberRelationships, function (i, relationship) {

        /**
         * Guard
         * Don't do anything if relationship is explained
         */
        if (relationshipIdsToExplain.indexOf(relationship.id) === -1) {
          return;
        }

        var relationshipType = storageAPI
            .relationshipDescriptionMap[relationship.personIsDescription].type,

          relationshipTypeId = relationshipType.id,

          relationshipDescription = storageAPI
            .relationshipDescriptionMap[relationship.personIsDescription],

          personIs = storageAPI
            .getHouseholdMemberByPersonId(relationship.personIsId)['@person'],

          personTo = storageAPI
            .getHouseholdMemberByPersonId(relationship.personToId)['@person'];

        if (relationshipTypeId === 'spouse' ||
          relationshipTypeId === 'partner') {

          lines.push(storageAPI.relationshipSummaryTemplates['partnership'](
            personIs.fullName,
            personTo.fullName,
            relationshipDescription.summaryAdjective
          ));

          relationshipExplained(relationship);
        }
        else if (relationship.personIsDescription === 'mother-father') {






          /**
           * Shared children relationships with personIs parent
           * Example: [
           *    {
           *        parent1: 1
           *        parent2: 2,
           *        children: []
           *    }
           * ]
           */
          var viewModel = [];

          /**
           * Get all the relationships that have children of personIs
           */
          var personIsChildrenRelationships = memberRelationships
            .filter(storageAPI.isAParentInRelationship.bind(null,
              personIs.id)),

            personIsChildrenIds = personIsChildrenRelationships
              .map(function (relationship) {
                return storageAPI.getChildIdFromRelationship(relationship);
              }),

            /**
             * Find all children from personIs relationships
             */
            personIsChildren = personIsChildrenIds.map(function (id) {
              return storageAPI.getHouseholdMemberByPersonId(id)['@person'];
            }),

            childrenIdsToExplain = $.merge([], personIsChildrenIds);

          console.log('=', relationship.id + '. ' +
            personIs.fullName + ': ',
            'personIsId:' + relationship.personIsId + ' ',
            personIsChildrenRelationships);

          /**
           * Find relationships with other parents of these children
           */
          var filtered = allRelationships
            .filter(
              storageAPI.areAnyChildrenInRelationshipNotParent.bind(null, personIsChildrenIds, personIs.id)
            )
            .filter(function (relationship) {
			var parentIdFromRelationship = storageAPI
				.getParentIdFromRelationship(relationship);

            /**
             * Guard
             * Check if shared parent relationship has already been explained before creating a new viewModel
             */
            var existing = _.find(sharedParentsViewModelHistory, function (vModel) {
              return _.difference(
                  [vModel.parent1, vModel.parent2],
                  [parentIdFromRelationship, personIs.id]
              ).length === 0;
            });

            return !existing;
          });

          console.log('filtered', filtered);

          /**
           * Create view-model items to render lines of summaries
           */
          $.each(filtered,
            function (i, relationship) {
          	  var parentIdFromRelationship = storageAPI
                .getParentIdFromRelationship(relationship);

          	  console.log('history', sharedParentsViewModelHistory);

              prettyLogRelationship(relationship);

              /**
               * Check if parentId already exists in viewModel
               * If if does, this becomes the product, else create new product
               */
              var item = _.find(viewModel, function (line) {
                return line.parent2 === parentIdFromRelationship;
              });

              if(!item) {
                item = {
                  parent1: personIs.id,
                  parent2: storageAPI.getParentIdFromRelationship(relationship),
                  children: []
                };

                viewModel.push(item);
                sharedParentsViewModelHistory.push(item);
              }

              var childId = storageAPI.getChildIdFromRelationship(relationship);

              removeFromList(childrenIdsToExplain, childId);

              /**
               * Add child to viewModel
               */
              item.children
                .push(personIsChildren[personIsChildrenIds.indexOf(childId)]);

              /**
               * Explain other shared parent relationships
               */
              relationshipExplained(relationship);
            }
          );

          console.log('viewModel', viewModel);

          /**
           * Create lines for two parents of (shared parenthood)
           */
          $.each(viewModel, function (i, line) {
            lines.push(storageAPI.relationshipSummaryTemplates['twoFamilyMembersToMany'](
              personIs.fullName,
              storageAPI.getHouseholdMemberByPersonId(line.parent2)['@person'].fullName,
              line.children.map(function(child) { return child.fullName; }),
              storageAPI.relationshipDescriptionMap[relationship.personIsDescription]
                .summaryAdjective + 's'
            ));
          });

          /**
           * If there are remaining children without a shared parent relationship
           * create line for one parent of
           */
          if(childrenIdsToExplain.length) {
          	/**
             * Check children haven't already been explained in sharedParentHistory
             */
          	var explainedChildrenFromHistory =
                _.uniq(
				    _.flatten(sharedParentsViewModelHistory.map(function (vModel) {
                        return vModel.children.map(function (child) { return child.id; });
          	        }))
                );

            var remainingChildrenNames = childrenIdsToExplain
              .filter(function (id) {
                return explainedChildrenFromHistory.indexOf(id) === -1;
              })
              .map(function (id) {
                return personIsChildren[personIsChildrenIds.indexOf(id)].fullName;
              });

            console.log('childrenIdsToExplain', remainingChildrenNames);

            lines.push(storageAPI.relationshipSummaryTemplates['oneFamilyMemberToMany'](
              personIs.fullName,
              remainingChildrenNames,
              storageAPI.relationshipDescriptionMap[relationship.personIsDescription]
                .summaryAdjective
            ));
          }

          /**
           * Explain all personIs child-parent relationships regardless of shared parenthood
           */
		  $.each(personIsChildrenRelationships, function (i, relationship) {
			relationshipExplained(relationship);
          });






        }
        else if (relationshipTypeId === 'sibling' ||
          relationshipTypeId === 'step-brother-sister' ||
          relationshipTypeId === 'other-relation' ||
          relationshipTypeId === 'unrelated') {

          /*var refinedRelationships =
            findAllRelationshipsByTypeId(memberRelationships, relationshipTypeId);*/

          //console.log('refinedRelationships', refinedRelationships);

          /**
           * Create mutual-relationship summary description
           */
          lines.push(storageAPI.relationshipSummaryTemplates['allMutual'](
            [personIs.fullName, personTo.fullName],
            relationship.personIsDescription
          ));

          relationshipExplained(relationship);

          /*$.each(refinedRelationships, function (relationship) {
            relationshipExplained(relationship);
          });*/
        }

        /**
         * Relationships not currently described:
         * child
         * step-parent
         * step-child
         * grandparent
         * grandchild
         */
      });
    });

    console.log('To explain: ', relationshipIdsToExplain);

    $.each(lines, function(i, line) {
      recordList.find('.js-records').append(createRecord(line));
    });

    $('#household-relationships-summary').append(recordList);
  }

  function removeFromList(list, val) {
    list.splice(list.indexOf(val), 1);
  }

  function prettyLogRelationship(relationship) {
    console.log(
      '==' +
      ' personIs: ', storageAPI
        .getHouseholdMemberByPersonId(relationship.personIsId)['@person'].fullName,
      ' ' + relationship.personIsId + ' ',
      ' personTo: ', storageAPI
        .getHouseholdMemberByPersonId(relationship.personToId)['@person'].fullName,
      ' ' + relationship.personToId + ' '
    );
  }

  function findAllRelationshipsByTypeId(relationships, relationshipTypeId) {
    return relationships
      .filter(function(relationship) {

        console.log('1', storageAPI
          .relationshipDescriptionMap[relationship.personIsDescription]);

        console.log('2', relationshipTypeId);

        return storageAPI
          .relationshipDescriptionMap[relationship.personIsDescription]
          .type.id === relationshipTypeId;
      });
  }

  $(updateRecords);
</script>
