---
title: Household relationships
project: your-household
globalcss: false
householdMembers:
visitors:
---

<link rel="stylesheet"
      href="{{ '/css/census-header-footer.css' | prepend: site.baseurl }}"/>
<link rel="stylesheet" href="../style.css"/>
<header class="page__header">
    {% include bar.html %}
    {% include header-census.html %}
</header>

<div class="page__subheader">
    <div class="container">
        <a class="mars" href="../relationships">Previous</a>
    </div>
</div>

<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
            {% include navigation.html
            items=site.data.your-household.navigationItemsRelationships
            nav-title-id="section-address" %}
            {% include navigation.html items=page.householdMembers
            title="Household members" nav-id="navigation-household-members" %}
            {% include navigation.html items=page.visitors title="Visitors"
            nav-id="navigation-visitors" %}
        </div>
        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">
                <form name="trav" class="form qa-questionnaire-form" role="form"
                      autocomplete="off" novalidate="">
                    <div class="group">
                        <div class="block">
                            <section class="section">
                                <h1 class="question__title saturn">Household
                                    relationships</h1>

                                <div class="panel panel--simple panel--success"
                                     id="question-guidance-everyone-at-address-confirmation-question">
                                    <strong class="u-mb-s">This section is now
                                        complete</strong>
                                    <ul class="mars"
                                        style="list-style: none;padding: 0; margin-bottom: 0">
                                        <li>You can check your answers below
                                        </li>
                                    </ul>
                                </div>
                                <br/>

                                <div id="household-relationships-summary"></div>
                            </section>
                        </div>
                    </div>
                    <button class="btn btn--primary btn--lg qa-btn-submit venus"
                            type="submit" name="">Continue
                    </button>
                </form>
            </main>
        </div>
    </div>
</div>


<ul style="display:none;">
    <li id="relationship-record-template" class="list__item">
        <!--<div class="list__item-actions u-fr">
            <span class="list__item-action">
                <a class="js-record-edit" href="#">Change</a>
            </span>
        </div>-->
        <span class="list__item-name">
            <span class="js-relationship-description"></span>
        </span>
    </li>
</ul>

<div style="display:none;">
    <div id="relationship-record-list-template">
        <ul class="list list--records list--bare u-mb-l js-records"></ul>
    </div>
</div>

<script src='/js/compiled/standard-bundle.js'></script>
<script src='/js/compiled/your-household-v2/bundle.js'></script>

<style>
    .list.list--records {
        border-top: 1px solid #ccc;
    }

    .list.list--records .list__item {
        margin-bottom: 0;
        padding: 1rem 0;
        border-bottom: 1px solid #ccc;
    }
</style>

<script>
  var storageAPI = window.ONS.storage,
	  utils = window.ONS.utils;

  function createRecord(summary) {
    var $nodeEl = $('#relationship-record-template').clone();

    $nodeEl.find('.js-relationship-description').html(summary);

    return $nodeEl;
  }

  function createRecordList() {
    var $nodeEl = $('#relationship-record-list-template').clone();

    $nodeEl.attr('id', '');

    return $nodeEl;
  }

  function updateRecords() {
    var allRelationships = storageAPI.getAllRelationships(),
      relationshipIdsToExplain = allRelationships
        .filter(function(relationship) { return !relationship.inferred; })
        .map(function(relationship) { return relationship.id; }),
      lines = [],
      recordList = createRecordList();

    $('#household-relationships-summary').html();

    console.log('To explain: ', [].concat(relationshipIdsToExplain));

    /**
     * Relationships sorted by household member entry order
     */
    $.each(storageAPI.getAllHouseholdMembers(), function (i, member) {
      var memberRelationships = allRelationships
        .filter(function(relationship) {
          return storageAPI.isInRelationship(
            member['@person'].id,
            relationship
          );
        });

      /**
       * Guard
       */
      if (!memberRelationships.length) {
        return;
      }

      /**
       * For each member relationship, - currently not strictly run in order
       * 1. Find all partner-type relationships
       * 2. Find all children with partner(s) if found
       * 3. Find all children as a single parent
       * 4. Find all other relationships
       */
      $.each(memberRelationships, function (i, relationship) {

        /**
         * Guard
         * Don't do anything if relationship is explained
         */
        if (relationshipIdsToExplain.indexOf(relationship.id) === -1) {
          return;
        }

        var relationshipType = storageAPI
            .relationshipDescriptionMap[relationship.personIsDescription].type,

          relationshipTypeId = relationshipType.id;

        var summaryLines = summaryStrategies[
          relationshipTypesToSummaryStrategyMap[relationshipTypeId]
          ](relationship, member['@person']);

        // console.log('Summary lines: ', summaryLines);

        lines = [].concat(lines, summaryLines.lines);

        $.each(summaryLines.relationshipsExplained,
          function (i, relationshipExplained) {
            utils.removeFromList(relationshipIdsToExplain, relationshipExplained.id);
          });
      });
    });

    console.log('Explained: ', relationshipIdsToExplain);

    $.each(lines, function(i, line) {
      recordList.find('.js-records').append(createRecord(line));
    });

    $('#household-relationships-summary').append(recordList);
  }

  function retrieveRelationshipInfo(relationship) {
    var personIs = storageAPI
        .getHouseholdMemberByPersonId(relationship.personIsId)['@person'],
      personTo = storageAPI
        .getHouseholdMemberByPersonId(relationship.personToId)['@person'],
      relationshipDescription = storageAPI
        .relationshipDescriptionMap[relationship.personIsDescription],
      relationshipType = relationshipDescription.type,
      relationshipTypeId = relationshipType.id;

    return {
      '@personIs': personIs,
      '@personTo': personTo,
      'relationshipDescription': relationshipDescription,
      'relationshipType': relationshipType,
      'relationshipTypeId': relationshipTypeId
    };
  }

  function partnershipSummary(relationship) {
    var relationshipInfo = retrieveRelationshipInfo(relationship);

    return {
      relationshipsExplained: [relationship],
      lines: [
        storageAPI.relationshipSummaryTemplates['partnership'](
          relationshipInfo['@personIs'].fullName,
          relationshipInfo['@personTo'].fullName,
          relationshipInfo['relationshipDescription'].summaryAdjective
        )
      ]
    };
  }

  function groupSummary(relationship) {
    var relationshipInfo = retrieveRelationshipInfo(relationship),

      groups = {
        'mutual': [],
        'remaining': []
      },

      personIsId = relationshipInfo['@personIs'].id,
      personToId = relationshipInfo['@personTo'].id,

      relationshipsExplained = [],
      relationshipsIdsExplained = [],
      lines = [],

      mutualGroups = groupSummary.getAllMutuallyExclusiveGroups();

    console.log('relationship', relationshipInfo);

    /**
     * Find mutual group match with personIsId & personToId
     */
    $.each(mutualGroups, function(i, groupsByType) {
      var found = _.find(groupsByType, function (group) {
        return group.indexOf(personIsId) !== -1 &&
          group.indexOf(personToId) !== -1;
      });

      if(found && !(explainedExclusiveGroups[i]
        .indexOf(groupsByType.indexOf(found)) !== -1)
      ) {
        explainedExclusiveGroups[i].push(groupsByType.indexOf(found));
        groups.mutual = found;
      }
    });

    $.each(groups.mutual, function (i, person1Id) {
      $.each(groups.mutual, function (o, person2Id) {
        var relationship = storageAPI.getRelationshipOf(person1Id, person2Id);

        /**
         * Guard
         */
        if (i === o || relationshipsIdsExplained.indexOf(relationship.id) !== -1) {
          return;
        }

        relationshipsIdsExplained.push(relationship.id);
        relationshipsExplained = relationshipsExplained.concat(relationship);
      });
    });

    if(groups.mutual.length) {
      lines.push(storageAPI.relationshipSummaryTemplates['allMutual'](
        groups.mutual.map(function (personId) {
          return storageAPI
            .getHouseholdMemberByPersonId(personId)['@person'].fullName;
        }),
        relationshipInfo['relationshipDescription'].summaryAdjective
      ));
    }
    else {

      /**
       * Needs rework for many to many relationships
       */
      relationshipsExplained = [relationship];

      lines.push(storageAPI.relationshipSummaryTemplates['allMutual'](
        [
          relationshipInfo['@personIs'].fullName,
          relationshipInfo['@personTo'].fullName
        ],
        relationshipInfo['relationshipDescription'].summaryAdjective
      ));
    }

    console.log('summaries: ', lines);
    console.log('relationshipsExplained: ', relationshipsExplained);
    console.log('mutual: ', groups.mutual);
    console.log('remaining: ', groups.remaining);
    console.log('=====');

    /**
     * 1. Find all mutual relationships
     * / Filter out inferred relationships
     *
     * / Find all filtered relationships with personIs
     * - For each other person in relationship find relationships with same
     * type and other people as personIs (Defining group scope for summary)
     * - Remove and store the differences between personIs relationships and
     * other person 'in scope' relationships
     *
     *
     * 2. Find all group to group relationships
     * - With remaining relationships...
     *
     * - For each other person in remaining relationship find relationships with
     * the same type (People can be out of scope of mutual relationships, the
     * only thing in common is the relationship type).
     * - For each new relationship found, check whether other people in
     * remaining relationships share the same type of relationship to new
     * person.
     *
     *       Are unrelated to
     * dave  <------------->  Jon
     * Emily <------------->  Mark
     * James <------------->  Emma
     *
     * Also, bi-directional arrows must cross for all members on opposing
     * groups.
     *
     */


    /**
     * Could default to writing out relationship manually?
     */

    return {
      relationshipsExplained: relationshipsExplained,
      lines: lines
    }
  }

  function getMemberRelationshipModelsByType(relationshipType) {
    return storageAPI.getAllHouseholdMembers()
      .map(function (member) {
        var personId = member['@person'].id;

        return {
          personId: personId,
          relationships:
            storageAPI.getAllManualRelationships()
              .filter(storageAPI.isRelationshipType.bind(null, relationshipType))
              .filter(storageAPI.isInRelationship.bind(null, personId))
        }
      })
  }

  /**
   * Mutually exclusive relationship groups in priority order
   */
  var exclusiveGroups = {
    'sibling': [],
    'step-brother-sister': [],
    'other-relation': [],
    'unrelated': []
  };

  var explainedExclusiveGroups = {
    'sibling': [],
    'step-brother-sister': [],
    'other-relation': [],
    'unrelated': []
  };

  groupSummary.getAllMutuallyExclusiveGroups = function () {
    if (groupSummary.allMutuallyExclusiveGroups) {
      return groupSummary.allMutuallyExclusiveGroups;
    }

    $.each(exclusiveGroups, function (relationshipType, group) {
      var peopleAlreadyAllocated = _.uniq(_.flatten(_.keys(exclusiveGroups)
        .map(function(k) {
          return exclusiveGroups[k];
        })));

      /**
       * Find all sibling group models first
       */
      var memberRelationshipsModels =
        getMemberRelationshipModelsByType(relationshipType);

      var memberPersonIdGroups = memberRelationshipsModels.map(function (model){
        var people = model.relationships.map(
          storageAPI.getOtherPersonIdFromRelationship.bind(null, model.personId)
        );

        if(people.length) {
          people.push(model.personId);
        }

        return people;
      });

      /**
       * Remove members already found in other mutual groups
       */
      var removedDuplicates = memberPersonIdGroups.map(function (group) {
        var nonDuplicates = group.filter(function (personId) {
          return peopleAlreadyAllocated.indexOf(personId) === -1;
        });

        return nonDuplicates;
      });

      var uniqueGroupsByType = removedDuplicates
        .reduce(function (accum, currentGroup) {
          var matchFound = false;

          $.each(accum, function (i, group) {
            if(!_.difference(currentGroup, group).length) {
              matchFound = true;
            }
          });

          if(!accum.length || !matchFound) {
            accum.push(currentGroup);
          }

          return accum;
        }, []);

      /**
       * Can only be one unrelated mutual group
       */
      if(relationshipType === 'unrelated') {
        uniqueGroupsByType = [_.intersection.apply(null, uniqueGroupsByType)];
      }

      exclusiveGroups[relationshipType] = uniqueGroupsByType;
    });

    groupSummary.allMutuallyExclusiveGroups = exclusiveGroups;

    return exclusiveGroups;
  };

  function familySingleSummary(relationship) {
    var relationshipInfo = retrieveRelationshipInfo(relationship);

    return {
      relationshipsExplained: [relationship],
      lines: [
        storageAPI.relationshipSummaryTemplates['oneFamilyMemberToMany'](
          relationshipInfo['@personIs'].fullName,
          [
            relationshipInfo['@personTo'].fullName
          ],
          relationshipInfo['relationshipDescription'].summaryAdjective
        )
      ]
    }
  }

  function familySummary(relationship) {
    var relationshipInfo = retrieveRelationshipInfo(relationship),

      relationshipsExplained =  [],

      lines = [],

      parent = storageAPI.getHouseholdMemberByPersonId(
        storageAPI.getParentIdFromRelationship(relationship)
      )['@person'],

      allRelationships = storageAPI.getAllRelationships(),

      memberRelationships = allRelationships.filter(function(relationship) {
        return storageAPI.isInRelationship(
          parent.id,
          relationship
        );
      }),

      personIsChildrenRelationships = memberRelationships
        .filter(storageAPI.isAParentInRelationship.bind(null, parent.id)),

      personIsChildrenIds = personIsChildrenRelationships
        .map(function (relationship) {
          return storageAPI.getChildIdFromRelationship(relationship);
        }),

      /**
       * Find all children from personIs relationships
       */
      personIsChildren = personIsChildrenIds.map(function (id) {
        return storageAPI.getHouseholdMemberByPersonId(id)['@person'];
      }),

      childrenIdsToExplain = $.merge([], personIsChildrenIds),

      otherSharedParentRelationships = allRelationships
        .filter(
          storageAPI.areAnyChildrenInRelationshipNotParent.bind(
            null, personIsChildrenIds, parent.id
          )
        )
        .filter(function (relationship) {
          var parentIdFromRelationship = storageAPI
            .getParentIdFromRelationship(relationship);

          /**
           * Guard
           * Check if shared parent relationship has already been explained before creating a new viewModel
           */
          var existing = _.find(familySummary.sharedParentsViewModelHistory,
            function (vModel) {

            return _.difference(
              [vModel.parent1, vModel.parent2],
              [parentIdFromRelationship, parent.id]
            ).length === 0;
          });

          return !existing;
        }),

      familyViewModelProduct = twoParentFamilyViewModelItems(
        otherSharedParentRelationships,
        parent
      ),

      /**
       * Shared children relationships with parent
       * Example: [
       *    {
       *        parent1: 1
       *        parent2: 2,
       *        children: []
       *    }
       * ]
       */
      viewModel = familyViewModelProduct.viewModel,
      viewModelChildrenIdsExplained = familyViewModelProduct.childIdsExplained;

    /**
     * Remove children explained in shared parent relationships
     */
    utils.removeFromList(childrenIdsToExplain, viewModelChildrenIdsExplained);

    /**
     * Add extra relationships explained in view-model to list
     */
    relationshipsExplained = relationshipsExplained
      .concat(familyViewModelProduct.relationshipsExplained);

    /**
     * Add parent relationships explained from viewModel
     * (Might belong in the above exported relationshipsExplained)
     */
    var parentRelationshipsExplained = storageAPI.getRelationshipsWithPersonIds(
      personIsChildrenRelationships,
      allFamilyViewModelChildren(viewModel)
    );

    if (parentRelationshipsExplained) {
      relationshipsExplained = relationshipsExplained
        .concat(parentRelationshipsExplained);
    }

    /**
     * Create lines for two parents of (shared parenthood)
     */
    $.each(viewModel, function (i, line) {
      lines.push(storageAPI.relationshipSummaryTemplates['twoFamilyMembersToMany'](
        parent.fullName,
        storageAPI.getHouseholdMemberByPersonId(line.parent2)['@person'].fullName,
        line.children.map(function(child) { return child.fullName; }),
        storageAPI.relationshipDescriptionMap['mother-father'].summaryAdjective + 's'
      ));
    });

    /**
     * If there are children remaining without a shared parent relationship
     * create a line for one parent of
     */
    if(childrenIdsToExplain.length) {

      (function () {

        /**
         * Check children haven't already been explained in sharedParentHistory
         */
        var explainedChildrenFromHistory = allFamilyViewModelChildren(
            familySummary.sharedParentsViewModelHistory
          ),

          remainingChildrenIds = childrenIdsToExplain
            .filter(function (id) {
              return explainedChildrenFromHistory.indexOf(id) === -1;
            }),

          remainingChildrenNames = remainingChildrenIds.map(function (id) {
            return personIsChildren[personIsChildrenIds.indexOf(id)].fullName;
          }),

          /**
           * Get associated relationships with parent for remaining relationships
           */
          remainingChildrenRelationships = storageAPI.getRelationshipsWithPersonIds(
            personIsChildrenRelationships,
            remainingChildrenIds
          );

        lines.push(storageAPI.relationshipSummaryTemplates['oneFamilyMemberToMany'](
          parent.fullName,
          remainingChildrenNames,

          /**
           * Force parent descripion for more efficient summary
           */
          storageAPI.relationshipDescriptionMap['mother-father'].summaryAdjective
        ));

        relationshipsExplained = relationshipsExplained
          .concat(remainingChildrenRelationships);

      }());
    }

    return {
      relationshipsExplained: relationshipsExplained,
      lines: lines
    };
  }

  /**
   * Cache of shared-parent view-models
   */
  familySummary.sharedParentsViewModelHistory = [];


  function allFamilyViewModelChildren(viewModel) {
    return _.uniq(
      _.flatten(viewModel.map(function(vModel) {
        return vModel.children.map(function (child) { return child.id; });
      }))
    );
  }

  /**
   * Create view-model items to render lines of summaries
   */
  function twoParentFamilyViewModelItems(relationships, withPerson) {
    var childIdsExplained = [],
      relationshipsExplained = [],
      viewModel = [];

    $.each(relationships,
      function (i, relationship) {
        var parentIdFromRelationship = storageAPI
          .getParentIdFromRelationship(relationship),
          childId;

        /**
         * Check if parentId already exists in viewModel
         * If if does, this becomes the item, else create new item
         */
        var item = _.find(viewModel, function (line) {
          return line.parent2 === parentIdFromRelationship;
        });

        if(!item) {
          item = {
            parent1: withPerson.id,
            parent2: parentIdFromRelationship,
            children: []
          };

          viewModel.push(item);
          familySummary.sharedParentsViewModelHistory.push(item);
        }

        childId = storageAPI.getChildIdFromRelationship(relationship);

        /**
         * Add child to viewModel
         */
        item.children
          .push(storageAPI.getHouseholdMemberByPersonId(childId)['@person']);

        childIdsExplained.push(childId);
        relationshipsExplained.push(relationship);
      }
    );

    return {
      viewModel: viewModel,
      childIdsExplained: childIdsExplained,
      relationshipsExplained: relationshipsExplained
    };
  }


  var relationshipTypesToSummaryStrategyMap = {
    'spouse':                   'partnership',
    'partner':                  'partnership',
    'child-parent':             'family',
    'sibling':                  'group',
    'step-brother-sister':      'group',
    'other-relation':           'group',
    'unrelated':                'group',
    'step-child-parent':        'family-single',
    'grandchild-grandparent':   'family-single'
  };

  /**
   * Strategy interface:
   * Parameters: relationship
   * Returns: {
   *   relationshipsExplained: [<relationship>],
   *   summarylines: [<string (HTML)>]
   * }
   */
  var summaryStrategies = {
    'partnership': partnershipSummary,
    'family': familySummary,
    'group': groupSummary,
    'family-single': familySingleSummary
  };

  $(updateRecords);
</script>
