---
title: Individual Questionnaire
subtitle: England
project: 2017 Census wave 3
globalcss: false
---

{% include survey-header-census.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="">Previous</a><br/><br/>
        <form class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn"><span class="section__title__number question__title__number--census venus">2</span> Individual questions</h2>
                <div class="question question--checkboxs">
                  <h3 class="question__title neptune"><span class="question__title__number venus">2.38</span>What is (was) your full and specific job title?</h3>
                  <div class="question__description">
                    <p class="mars">For example, Primary school teacher, car mechanic, district nurse, structural engineer</p>
                    <div class="box box--promo box--census">
                      <h3 class="venus">Exclude:</h3>
                      <ul>
                        <li>Your grade or pay band</li>
                      </ul>
                    </div>
                  </div>
                  <div class="question__responses">
                    <div class="response response--textfield">
                      <div class="field">
                        <label class="label venus" for="form-input-1">Job title</label>
                        <input class="input input--text" id="form-input-1" type="text" name="q0" value="" title="Number of visitors">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--census qa-btn-get-started venus" type="submit" name="">Save and continue</button><br/><br/>
          <a class="mars" href="">Save and complete later</a><br/><br/>
          <a class="mars" href="">Previous</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% include footer-census.html %}

<script>

$('.input--other').click(function(e) {
  if($(this).prop('checked')) {
    console.log("checked");
    $('.field__item--other__text').addClass('field__item--other__text--open');
  } else {
  $('.field__item--other__text').removeClass('field__item--other__text--open');
  }
});

$('.qa-btn-get-started').click(function(e) {
  e.preventDefault();
  var radioValue = $("input[name='q0']"). val();
  sessionStorage.setItem('jobTitle', radioValue);
  window.location.href = "../section-57";
});
</script>
