<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description"
          content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="apple-touch-icon" sizes="180x180"
          href="https://cdn.ons.gov.uk/sdc/0bceacd/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png"
          href="https://cdn.ons.gov.uk/sdc/0bceacd/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png"
          href="https://cdn.ons.gov.uk/sdc/0bceacd/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest"
          href="https://cdn.ons.gov.uk/sdc/0bceacd/favicons/manifest.json" />
    <link rel="mask-icon"
          href="https://cdn.ons.gov.uk/sdc/0bceacd/favicons/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="theme-color" content="#ffffff" />
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <script nonce="kcVw0uKOGxEcQS2i">document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->

    <!--[if (gt IE 9) | (IEMobile)]><!-->
    <link rel="stylesheet"
          href="https://cdn.ons.gov.uk/sdc/{% if page.cdn %}{{ page.cdn }}{% else %}v1.0.0{% endif %}/css/responsive.css" />
    <!--<![endif]-->
    <!--[if (lte IE 9) & (!IEMobile)]>
    <link rel="stylesheet"
          href="https://cdn.ons.gov.uk/sdc/{% if page.cdn %}{{ page.cdn }}{% else %}v1.0.0{% endif %}/css/fixed.css" />
    <![endif]-->

    <link rel='stylesheet prefetch'
          href='https://fonts.googleapis.com/css?family=Lato:300,400,600,700,900' />
    <link rel='stylesheet prefetch'
          href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css' />
    <script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
</head>
<body>
<div class="page">
    <div class="page__content">
        <div class="skip">
            <a class="skip__link" href="#main">Skip to content</a>
        </div>
        {{ content }}
    </div>
</div>

<script src="https://cdn.ons.gov.uk/sdc/{% if page.cdn %}{{ page.cdn }}{% else %}v1.0.0{% endif %}/scripts/bundle.min.js"></script>

</body>
</html>
