<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page">
      <div class="page__content">
        <div class="skip">
          <a class="skip__link" href="#main">Skip to content</a>
        </div>
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
    <!-- Uncomment for Loop 11 <script type="text/javascript">
      var loop11_key = "0104054b3b56d396b42e668dfe096cee161454a8";
      var l11_clientOptions = {"cookieDomain":".github.io"};
      document.write(unescape("%3cscript src='//cdn.loop11.com/my/loop11.js' type='text/javascript'%3e%3c/script%3e"));
    </script> -->
    {% if page.cdn %}
    <script src="https://cdn.ons.gov.uk/sdc/{{ page.cdn }}/scripts/bundle.min.js"></script>
    {% endif %}
  </body>
</html>
