<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="prototypes-home
no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="prototypes-home
no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="prototypes-home
no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="prototypes-home
no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr"> <!--<![endif]-->
  {% include head.html %}
  <body>
    <div class="page">
      <div class="page__content">
        {{ content }}
      </div>
      {% include footer-sdc.html %}
    </div>
  </body>
</html>
