---
title: Household Questionnaire
subtitle: England
project: 2017 Census wave 2
globalcss: false
---

{% include survey-header-census.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col col-8@s">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="">Previous</a><br/><br/>
        <form class="form qa-questionnaire-form" role="form" novalidate="">

          <h2 class="saturn">This is a controlled survey</h2>
          <p class="mars">
            This is a controlled survey. You need a valid Internet access code to participate. </br>
            Please enter your valid 20 digit Internet access code in the box below and select Continue.
          </p>
          <div class="box box--promo box--census">
            <h2 class="neptune">Internet access code</h2>
            <p class="mars">
              For example 1344 - 2045 - 4534 - 8945 - 3456
            </p>
            <ul class="transaction">
              <li><input class="input input--text" type="text" value=""></li>
              <li><input class="input input--text" type="text" value=""></li>
              <li><input class="input input--text" type="text" value=""></li>
              <li><input class="input input--text" type="text" value=""></li>
              <li><input class="input input--text" type="text" value=""></li>
            </ul>
          </div>
          <button class="btn btn--census qa-btn-get-started venus" type="submit" name="">Submit</button><br/><br/>
          <a class="mars" href="">Previous</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% include footer-census.html %}

<script>

$('.qa-btn-get-started').click(function(e) {
  e.preventDefault();
  var radioValue = $("input[name='q2']:checked"). val();
  sessionStorage.setItem('iac', radioValue);
  window.location.href = "../section-4";
});
</script>
