.help-text {
 display:none;
}

.fa-chevron-right {
 -webkit-transition: .3s;
 transition: .3s;
 margin-right:3px;
}

.chevron-rotate {
 -webkit-transform: rotate(90deg);
         transform: rotate(90deg);
}

.help-text {
 margin-top:10px;
 color:#444;
}



a, .trigger-label {
 // color: #487899;
}
