$bp: 36em;
// $bp: 32em;
// $bp: 30rem;

.survey-header {
  display: block;
  overflow: hidden;
  @include mq($bp) {
    display: flex;
    align-items: center;
  }
}

.survey-header__logo {
  margin-bottom: 1rem;
  @include mq($bp) {
    margin-bottom: 0;
    flex: 1 1 50%;
  }
}

.survey-header__info {
  @include mq($from: xs, $to: m) {
    max-width: 100%;
  }

  @include mq($bp) {
    margin-left: auto;
    float: right;
    flex: 1 1 10rem;
    margin-left: 2rem;
    position: relative;
    text-align: right;
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 8px;
      background-color: $color-green;
      position: absolute;
      top:-1.3rem;
      right: 0;
    }
  }

  @include fixed {
    width: 20em;
    float: right;
    position: relative;
  }
}
// Census
.census-header{
  color: white;
  background-color: $color-purple;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
  .survey-header{
    display: block;
    height: 182px;
    @include mq(1400px) {
      display: flex;
    }
  }
  .panel{
    background-color: transparent;
  }
  .panel__header {
    border-bottom: 0px;
    padding: 1rem 0rem;
    text-align: right;
    &:before{
      content: none;
    }
  }
  @include mq(1400px) {
    .panel__header {
      text-align: left;
      padding: 2.5rem 0rem;
    }
  }
  .survey-header__logo{
    position: absolute;
    top: 0;
    left: 0;
    svg{
      height: 180px;
      @include mq(s) {
        height: 243px;
      }
    }
  }
  .survey-header__info{
    display: block;
    &:before{
      content: none;
    }
  }
  .survey-header__title{
    margin-bottom: 0;
    font-weight: 700;
    margin-left: 80px;
    // @include mq(m) {
    //   margin-left: 190px;
    // }
    // @include mq(l) {
    //   margin-left: 190px;
    // }
    @include mq(1400px) {
      margin-left: 0px;
    }
  }
  .survey-header__subtitle{
    margin-bottom: 0.5rem;
    font-weight: 300;
    margin-left: 80px;
    // @include mq(m) {
    //   margin-left: 190px;
    // }
    // @include mq(l) {
    //   margin-left: 190px;
    // }
    @include mq(1400px) {
      margin-left: 0px;
    }
  }
  .survey-header__list{
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
    li{
      display: inline-block;
      a {
        color: white;
        font-weight: 300;
        text-decoration: none;
      }
    }
    li:first-child {
      border-right: 1px solid rgba(255,255,255,0.5);
      margin-right: 16px;
      padding-right: 16px;
    }
  }
  .info__tel {
    &:before{
      content: none;
      filter: invert(100%);
    }
    a {
    color: white;
    }
  }
}
