---
title: Household Questionnaire lite
subtitle: England
project: 2017 Census lite
globalcss: false
---

{% include survey-header-census.html %}

<div class="container">
  <div class="grid ">
    <div class="grid__col ">
      <div role="main" class="panel__body" id="main">
        <a class="mars" href="">Previous</a><br/><br/>
        <form class="form qa-questionnaire-form" role="form" novalidate="">
          <div class="hidden-form">
          </div>
          <div class="group" id="14ba4707-321d-441d-8d21-b8367366e766">
            <div class="block" id="cd3b74d1-b687-4051-9634-a8f9ce10a27d">
              <div class="section" id="017880bc-752d-4a6b-83df-e130409ee660">
                <h2 class="section__title saturn" style="border-bottom: 1px solid #ccc;padding-bottom: 1rem;" >You have now completed the Census</h2>
                <div class="question question--radios">
                  <h3 class="question__title saturn">Completed sections</h3>
                  <ul class="interstitial">
                    <li class="complete mars"><a href="">Household section</a></li>
                    <li class="complete mars"><a href="">John Doe</a></li>
                    <li class="complete mars"><a href="">Jane Doe</a></li>
                    <li class="complete mars"><a href="">Billy Doe</a></li>
                    <li class="complete mars"><a href="">Jilly Doe</a></li>
                  </ul>
                  <div class="grid ">
                    <div class="grid__col col-8@s">
                      <div class="box box--promo box--census">
                        <h2 class="neptune">Submission</h2>
                        <ul>
                          <li>You and other members will not be able to access or change your answers on submitting the questionnaire</li>
                          <li>If you wish to review your answers please select the relevant  Completed sections</li>
                          <li>If you do not submit your questionnaire, your responses will be collected when the online questionnaire closes</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn--census qa-btn-get-started venus" type="submit" name="">Submit answers</button><br/><br/>
          <a class="mars" href="">Save and complete later</a><br/><br/>
          <a class="mars" href="">Previous</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% include footer-census.html %}

<script>

$( document ).ready(function() {
  sessionStorage.removeItem('object');

  $('.qa-btn-get-started').click(function(e) {
    e.preventDefault();
    window.location.href = "../thank-you";
  });

});
</script>
