---
title: Online Household Study
project: your-household
globalcss: false
layout: eq-default-extras
cdn: v1.4.4
---

<link rel="stylesheet" href="../../style.css"/>
<header class="page__header">
    {% include survey-header.html %}
    {% include bar.html %}
</header>

<div class="page__subheader">
    <div class="container">
        <a class="js-previous-link mars"
           href="../does-anyone-else-live-here">Previous</a>
    </div>
</div>

<div class="page__container container">
    <div class="grid grid--reverse">
        <div class="grid__col col-4@m">
            <!--{% include navigation.html
            items=site.data.your-household.navigationItemsHousehold
            nav-title-id="section-address" %}-->
        </div>
        <div class="grid__col col-7@m pull-1@m">
            <main role="main" id="main" class="page__main">
                <div class="feedback__inline js-feedback-inline is-collapsed">
                    <div class="feedback__border">
                    </div>
                </div>

                <div class="group">
                    <div class="block">

                        <div class="question">
                            <h1 id="question-title"
                                class="question__title saturn"
                                data-qa="question-title">
                                Who do you need to add to <span
                                    class="address-text"></span>
                            </h1>

                            <div class="panel panel--simple panel--info u-mb-m js-panel-info">
                                <p class="mars"><strong>Include</strong> all
                                adults, children and babies who class this
                                    as their main residence, even if they
                                    are currently away for a continuous
                                    period of up to 6 months</p>
                            </div>

                            <!--<div id="member-list"></div>-->

                            <fieldset
                                    class="question__fieldset js-question-fieldset u-mb-xl">
                                <legend class="u-vh">What is your name?</legend>

                                <div class="question__answers">
                                    <div class="question__answer">
                                        <label class="label venus"
                                               for="first-name">
                                            <div class="label__inner">
                                                First name
                                            </div>
                                        </label>
                                        <input class="input input--text "
                                               id="first-name"
                                               data-qa="input-text" value=""/>
                                    </div>

                                    <div class="question__answer">
                                        <label class="label venus ">
                                            <div class="label__inner">
                                                Last name
                                            </div>
                                        </label>
                                        <input class="input input--text "
                                               id="last-name"
                                               data-qa="input-text" value=""/>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <button class="btn btn-submit btn--primary btn--lg"
                        data-qa="btn-submit" type="submit"
                        name="action[save_continue]">
                    Save and continue
                </button>

                <div class="u-mb-m">
                    <a class="mars" href="../index">Save and complete later</a>
                </div>

                <a class="page__previous page__previous--bottom js-previous-link"
                   href="javascript:history.back()"
                   id="bottom-previous">Previous</a>
            </main>
        </div>
    </div>
</div>

<script src='/js/compiled/your-household-v4/bundle.js'></script>

<script>
  var editUserId = new URLSearchParams(window.location.search).get('edit'),
    memberFound = null;

  if (editUserId) {
    memberFound = window.ONS.storage.getAllHouseholdMembers()
      .filter(function(member) {
        return member['@person'].id === editUserId;
      })[0];
  }

  if (editUserId && !memberFound) {
    throw Error('Member not found');
  }

  $('.btn-submit').click(function(e) {
    e.preventDefault(); // do not submit the form like usual

    var person = window.ONS.storage.TYPES.person({
      firstName: document.getElementById('first-name').value,
      lastName: document.getElementById('last-name').value
    });

    var personType = window.ONS.storage.KEYS['HOUSEHOLD_MEMBER_TYPE'];

    if (editUserId && memberFound) {
      person.id = editUserId;
      window.ONS.storage['updateHouseholdMember'](person, {type: personType});
    }
    else {
      window.ONS.storage['addHouseholdMember'](person, {type: personType});
    }

    /**
     * Routing
     */
    if (window.location.search.match(/journey=student-halls/)) {
      window.location = '../is-there-does-anyone-else-student-halls/';
    }
  });

  $(function() {
    var person,
      overrideTitleStudentHalls = 'Who do you need to add who lives in a student halls of residence for part of the year?';

    if (window.location.search.match(/journey=student-halls/)) {
      $('#question-title').html(overrideTitleStudentHalls);
      $('.js-panel-info').hide();
    }

    if (memberFound) {
      person = memberFound['@person'];

      $('#first-name').val(person.firstName);
      $('#last-name').val(person.lastName);
    }
  });
</script>

